<div ng-include="'templates/header.html'"></div>
<div ng-include="'templates/main-menu.html'"></div>
<div class="container-fluid">
  <div class="clearfix">
    <div class="panel panel-default" ng-init="takeVm.initTakeoffReportInputs();">
      <div class="panel-body new-tk-bg">
        <section>
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-4 col-md-5 col-sm-5 dashboard-content">
                <h1>Add Tracking Number</h1>
              </div>
              <!-- .col -->
              <div class="col-lg-8 col-md-7 col-sm-7 dashboard-content" style="font-size:12px;"> Make sure that the Tracking Number AND the Freight charges are entered before you update the order. </div>
              <!-- .col -->
              <div class="col-lg-12 col-md-12 col-sm-12"><br>
              </div>
              <!-- .col -->
            </div>
            <!-- .row -->
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12"></div>
            </div>
          </div>
          <!-- .container -->
          <form name="add_track" id="add_track" method="post" action="" class="formular">
            <div class="theme-form quote-bg">
              <div class="container">
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> &nbsp; </div>
                  <div class="col-lg-10 col-md-10 col-sm-9 col-lg-offset-2 col-md-offset-2 col-sm-offset-3 col-lg-offset-0 col-md-offset-0">
                    <div class="form-group">
                      <input type="submit" value="Update Order" class="submit-btn btn btn-primary">
                      <input type="hidden" name="act" value="add">
                      <input type="hidden" name="ordernum" value="17AW-4025">
                      <input type="hidden" value="17AW-4025" id="order">
                      <input type="hidden" id="counter" name="counter" value="2">
                      <input type="hidden" id="oiid" name="oiid" value="99740">
                    </div>
                  </div>
                  <!-- .col -->
                </div>
                <!-- .row -->
                <div class="row">&nbsp;</div>
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> <span class="new-take-off-title"><span style="font-size:14px;">Trucker</span><strong> for Order Number <font color="#FF0000">17AW-4025</font> is :</strong></span> </div>
                  <!-- .col -->
                  <div class="col-lg-10 col-md-10 col-sm-9">
                    <div class="form-group">
                      <select name="trucker" id="trucker" class="form-control">
                        <option value="">--</option>
                        <option value="A. DUIE PYLE">A. DUIE PYLE</option>
                        <option value="ABF FREIGHT SYSTEM INC">ABF FREIGHT SYSTEM INC</option>
                        <option value="AVERITT EXPRESS">AVERITT EXPRESS</option>
                        <option value="CUSTOM GLOBAL LOGISTICS">CUSTOM GLOBAL LOGISTICS</option>
                        <option value="DAYLIGHT TRUCKING">DAYLIGHT TRUCKING</option>
                        <option value="EDI">EDI</option>
                        <option value="FEDEX">FEDEX</option>
                        <option value="METROLOGISTICS">METROLOGISTICS</option>
                        <option value="NEW ENGLAND MOTOR FREIGHT">NEW ENGLAND MOTOR FREIGHT</option>
                        <option value="NEWPENN">NEWPENN</option>
                        <option value="OLD DOMINION">OLD DOMINION</option>
                        <option value="PICKUP">PICKUP</option>
                        <option value="ROAD RUNNER">ROAD RUNNER</option>
                        <option value="SBA GLOBAL LOGISTIC">SBA GLOBAL LOGISTIC</option>
                        <option value="UPS">UPS</option>
                        <option value="USF Trucking">USF TRUCKING</option>
                        <option value="USFR USF REDDAWAY">USFR USF REDDAWAY</option>
                        <option value="Vice Vision Express ">VICE VISION EXPRESS </option>
                        <option value="YRC FREIGHT">YRC FREIGHT</option>
                      </select>
                    </div>
                  </div>
                  <!-- .col -->
                  <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> <span class="new-take-off-title"> <span style="font-size:14px;">Tracking Number</span><strong> for Order Number <font color="#FF0000">17AW-4025</font> is :</strong> </span> </div>
                  <!-- .col -->
                  <div class="col-lg-10 col-md-10 col-sm-9">
                    <div class="form-group">
                      <input type="text" class="form-control" name="tracknum" id="tracknum" value="">
                    </div>
                  </div>
                  <!-- .col -->
                  <div style="clear:both;"></div>
                  <div class="col-lg-12 col-md-2 col-sm-3 visible-xs-padding-right">&nbsp;</div>
                  <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> <span class="new-take-off-title"><strong>Freight Charges:</strong>$</span> </div>
                  <!-- .col -->
                  <div class="col-lg-10 col-md-10 col-sm-9">
                    <div class="form-group">
                      <input type="text" class="form-control" name="freight" id="freight" value="">
                    </div>
                  </div>
                  <!-- .col -->
                  <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> <span class="new-take-off-title"> <span style="font-size:14px;">Trucker 2</span> <strong>for Order Number <font color="#FF0000">17AW-4025</font> is :</strong> </span> </div>
                  <!-- .col -->
                  <div class="col-lg-10 col-md-10 col-sm-9">
                    <div class="form-group">
                      <select name="trucker2" id="trucker2" class="form-control">
                        <option value="">--</option>
                        <option value="A. DUIE PYLE">A. DUIE PYLE</option>
                        <option value="ABF FREIGHT SYSTEM INC">ABF FREIGHT SYSTEM INC</option>
                        <option value="AVERITT EXPRESS">AVERITT EXPRESS</option>
                        <option value="CUSTOM GLOBAL LOGISTICS">CUSTOM GLOBAL LOGISTICS</option>
                        <option value="DAYLIGHT TRUCKING">DAYLIGHT TRUCKING</option>
                        <option value="EDI">EDI</option>
                        <option value="FEDEX">FEDEX</option>
                        <option value="METROLOGISTICS">METROLOGISTICS</option>
                        <option value="NEW ENGLAND MOTOR FREIGHT">NEW ENGLAND MOTOR FREIGHT</option>
                        <option value="NEWPENN">NEWPENN</option>
                        <option value="OLD DOMINION">OLD DOMINION</option>
                        <option value="PICKUP">PICKUP</option>
                        <option value="ROAD RUNNER">ROAD RUNNER</option>
                        <option value="SBA GLOBAL LOGISTIC">SBA GLOBAL LOGISTIC</option>
                        <option value="UPS">UPS</option>
                        <option value="USF Trucking">USF TRUCKING</option>
                        <option value="USFR USF REDDAWAY">USFR USF REDDAWAY</option>
                        <option value="Vice Vision Express ">VICE VISION EXPRESS </option>
                        <option value="YRC FREIGHT">YRC FREIGHT</option>
                      </select>
                    </div>
                  </div>
                  <!-- .col -->
                  <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> <span class="new-take-off-title"> <span style="font-size:14px;">Tracking Number 2</span><strong> for Order Number <font color="#FF0000">17AW-4025</font> is :</strong> </span> </div>
                  <!-- .col -->
                  <div class="col-lg-10 col-md-10 col-sm-9">
                    <div class="form-group">
                      <input type="text" class="form-control" name="tracknum_etc[]" id="tracknum_etc" value="">
                    </div>
                  </div>
                  <!-- .col -->
                  <div style="clear:both;"></div>
                  <div class="col-lg-12 col-md-2 col-sm-3 visible-xs-padding-right">&nbsp;</div>
                  <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> <span class="new-take-off-title"> <strong>Freight Charges:</strong>$ </span> </div>
                  <!-- .col -->
                  <div class="col-lg-10 col-md-10 col-sm-9">
                    <div class="form-group">
                      <input type="text" class="form-control" name="freight_etc[]" id="freight_etc[]" value="">
                    </div>
                  </div>
                  <!-- .col -->
                  <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> <span class="new-take-off-title"> <span style="font-size:14px;">Trucker 3</span><strong> for Order Number <font color="#FF0000">17AW-4025</font> is :</strong> </span> </div>
                  <!-- .col -->
                  <div class="col-lg-10 col-md-10 col-sm-9">
                    <div class="form-group">
                      <select name="trucker3" id="trucker3" class="form-control">
                        <option value="">--</option>
                        <option value="A. DUIE PYLE">A. DUIE PYLE</option>
                        <option value="ABF FREIGHT SYSTEM INC">ABF FREIGHT SYSTEM INC</option>
                        <option value="AVERITT EXPRESS">AVERITT EXPRESS</option>
                        <option value="CUSTOM GLOBAL LOGISTICS">CUSTOM GLOBAL LOGISTICS</option>
                        <option value="DAYLIGHT TRUCKING">DAYLIGHT TRUCKING</option>
                        <option value="EDI">EDI</option>
                        <option value="FEDEX">FEDEX</option>
                        <option value="METROLOGISTICS">METROLOGISTICS</option>
                        <option value="NEW ENGLAND MOTOR FREIGHT">NEW ENGLAND MOTOR FREIGHT</option>
                        <option value="NEWPENN">NEWPENN</option>
                        <option value="OLD DOMINION">OLD DOMINION</option>
                        <option value="PICKUP">PICKUP</option>
                        <option value="ROAD RUNNER">ROAD RUNNER</option>
                        <option value="SBA GLOBAL LOGISTIC">SBA GLOBAL LOGISTIC</option>
                        <option value="UPS">UPS</option>
                        <option value="USF Trucking">USF TRUCKING</option>
                        <option value="USFR USF REDDAWAY">USFR USF REDDAWAY</option>
                        <option value="Vice Vision Express ">VICE VISION EXPRESS </option>
                        <option value="YRC FREIGHT">YRC FREIGHT</option>
                      </select>
                    </div>
                  </div>
                  <!-- .col -->
                  <div style="clear:both;"></div>
                  <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> <span class="new-take-off-title"> <span style="font-size:14px;">Tracking Number 3</span><strong> for Order Number <font color="#FF0000">17AW-4025</font> is :</strong> </span> </div>
                  <!-- .col -->
                  <div class="col-lg-10 col-md-10 col-sm-9">
                    <div class="form-group">
                      <input type="text" class="form-control" name="tracknum_etc[]" id="tracknum_etc[]" value="">
                    </div>
                  </div>
                  <!-- .col -->
                  <div style="clear:both;"></div>
                  <div class="col-lg-12 col-md-2 col-sm-3 visible-xs-padding-right">&nbsp;</div>
                  <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> <span class="new-take-off-title"> <strong>Freight Charges:</strong>$ </span> </div>
                  <!-- .col -->
                  <div class="col-lg-10 col-md-10 col-sm-9">
                    <div class="form-group">
                      <input type="text" class="form-control" name="freight_etc[]" id="freight_etc[]" value="">
                    </div>
                  </div>
                  <!-- .col -->
                </div>
                <!-- .row -->
                <div class="row">&nbsp;</div>
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> &nbsp; </div>
                  <div class="col-lg-10 col-md-10 col-sm-9 col-lg-offset-2 col-md-offset-2 col-sm-offset-3 col-lg-offset-0 col-md-offset-0">
                    <input type="submit" value="Update Order" class="submit-btn btn btn-primary">
                  </div>
                  <!-- .col -->
                </div>
                <!-- .row -->
              </div>
              <!-- .container -->
            </div>
            <!-- .bg-d0e9f4 -->
          </form>
        </section>
      </div>
    </div>
  </div>
</div>
<div style="clear:both;height:50px;"></div>
<div ng-include="'templates/footer.html'" ></div>
