<div ng-include="'templates/header.html'"></div>
<div ng-include="'templates/main-menu.html'"></div>
<div class="container-fluid" style="margin-top:-10px;">
	<div class="clearfix">
		<div class="panel panel-default shadow" ng-init="bidVm.getBidders();">
			<div class="panel-heading form-heading">
				<label>Manage Bidders</label>				
				<span class="pull-right"><a href ui-sref="bidder-add" >Add Bidder</a></span>	
			</div>
			<div class="panel-body" style="margin-top:-20px;">
				<div style="text-align:right;">
					<ul uib-pagination total-items="bidVm.totalItems" items-per-page = "bidVm.pageSize" ng-model="bidVm.currentPage" ng-change="bidVm.pageChanged()"></ul>
				</div>
  
				<!-- .row -->
				<div class="row" id="contents">
				   <!-- .col -->
				  <div class="col-lg-12">
				   
					<form id="users_view_form" class="table-container" action="" method="post">
					  <div class="table-container">
						<table border="1" width="100%" cellpadding="0" cellspacing="0" class="table-responsive theme-table">
						  <thead>
							
							<tr style="background:#042F51;">
							  <td style="padding:5px; color:#FFF;" align="center">S. No.</td>
							  <td style="padding:5px; color:#FFF;" align="center">Bidder</td>
							  <td style="padding:5px; color:#FFF;" align="center">City</td>
							  <td style="padding:5px; color:#FFF;" align="center">State</td>
							  <td style="padding:5px; color:#FFF;" align="center">Zip</td>
							  <td style="padding:5px; color:#FFF;" align="center">Phone</td>
							  <td style="padding:5px; color:#FFF;" align="center">Fax</td>
							  <td style="padding:5px; color:#FFF;" align="center">Email</td>
							   <td style="padding:5px; color:#FFF;" align="center">Website</td>
							  <td style="padding:5px; color:#FFF;" align="center">Sales Person</td>
							   <td style="padding:5px; color:#FFF;" align="center">Created By(User Code)</td>
							    <td style="padding:5px; color:#FFF;" align="center">Updated By(User Code)</td>
							  <td style="padding:5px; color:#FFF;" filter="false" align="center"></td>
							</tr>
						  </thead>
						  <tbody>
							<tr height="25" ng-repeat="bidder in bidVm.bidders track by $index">
							  <td align="center">{{$index + 1}}</td>
							  <td align="center">{{bidder.name}}</td>
							  <td align="center">{{bidder.city}}</td>
							  <td align="center">{{bidder.state}}</td>
							  <td align="center">{{bidder.zip}}</td>
							  <td align="center">{{bidder.phone}}</td>
							  <td align="center">{{bidder.email}}</td>
							  <td align="center">{{bidder.website}}</td>
							  <td align="center">{{bidder.salesPersonName}}</td>
							  <td align="center">{{bidder.createdByUserCode}}</td>
							  <td align="center">{{bidder.updatedByUserCode}}</td>
							  <td align="center">&nbsp; 
								<a href ui-sref="bidder-edit({id:bidder.id})"> 
									<img src="images/file_edit.png" title="edit user" border="0">
								</a> 
									&nbsp;&nbsp; 
									<img src="images/file_delete.png" style="cursor:pointer;" title="delete user" onclick="ModifyUserStatus('deleted','90')" border="0"> &nbsp;&nbsp; <a href="javascript:void(0);" onclick="ShowDetail(90)">
									
								</a>
							  </td>
							</tr>							
						</table>
						</td>
						</tr>
						</tbody>
						</table>
						</div>
					  </div>
					</form>
				  </div>
				 </div>
				  
				</div>
			  </div>
			</div>
		</div>
</div>

<div ng-include="'templates/footer.html'" ></div>