<div ng-include="'templates/header.html'"></div>
<div ng-include="'templates/main-menu.html'"></div>
<div class="container-fluid" style="margin-top:-10px;">
<div class="clearfix">
  <!--<div class="panel panel-default shadow" ng-hide="invoiceVm.jobOrder.invoiceId">
			<div class="panel-heading form-heading panel-heading-top">
				No order book entry has been created yet for this job. Follow
				<span><a href ui-sref="orderbook-add" >New Order Book</a></span>
				Link to add order book detail for this job.
			</div>
		</div>-->
  <div class="panel panel-default shadow">
    <form name="invoiceForm" ng-submit="invoiceVm.saveInvoice();">
      <div class="panel-heading form-heading panel-heading-top">
        <label>Make Invoice for JobID: {{invoiceVm.selectedOrderNumber}}</label>
        &nbsp; | &nbsp;
        <label>Balance Payable : {{invoiceVm.invoice.billableAmount - invoiceVm.invoice.totalPayment | currency}}</label>
        <span class="pull-right">
        <input ng-disabled="!invoiceVm.invoice.id" type="submit" value="{{invoiceVm.action}} Invoice" class="invoice-add-action submit-btn btn btn-success">
        </span> <span id="invoice-add-spinner" style="display:none;"> <img src="images/loading.gif" /> </span>
        <div class="panel-body">
          <!-- .row -->
          <div class="row" id="contents" style="margin-top:25px;">
            <div class="col-lg-12 pad-none">
              <div class="table-container">
                <uib-tabset active="invoiceVm.activeIndex" justified="true">
                  <uib-tab index="0" heading="Job Order" ng-click="invoiceVm.setActiveTab(0);">
                    <div class="panel-default shadow">
                      <div class="panel-body">
                        <div class="row order-hed">
                          <div class="col-lg-3 col-md-3 col-sm-3"> <span class="form-label"> Customer PO # </span> </div>
                          <div class="col-lg-3 col-md-3 col-sm-3"> <span class="form-label"> Contractor Name </span> </div>
                          <div class="col-lg-3 col-md-3 col-sm-3"> <span class="form-label"> AW Order Numbers </span> </div>
                          <div class="col-lg-3 col-md-3 col-sm-3"> <span class="form-label"> Billing Amount </span> </div>
                        </div>
                        <div class="row order-hed-con">
                          <div class="col-lg-3 col-md-3 col-sm-3"> <span class="form-label"> {{invoiceVm.jobOrder.poName?invoiceVm.jobOrder.poName:"NOT ENTERED"}} </span> </div>
                          <div class="col-lg-3 col-md-3 col-sm-3"> <span class="form-label"> {{invoiceVm.jobOrder.contractorName?invoiceVm.jobOrder.contractorName:"NOT ENTERED"}} </span> </div>
                          <div class="col-lg-3 col-md-3 col-sm-3" ng-show="invoiceVm.jobOrder.jobOrderBookNumbers && invoiceVm.jobOrder.jobOrderBookNumbers.length > 0">
                            <ul class="col-lg-12 col-md-12 col-sm-12">
                              <li  ng-repeat = "order in invoiceVm.jobOrder.jobOrderBookNumbers"> {{order}} </li>
                            </ul>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-3" ng-show="!invoiceVm.jobOrder.jobOrderBookNumbers || invoiceVm.jobOrder.jobOrderBookNumbers.length == 0"> No order book(s) created yet </div>
                          <div class="col-lg-3 col-md-3 col-sm-3"> <span class="form-label"> {{invoiceVm.jobOrder.billingAmount?invoiceVm.jobOrder.billingAmount:"NOT ENTERED" | currency}} </span> </div>
                        </div>
                        <div class="row order-hed">
                          <div class="col-lg-3 col-md-3 col-sm-3"> <span class="form-label"> Sales Person </span> </div>
                          <div class="col-lg-3 col-md-3 col-sm-3"> <span class="form-label"> Ship To Detail </span> </div>
                          <div class="col-lg-3 col-md-3 col-sm-3"> <span class="form-label"> Job Name </span> </div>
                          <div class="col-lg-3 col-md-3 col-sm-3"> <span class="form-label"> Actions </span> </div>
                        </div>
                        <div class="row order-hed-con">
                          <div class="col-lg-3 col-md-3 col-sm-3"> <span class="form-label"> {{invoiceVm.jobOrder.createdByUserCode?invoiceVm.jobOrder.createdByUserCode:"NOT ENTERED"}} </span> </div>
                          <div class="col-lg-3 col-md-3 col-sm-3"> <span class="form-label"> {{invoiceVm.invoice.shipTo?invoiceVm.invoice.shipTo:"NOT ENTERED"}} </span> </div>
                          <div class="col-lg-3 col-md-3 col-sm-3"> <span class="form-label"> {{invoiceVm.jobOrder.jobName?invoiceVm.jobOrder.jobName:"NOT ENTERED"}} </span> </div>
                          <div class="col-lg-3 col-md-3 col-sm-3"> <span class="form-label"> <a href="">Edit This Job Order</a> </span> <br /><span class="form-label"> <a href="">Link Order/s to this JobOrder</a> </span></div>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default shadow" style="background:#F7EDF0">
                      <div class="panel-body">
                        <div class="row">
                        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xss-12" style="text-align:center; padding-bottom:15px;"> <div class="fieldCol" style="color:#FF0000; font-weight:bold;">Ship To must be entered.<br>Associated Order Number/s must be entered.<br></div> </div>-->
                          <div class="col-lg-2 col-md-2 col-sm-2"> <span class="form-label"> Tax Rate (%) </span> <i class="star red">*</i> <span class="colon">:</span> </div>
                          <div class="col-lg-8 col-md-8 col-sm-7">
                            <div class="form-group">
                              <select ng-required="invoiceVm.activeIndex == 0" class="form-control" 
											  ng-model="invoiceVm.invoice.taxRateId" 
											  ng-options="tr.id as tr.customName for tr in invoiceVm.taxes">
                                <option value="">--%--</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-3"><a href="">[Add/Modify Tax Rate]</a></div>
                        </div>
                        <div class="row">
                          <div class="col-lg-2 col-md-2 col-sm-2"> <span class="form-label"> Ship Date </span> <span class="colon">:</span> </div>
                          <div class="col-lg-8 col-md-8 col-sm-9">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Ship Date" uib-datepicker-popup="{{dateFormat}}" ng-model="invoiceVm.invoice.shipDate" is-open="invoiceVm.shipDate.opened" data-ng-click="invoiceVm.shipDatePicker()" datepicker-options="dateOptions" close-text="Close" close-on-date-selection="true" datepicker-append-to-body="true">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-2 col-md-2 col-sm-2"> <span class="form-label"> Shipment Type </span> <span class="colon">:</span> </div>
                          <div class="col-lg-4 col-md-4 col-sm-5">
                            <div class="form-group">
                              <select class="form-control"
											  ng-model="invoiceVm.invoice.shipment" 
											  ng-options="so.id as so.title for so in invoiceVm.shipmentOptions">
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-5" ng-show="invoiceVm.invoice.shipment === 'PARTIAL' ">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Enter partial amount" ng-model="invoiceVm.invoice.partialPayment" ng-required="invoiceVm.activeIndex == 0 && invoiceVm.invoice.shipment === 'PARTIAL'" >
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-2 col-md-2 col-sm-2"> <span class="form-label"> Shipped Via </span> <span class="colon">:</span> </div>
                          <div class="col-lg-8 col-md-8 col-sm-9"> {{invoiceVm.invoice.shippedVia}}
                            <div class="form-group">
                              <select class="form-control"
											  ng-model="invoiceVm.invoice.shippedViaId" 
											  ng-options="sv.id as sv.shippedViaAddress for sv in invoiceVm.shippedVias" 
											  ng-selected="invoiceVm.invoice.shippedVia.id == sv.id">
                                <option value="">--- Select ---</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-2 col-md-2 col-sm-2"> <span class="form-label"> Item Shipped -1 </span> <span class="colon">:</span> </div>
                          <div class="col-lg-8 col-md-8 col-sm-9">
                            <div class="form-group">
                              <select class="form-control"
											  ng-model="invoiceVm.invoice.item1Id" 
											  ng-options="sv.id as sv.item for sv in invoiceVm.shippedItems">
                                <option value="">--- Select ---</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-2 col-md-2 col-sm-2"> <span class="form-label"> Item Shipped -2 </span> <span class="colon">:</span> </div>
                          <div class="col-lg-8 col-md-8 col-sm-9">
                            <div class="form-group">
                              <select class="form-control"
											  ng-model="invoiceVm.invoice.item2Id" 
											  ng-options="sv.id as sv.item for sv in invoiceVm.shippedItems">
                                <option value="">--- Select ---</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-2 col-md-2 col-sm-2"> <span class="form-label"> Item Shipped -3 </span> <span class="colon">:</span> </div>
                          <div class="col-lg-8 col-md-8 col-sm-9">
                            <div class="form-group">
                              <select class="form-control"
											  ng-model="invoiceVm.invoice.item3Id" 
											  ng-options="sv.id as sv.item for sv in invoiceVm.shippedItems">
                                <option value="">--- Select ---</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-2 col-md-2 col-sm-2"> <span class="form-label"> Item Shipped -4 </span> <span class="colon">:</span> </div>
                          <div class="col-lg-8 col-md-8 col-sm-9">
                            <div class="form-group">
                              <select class="form-control"
											  ng-model="invoiceVm.invoice.item4Id" 
											  ng-options="sv.id as sv.item for sv in invoiceVm.shippedItems">
                                <option value="">--- Select ---</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-2 col-md-2 col-sm-2"> <span class="form-label"> Item Shipped -5 </span> <span class="colon">:</span> </div>
                          <div class="col-lg-8 col-md-8 col-sm-9">
                            <div class="form-group">
                              <select class="form-control"
											  ng-model="invoiceVm.invoice.item5Id" 
											  ng-options="sv.id as sv.item for sv in invoiceVm.shippedItems">
                                <option value="">--- Select ---</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-2 col-md-2 col-sm-2"> <span class="form-label"> Tax Exempt Number </span> <span class="colon">:</span> </div>
                          <div class="col-lg-8 col-md-8 col-sm-9">
                            <div class="form-group">
                              <input type="text" placeholder="Tax Exempt Number" class="form-control" maxlength="25" ng-model="invoiceVm.invoice.taxExemptNumber"  />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-2 col-md-2 col-sm-2"> <span class="form-label"> Prepay Check Number </span> <span class="colon">:</span> </div>
                          <div class="col-lg-8 col-md-8 col-sm-9">
                            <div class="form-group">
                              <input type="text" placeholder="Prepay Check Number" class="form-control" maxlength="25" ng-model="invoiceVm.invoice.prePayCheckNumber"  />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-2 col-md-2 col-sm-2"> <span class="form-label"> Prepay Amount </span> <span class="colon">:</span> </div>
                          <div class="col-lg-8 col-md-8 col-sm-9">
                            <div class="form-group">
                              <input ng-change="invoiceVm.calculatePayable();" type="text" placeholder="Prepay Amount" class="form-control" ng-model="invoiceVm.invoice.prePayAmount"  />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </uib-tab>
                  <uib-tab index="1" heading="Profit Sheet" ng-click="invoiceVm.setActiveTab(1);" >
                    <div class="panel panel-default shadow">
                      <div class="panel-body prob-hei">
                        <div class="row">
                          <div class="col-lg-3 col-md-3 col-sm-3"> <span class="form-label"> AWACP Cost Sheet for JobID :</span> </div>
                          <div class="col-lg-3 col-md-3 col-sm-3"> <span style="font-weight:normal" class="form-label"> {{invoiceVm.jobOrder.orderNumber}} </span> </div>
                          
                          
                        
                        
                          <div class="col-lg-3 col-md-3 col-sm-3"> <span class="form-label"> Contractor :</span> </div>
                          <div class="col-lg-3 col-md-3 col-sm-3"> <span style="font-weight:normal" class="form-label"> {{invoiceVm.jobOrder.contractorName}} </span> </div>
                        </div>
                        
                        
                        <div class="row">
                          <div class="col-lg-3 col-md-3 col-sm-3"> <span class="form-label"> Job Name :</span> </div>
                          <div class="col-lg-3 col-md-3 col-sm-3"> <span style="font-weight:normal" class="form-label"> {{invoiceVm.jobOrder.jobName}} </span> </div>
                          
                        
                        
                          <div class="col-lg-3 col-md-3 col-sm-3"> <span class="form-label"> Job Address :</span> </div>
                          <div class="col-lg-3 col-md-3 col-sm-3"> <span style="font-weight:normal" class="form-label"> {{invoiceVm.jobOrder.jobAddress}} </span> </div>
                        </div>
                        
                        <div class="row">
                          <div class="col-lg-3 col-md-3 col-sm-3"> <span class="form-label"> Salesman :</span> </div>
                          
                          <div class="col-lg-3 col-md-3 col-sm-3"> <span style="font-weight:normal" class="form-label"> {{invoiceVm.jobOrder.salesPersonName}} </span> </div>
                          
                        
                     <div class="col-lg-3 col-md-3 col-sm-3"> <span class="form-label"> Billing Amount :</span> </div>     
                          <div class="col-lg-3 col-md-3 col-sm-3"> <span class="form-label"> {{invoiceVm.jobOrder.billingAmount | currency}} </span> </div>
                        </div>
                        
                      </div>
                    </div>
                    <div class="panel-default shadow">
                      <div class="panel-body">
                        <div class="row prob-bg-hed">
                          <div class="col-lg-2 col-md-2 col-sm-2"> <span class="form-label"> AWACP PO# </span> </div>
                          <div class="col-lg-2 col-md-2 col-sm-2"> <span class="form-label"> ORBF </span> </div>
                          <div class="col-lg-1 col-md-1 col-sm-1"> <span class="form-label"> FAC INV </span> </div>
                          <div class="col-lg-1 col-md-1 col-sm-1"> <span class="form-label"> INV AMT </span> </div>
                          <div class="col-lg-1 col-md-1 col-sm-1"> <span class="form-label"> FRT </span> </div>
                          <div class="col-lg-1 col-md-1 col-sm-1"> <span class="form-label"> SP</span> </div>
                          <div class="col-lg-1 col-md-1 col-sm-1"> <span class="form-label"> UC </span> </div>
                          <div class="col-lg-1 col-md-1 col-sm-1"> <span class="form-label"> UC2 </span> </div>
                          <div class="col-lg-2 col-md-2 col-sm-2"> <span class="form-label"> COMMENT-MODEL NUMBER </span> </div>
                        </div>
                        
                        <div class="row input-color" ng-repeat="psItem in invoiceVm.invoice.profitSheetItems track by $index">
                          <div class="col-lg-2 col-md-2 col-sm-2 pad-none"> <span class="form-label">
                            <input type="text" placeholder="AWACP PO#" class="form-control" ng-model="invoiceVm.invoice.profitSheetItems[$index].awacpPoNumber"  ng-readonly="!invoiceVm.invoice.profitSheetItems[$index].manual"  />
                            </span> </div>
                          <div class="col-lg-2 col-md-2 col-sm-2 pad-none"> <span class="form-label">
                            <input type="text" placeholder="ORBF" class="form-control" ng-model="invoiceVm.invoice.profitSheetItems[$index].orbf"  ng-readonly="!invoiceVm.invoice.profitSheetItems[$index].manual"  />
                            </span> </div>
                          <div class="col-lg-1 col-md-1 col-sm-1 pad-none"> <span class="form-label">
                            <input type="text" placeholder="FAC INV" class="form-control" ng-model="invoiceVm.invoice.profitSheetItems[$index].facInv"  ng-readonly="!invoiceVm.invoice.profitSheetItems[$index].manual" />
                            </span> </div>
							
                          <div class="col-lg-1 col-md-1 col-sm-1 pad-none"> <span class="form-label">
                            <input type="text" placeholder="AWACP PO#" class="form-control" ng-model="invoiceVm.invoice.profitSheetItems[$index].invAmount"  ng-readonly="!invoiceVm.invoice.profitSheetItems[$index].manual" />
                            </span> </div>
                          <div class="col-lg-1 col-md-1 col-sm-1 pad-none"> <span class="form-label">
                            <input type="text" placeholder="FREIGHT" class="form-control" ng-model="invoiceVm.invoice.profitSheetItems[$index].freight" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 44 || event.charCode == 0 ">
                            </span> </div>
							
							
                          <div class="col-lg-1 col-md-1 col-sm-1 text-center"> <span class="form-label"> {{invoiceVm.invoice.salesPersonCode?invoiceVm.invoice.salesPersonCode:"--"}} </span> </div>
                          <div class="col-lg-1 col-md-1 col-sm-1 text-center"> <span class="form-label"> {{invoiceVm.invoice.createdByUserCode?invoiceVm.invoice.createdByUserCode:"--"}} </span> </div>
                          <div class="col-lg-1 col-md-1 col-sm-1 text-center"> <span class="form-label"> {{invoiceVm.invoice.updatedByUserCode?invoiceVm.invoice.updatedByUserCode:"--"}} </span> </div>
                          <div class="col-lg-2 col-md-2 col-sm-2 pad-none"> <span class="form-label">
                            <input type="text" placeholder="Comment" class="form-control" ng-model="invoiceVm.invoice.profitSheetItems[$index].comment" /> 
                            </span> <span class="form-label" ng-show="invoiceVm.invoice.profitSheetItems[$index].manual"> &nbsp;<a href ng-click="invoiceVm.removeCostSheetLineItem($index);" style="padding-right:10px;">remove </a> </span> </div>
                        </div>
						<div class="col-lg-12"><a class="pull-right" href ng-click="invoiceVm.addCostSheetLineItem();" style="padding:15px 0; font-weight:bold;">Add line item[+] </a></div>
                        <div class="row prob-bg-hed" style="margin-top:20px;">
                          <div class="col-lg-2 col-md-2 col-sm-2"> <span class="form-label"> Total Cost </span> <span class="colon">:</span> </div>
                          <div class="col-lg-2 col-md-2 col-sm-2" style="padding:10px 0 !important"> <span class="form-label">
                            <input type="text" placeholder="Total Cost" class="form-control" ng-model="invoiceVm.invoice.totalCost"  ng-readonly="true" />
                            </span> </div>
                          <div class="col-lg-2 col-md-2 col-sm-2"> <span class="form-label"> Total {{invoiceVm.invoice.profitOrLossLabel}} </span> <span class="colon">:</span> </div>
                          <div class="col-lg-2 col-md-2 col-sm-2" style="background:#090;"> <span class="form-label"> {{invoiceVm.invoice.totalProfit | currency }} </span> </div>
                          <div class="col-lg-2 col-md-2 col-sm-2"> <span class="form-label"> {{invoiceVm.invoice.profitOrLossLabel}} % </span> <span class="colon">:</span> </div>
                          <div class="col-lg-2 col-md-2 col-sm-2" style="background:#090;"> <span class="form-label"> {{invoiceVm.invoice.profitPercent < 0 ? invoiceVm.invoice.profitPercent * -1 : invoiceVm.invoice.profitPercent | number : 2}} </span> </div>
                        </div>
                      </div>
                    </div>
					<span ng-show="invoiceVm.jobOrder.invoiceMode === 'inv' && !invoiceVm.jobOrder.finalUpdate">
						<input ng-disabled="invoiceVm.jobOrder.finalUpdate" id="final-update-btn" class="btn btn-success" type="button" value="Final Update" ng-click="invoiceVm.finalUpdate(invoiceVm.jobOrder.id, invoiceVm.jobOrder.orderNumber, invoiceVm.jobOrder.invoiceId);" />&nbsp; | &nbsp;
					</span>
					<a href=""><img src="images/print_icon.png" alt="print"></a>
                  </uib-tab>
                </uib-tabset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div ng-include="'templates/footer.html'" ></div>
