<div ng-include="'templates/header.html'"></div>
<div ng-include="'templates/main-menu.html'"></div>
<div class="container-fluid">
	<div class="clearfix">
		<div class="panel panel-default">
		<div class="panel-heading form-heading">
			<label>Manage Contractors</label>				
		</div>
		<div class="panel-body">
			<ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></ul>
		</div>
	</div>
</div>

<div ng-include="'templates/footer.html'" ></div>