
<!-- ************************************************************************************************************************************-->

<div ng-include="'templates/header.html'"></div>
<div ng-include="'templates/main-menu.html'"></div>

<div class="container-fluid">
	<div class="clearfix">
		<div class="panel panel-default" ng-init="conVm.initContractorMasterInputs()">
				<div class="panel-heading">
					<label>Add Contractor</label>				
				</div>
				<div class="panel-body">
					<form ng-submit="conVm.addContractor();">
						<!-- .row -->
						<div class="row">
						  <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> 
							<span class="new-take-off-title">
								<i class="star red">*</i>Contractor Name
							</span>
							<span class="colon">:</span> 
						</div>
						  <!-- .col -->
						  <div class="col-lg-10 col-md-10 col-sm-9">
							<div class="form-group">
							  <input type="text" class="form-control" ng-model="conVm.contractor.contractorTitle" ng-required="true" />
							</div>
						  </div>
						  						  <!-- .col -->
						  <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> <span class="new-take-off-title"><i class="star red">*</i>Country</span><span class="colon">:</span> </div>
						  <!-- .col -->
						  <div class="col-lg-10 col-md-10 col-sm-9">
							<div class="form-group">
								<select 
								  ng-model="conVm.contractor.country" 
								  ng-options="country as country.countryName for country in conVm.countries"  ng-change="conVm.getStates();" ng-required = "true">
								  <option value="">--- Select ---</option>
								</select>
							</div>
						  </div>
						   <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> <span class="new-take-off-title"><i class="star red">*</i>State</span><span class="colon">:</span> </div>
						  <!-- .col -->
						  <div class="col-lg-10 col-md-10 col-sm-9">
							<div class="form-group">
							 <select 
								  ng-model="conVm.contractor.state" 
								  ng-options="state as state.stateName for state in conVm.states" ng-required = "true">
								  <option value="">--- Select ---</option>
								</select>
							</div>
						  </div>
						  <!-- .col -->
						  <!-- .col -->
						  <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> <span class="new-take-off-title"><i class="star red">*</i>Street</span><span class="colon">:</span> </div>
						  <!-- .col -->
						  <div class="col-lg-10 col-md-10 col-sm-9">
							<div class="form-group">
							  <input type="text" class="form-control" ng-model="conVm.contractor.street" ng-required="true" />
							</div>
						  </div>
						  <!-- .col -->
						  <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> <span class="new-take-off-title"><i class="star red">*</i>City</span><span class="colon">:</span> </div>
						  <!-- .col -->
						  <div class="col-lg-10 col-md-10 col-sm-9">
							<div class="form-group">
							  <input type="text" class="form-control" ng-model="conVm.contractor.city" ng-required="true"/>
							</div>
						  </div>

						  <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> <span class="new-take-off-title"><i class="star red">*</i>Email ID</span><span class="colon">:</span> </div>
						  <!-- .col -->
						  <div class="col-lg-10 col-md-10 col-sm-9">
							<div class="form-group">
							  <input type="text" class="form-control" ng-model="conVm.contractor.email" ng-required="true" />
							</div>
						  </div>
						 
						  <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> <span class="new-take-off-title">Phone</span><span class="colon">:</span> </div>
						  <!-- .col -->
						  <div class="col-lg-10 col-md-10 col-sm-9">
							<div class="form-group">
							  <input type="text" class="form-control" ng-model="conVm.contractor.contact" ng-required="true"  />
							</div>
						  </div>
						  <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> <span class="new-take-off-title">Fax</span><span class="colon">:</span> </div>
						  <!-- .col -->
						  <div class="col-lg-10 col-md-10 col-sm-9">
							<div class="form-group">
							  <input type="text" class="form-control" ng-model="conVm.contractor.fax" />
							</div>
						  </div>
						  <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> <span class="new-take-off-title">Website</span><span class="colon">:</span> </div>
						  <!-- .col -->
						  <div class="col-lg-10 col-md-10 col-sm-9">
							<div class="form-group">
							  <input type="text" class="form-control" ng-model="conVm.contractor.website" />
							</div>
						  </div>
						   <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> <span class="new-take-off-title"><i class="star red">*</i>Sales Person</span><span class="colon">:</span> </div>
						  <!-- .col -->
						  <div class="col-lg-10 col-md-10 col-sm-9">
							<div class="form-group">
							 <select 
								  ng-model="conVm.contractor.salesPerson" 
								  ng-options="user as user.customName for user in conVm.users" ng-required = "true">
								  <option value="">--- Select ---</option>
								</select>
							</div>
						  </div>
						  <!-- .col -->
						  <!-- .col -->
						 
						</div>
						<!-- .row -->
					   
						<!-- .row -->
						<div class="row checkrow">
						  <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> &nbsp; </div>
						  <!-- .col -->
						  <div class="col-lg-9 col-md-9 col-sm-8 pad_top_30">
							<input type="submit" value="Submit" class="submit-btn btn btn-primary">
							<input type="hidden" name="add" value="add" />
							&nbsp;&nbsp;&nbsp;
							<input type="reset" value="Reset" class="reset-btn btn btn-info" onclick="this.form.reset();">
						  </div>
						  <!-- .col -->
						</div>
						<!-- .row -->
					</form>
				</div>
			</div>
	</div>
</div>
<div style="clear:both;height:50px;"></div>
<div ng-include="'templates/footer.html'" ></div>


