<div ng-include="'templates/header.html'"></div>
<div ng-include="'templates/main-menu.html'"></div>
<div class="container-fluid">
	<div class="col-lg-12 admin-mng alert alert-info" role="alert"><h3>Admin Dashboard</h3></div>
		
        <div class="" id="mgtDashboard">
    
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xss-12 text-center card"> <a href ui-sref="users" class="card-box takeoff_dash takeoff_dashhover">
    <div class="card-content"> <img src="images/icons/usermgt.png" class="img-responsive" alt=""> <span>User Management</span> </div>
    <!-- card-content -->
    </a> </div>
    
  <!-- .col -->
  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xss-12 text-center card"> <a href ui-sref="tax-entries" class="card-box quote quote_dashhover">
    <div class="card-content"> <img src="images/icons/tax.png" class="taxMargin img-responsive" alt=""> <span>Tax Management </span> </div>
    <!-- card-content -->
    </a> </div>
  <!-- .col -->
  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xss-12 text-center card"> <a href="" class="card-box joborder_dash joborder_dashhover">
    <div class="card-content"> <img src="images/icons/CCleaner.png" class="img-responsive" alt=""> <span>Cleanup Data</span> </div>
    <!-- card-content -->
    </a> </div>
  <!-- .col -->
  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xss-12 text-center card"> 
		<a href ui-sref="invmultipliers" class="card-box invnt_awf_dash invnt_awf_dashhover">
			<div class="card-content"> <img src="images/icons/multiplier.png" class="img-responsive" alt=""> <span>Inventory Multiplier</span> </div>
			<!-- card-content -->
		</a> 
		</div>
  <!-- .col -->
  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xss-12 text-center card"> <a href="" class="card-box logs_dash logs_dashhover">
    <div class="card-content"> <img src="images/icons/logs.png" class="img-responsive" alt=""> <span>System Logs</span> </div>
    <!-- card-content -->
    </a> </div>
  <!-- .col -->
  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xss-12 text-center card"> <a href ui-sref="factories" class="card-box factory_dash factory_dashhover">
    <div class="card-content"> <img src="images/icons/factory.png" class="img-responsive" alt=""> <span>Manage Factory</span> </div>
    <!-- card-content -->
    </a> </div>
  <!-- .col -->
  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xss-12 text-center card"> <a href="e" class="card-box job_order">
    <div class="card-content"> <img src="images/icons/jobmgmt.png" class="img-responsive" alt=""> <span>JobOrder <br>
      Management</span> </div>
    <!-- card-content -->
    </a> </div>
  <!-- .col -->
  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xss-12 text-center card"> <a href="" class="card-box sitesettings_dash sitesettings_dashhover">
    <div class="card-content"> <img src="images/icons/config_option.png" class="img-responsive" alt=""> <span>Site Settings</span> </div>
    <!-- card-content -->
    </a> </div>
  <!-- .col -->
  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xss-12 text-center card"> <a href="" class="card-box order_book">
    <div class="card-content"> <img src="images/icons/update_icon.png" class="img-responsive" alt=""> <span>Order Number</span> </div>
    <!-- card-content -->
    </a> </div>
    </div>
  <!-- .col -->
</div>
<div ng-include="'templates/footer.html'" ></div>