<div ng-include="'templates/header.html'"></div>
<div ng-include="'templates/main-menu.html'"></div>
<div class="page-wrapper-row full-height">
  <div class="page-wrapper-middle">
    <!-- BEGIN CONTAINER -->
   <div class="page-container">
      <div class="page-content-wrapper">
        <div class="page-head">
          <div class="container-fluid">
            <div class="page-title">
              <h1>Admin Dashboard <small>Welcome, {{user.userDisplayName}}</small> </h1>
            </div>
          </div>
        </div>
        <div class="page-head"> </div>
        <div class="page-content">
          <div class="container-fluid">
            <div class="page-content-inner">
              <div class="portlet light ">
                <div class="portlet-body">
                  <div class="tiles">
                    <!--<div class="tile double-down bg-blue-hoki"> <a href ui-sref="users">
                      <div class="tile-body"> <i class="fa fa-user"></i> </div>
                      <div class="tile-object">
                        <div class="name"> User Management </div>
                      </div>
                      </a> </div>
                    <div class="tile bg-red-sunglo"> <a href ui-sref="tax-entries" >
                      <div class="tile-body"> <i class="fa fa-calendar"></i> </div>
                      <div class="tile-object">
                        <div class="name"> Tax Management </div>
                      </div>
                      </a> </div>
                    <div class="tile double selected bg-green-turquoise">
						<a href ui-sref="cleanup">
						  <div class="corner"> </div>
						  <div class="check"> </div>
						  <div class="tile-body"> <i class="fa fa-trash-o" aria-hidden="true"></i>
							<div class="name"> 								
									Cleanup Data
							</div>
						  </div>
						  <div class="tile-object"> </div>
						 </a>
                    </div>
                    <div class="tile selected bg-yellow-saffron"> <a href ui-sref="invmultipliers">
                      <div class="corner"> </div>
                      <div class="tile-body"> <i class="fa fa-times" aria-hidden="true"></i> </div>
                      <div class="tile-object">
                        <div class="name"> Inventory Multiplier </div>
                      </div>
                      </a> </div>-->
                    <div class="tile double bg-blue-madison"> <a href ui-sref="logs">
                      <div class="tile-body"> <i class="fa fa-history" aria-hidden="true"></i>
                        <div class="name"> System Logs</div>
                      </div>
                      </a> </div>
                    <!--<div class="tile bg-purple-studio">
						<a href ui-sref="factories">
						  <div class="tile-body"> <i class="fa fa-industry" aria-hidden="true"></i> </div>
						  <div class="tile-object">
							<div class="name"> Manage Factory </div>
						  </div>
					  </a>
                    </div>
                    <div class="tile bg-blue-steel">
						<a href ui-sref="joborder-view">
						  <div class="tile-body"> <i class="fa fa-tasks" aria-hidden="true"></i>
							<div class="name"> Job Orders Management </div>
						  </div>
						  <div class="tile-object">
							<div class="name"></div>
						  </div>
						 </a>
                    </div>
                    <div class="tile double bg-blue-madison">
                      <div class="tile-body"> <i class="fa fa-sort" aria-hidden="true"></i>
                        <div class="name"> Order Number </div>
                      </div>
                    </div>
                    <div class="tile double selected bg-green-turquoise">
                      <div class="tile-body"> <i class="fa fa-cog" aria-hidden="true"></i> </div>
                      <div class="tile-object">
                        <div class="name"> 
							<a href ui-sref="app-setting({target: 'siteinfo'})">
								Site Settings 
							</a>
						</div>
                      </div>
                    </div>
                    <div class="tile bg-yellow-lemon selected">
                      <div class="corner"> </div>
                      <div class="check"> </div>
                      <div class="tile-body"> <i class="fa fa-cogs"></i> </div>
                      <div class="tile-object">
                        <div class="name"> Generate Site </div>
                      </div>
                    </div>
                    <div class="tile bg-blue-steel">
                      <div class="tile-body"> <i class="fa fa-building-o" aria-hidden="true"></i>
                        <div class="name">Branches</div>
                      </div>
                      <div class="tile-object">
                        <div class="name"></div>
                      </div>
                    </div>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-include="'templates/footer.html'" ></div>
