<div ng-include="'templates/header.html'"></div>
<div ng-include="'templates/main-menu.html'"></div>
<div class="container-fluid">
	<div class="clearfix">
		<nav id="menu" class="nav  shadow">					
			<ul>
				<li>
					<a href="#">
						<span class="icon">
							<i aria-hidden="true" class="icon-portfolio"></i>
						</span>
						<span>Job Orders</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon">
							<i aria-hidden="true" class="icon-blog"></i>
						</span>
						<span>Order Book</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon">
							<i aria-hidden="true" class="icon-team"></i>
						</span>
						<span>Inventory AW</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon">
							<i aria-hidden="true" class="icon-contact"></i>
						</span>
						<span>Quote Followup</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
<div ng-include="'templates/footer.html'" ></div>