<div ng-include="'templates/header.html'"></div>
<div ng-include="'templates/main-menu.html'"></div>
<div class="container-fluid" style="margin-top:-10px;">
	<div class="clearfix">
		<div class="panel panel-default shadow" ng-init="shipToVm.getShipTos();">
		  <div class="panel-heading form-heading panel-heading-top">
			<label>Search Files to delete</label>
		  </div>
			<div class="panel-body" style="background:#696;">
				<div class="container">
					<form name="deleteFileForm" ng-submit="deleteVm.searchFiles();" >
						<div class="row">
							<div class="col-lg-2 col-md-2 col-sm-2 visible-xs-padding-right"> 
								<span class="form-label">
									Section
								</span>
								<i class="star red">*</i>
								<span class="colon">:</span> 
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="form-group">
								  <select class = "form-control" ng-options="item as item.name for item in deleteVm.sections track by item.id" ng-model="deleteVm.section" ng-required="true"></select>
								</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 visible-xs-padding-right"> 
								<span class="form-label">
									{{deleteVm.section.name}} ID :
								</span>
								<i class="star red">*</i>
								<span class="colon">:</span> 
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="form-group">
								  <input class = "form-control" type="text" class="form-control" ng-model="deleteVm.sectionId" ng-required="true" />
								</div>
							</div>
						</div>
						<div class="row" style="padding-top:20px;">
							<div class="col-lg-12 col-md-12 col-sm-12 visible-xs-padding-right"> 
								<input type="submit" value="Get Files" class="actions submit-btn btn btn-primary">
									&nbsp;&nbsp;
								<input type="reset" value="Reset" class="actions reset-btn btn btn-warning">
							</div>						
						</div>
					</form>
				</div>
			</div>
			<div class="panel-body" style="background:#696;">
				<div class="container">
					<table border="1" width="100%" cellpadding="0" cellspacing="0" style="font-weight:normal; background:#FFF;"> 
						<thead> 
							<tr> 
								<td colspan="13" valign="top"> 
									<table border="0" width="100%" cellpadding="0" cellspacing="0"> 
										<tbody>
											<tr height="30"> 
												<td width="20%" class="table-header-repeat line-left minwidth-1" style="border:3px solid #D4A3B1;background:#BD7589; padding:5px;">&nbsp; 
													<strong>#RECORD FOUND</strong> 
												</td> 
												<td width="7%" align="center" class="table-header-repeat line-left minwidth-1" style="border:3px solid #D4A3B1; background:#090; padding:5px;"> 
													{{deleteVm.fileCount}}
												</td> 
												<td width="63%;">
												</td> 
											</tr> 
										</tbody>
									</table> 
								</td> 
							</tr> 
							<tr>
								<td colspan="13">
									&nbsp;
								</td>
							</tr> 
							<tr style="background:#02577D;"> 
								<td style="padding:5px; color:#FFF;" align="center">
									File Name
								</td> 
							<td style="padding:5px; color:#FFF;" align="center">
								Type
							</td> 
							<td style="padding:5px; color:#FFF;" align="center">
								Action
							</td> 
							</tr> 
						</thead> 
						<tbody> 
							<tr ng-repeat="file in deleteVm.files track by $index"> 
								<td align="center" style="padding:5px; width:40%;"> 
									<a href ng-click="deleteVm.openFile(file);" target="_blank">{{file.originalName}}{{file.extension}}</a> 
								</td> 
								<td align="center" style="padding:5px; width:40%;">{{file.contentType}}</td> 
								<td align="center" style="padding:5px; width:20%;"> 
									<a href ng-click="deleteVm.deleteFile(file);">
										<img src="images/file_delete.png">
									</a> 
								</td> 
							</tr> 
						</tbody> 
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-include="'templates/footer.html'" ></div>
