<div ng-include="'templates/header.html'"></div>
<div ng-include="'templates/main-menu.html'"></div>
<div class="container-fluid" style="margin-top:-10px;">
  <div class="clearfix">
    <div class="panel panel-default shadow">
      <div class="panel-heading form-heading panel-heading-top">
        <label>Deleted User Management</label>
      <div class="panel-body" ng-init="userVm.getDeletedUsers();">
      
        
        
        
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 dashboard-content"> <a href="javascript:void(0);" class="btn btn-two btn-primary width-full" onclick="ClearSearch('users');">Clear Search</a> </div>
        
      
       <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 dashboard-content text-right per-page-row"> Per page Rows
          <select class="styledselect_pages" id="num_of_records" style="outline:none;" onchange="setRecPage(this.value, 'users', 'users_view_form')">
            <option value="50" selected="selected">50</option>
            <option value="100">100</option>
            <option value="150">150</option>
            <option value="200">200</option>
            <option value="250">250</option>
            <option value="300">300</option>
          </select>
        </div>
        
        <div class="col-lg-4 col-md-4 col-sm-3 col-xs-6 dashboard-content text-left">
        <div style="text-align:right;">
          <ul uib-pagination total-items="userVm.totalItems" ng-model="userVm.currentPage" ng-change="userVm.pageChanged()">
          </ul>
        </div>
        </div>
        
        <div class="top-buffer">&nbsp;</div>
        
        <!-- .row -->
        <div class="row" id="contents">
          <!-- .col -->
          <div class="col-lg-12">
            <form id="users_view_form" class="table-container" action="" method="post">
              <div class="table-container">
                <table border="1" width="100%" cellpadding="0" cellspacing="0" class="table-responsive theme-table">
                  <thead>
                    <tr style="background:#02577D;">
                      <td style="padding:5px; text-align:center;" width="5%">&nbsp;</td>
                      <td style="padding:5px; text-align:center;" width="15%"><input type="text" class="searchtxt form-control" /></td>
                      <td align="center" style="padding:5px;" width="10%"><input type="text" class="searchtxt form-control" name="user_id" value="" /></td>
                      <td align="center" style="padding:5px;" width="10%"><input type="text" class="searchtxt form-control" name="user_password" value="" /></td>
                      <td align="center" style="padding:5px;" width="17%"><input type="text" class="searchtxt form-control" name="usercode" value="" /></td>
                      <td align="center" style="padding:5px;" width="10%"><input type="text" class="searchtxt form-control" name="email" value="" /></td>
                      <td align="center" style="padding:5px;" width="8%"><input type="text" class="searchtxt form-control" name="role" value="" /></td>
                      <td align="center" style="padding:5px;" width="15%">&nbsp;</td>
                      <td align="center" style="padding:5px;" width="10%"><input type="hidden" class="searchtxt form-control" name="status" id="status" value="" /></td>
                    </tr>
                    <tr style="background:#042F51;">
                      <td style="padding:5px; color:#FFF;" align="center">S. No.</td>
                      <td style="padding:5px; color:#FFF; text-align:center;">Name</td>
                      <td style="padding:5px; color:#FFF;" align="center">User ID</td>
					  <td style="padding:5px; color:#FFF;" align="center">Password</td>
                      <td style="padding:5px; color:#FFF;" align="center">User Code</td>
                      <td style="padding:5px; color:#FFF;" align="center">Email</td>
                      <td style="padding:5px; color:#FFF;" align="center">Status</td>
                      <td style="padding:5px; color:#FFF;" align="center">Date Created</td>
                      <td style="padding:5px; color:#FFF;" filter="false" align="center">Action</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr id="user_90" height="25" ng-repeat="user in userVm.deletedUsers track by $index">
                      <td align="center">{{$index + 1}}</td>
                      <td>{{user.firstName}} &nbsp;{{user.lastName}}</td>
                      <td>{{user.userName}}</td>
					  <td>{{user.password}}</td>
                      <td align="center">{{user.userCode}}</td>
                      <td align="center">{{user.email}}</td>
                      <td>De-activated</td>
                      <td>{{user.dateCreated | date:'mediumDate'}}</td>
					  <td>
					
					  </td>
                    </tr>					
                </table>
                </td>
                </tr>
                </tbody>
                </table>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-include="'templates/footer.html'" ></div>
