<div ng-include="'templates/header.html'"></div>
<div ng-include="'templates/main-menu.html'"></div>
<div class="container-fluid" style="margin-top:-10px;">
  <div class="clearfix">
    <div class="panel panel-default shadow" ng-init="jobVm.listJobOrders('all');">
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <section>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-2 dashboard-content">
                    <h1>Factory Claims</h1>
                  </div>
                  <!-- .col -->
                  <div class="col-lg-2 col-md-2 col-sm-2 text-center"> </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 text-center"> </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 text-center"> </div>
                  <!-- .col -->
                  <div class="col-lg-2 col-md-2 col-sm-2 text-center"> </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 text-right"> </div>
                  <!-- .col -->
                  <div style="margin-top:10px;" class="col-lg-12 col-md-12 col-sm-12"> </div>
                  <!-- .col --> </div>
                <!-- .row -->
                <div id="contents" class="row">
                  <div class="col-lg-12">
                    <table width="100%" cellspacing="0" cellpadding="0" border="1" class="table-responsive theme-table">
                      <thead>
                        <tr style="background:#96F;">
                          <td align="center"><strong>Date</strong></td>
                          <td align="center"><strong>PDF</strong></td>
                          <td align="center"><strong>Claim for<br>
                            Order</strong></td>
                          <td align="center"><strong>FSR#</strong></td>
                          <td align="center"><strong>ORBF</strong></td>
                          <td align="center"><strong>Contractor</strong></td>
                          <td align="center"><strong>Tracking#</strong></td>
                          <td align="center"><strong>Trucker</strong></td>
                          <td align="center"><strong>Claim<br>
                            Amount</strong></td>
                          <td align="center"><strong>Reason for<br>
                            Claim</strong></td>
                          <td align="center"><strong>SP</strong></td>
                          <td align="center"><strong>UC</strong></td>
                          <td align="center"></td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr height="25" style="color:#FF0000">
                          <td style="padding-left:5px;"> 09-27-2017</td>
                          <td id="add_factory_49" style="padding-left:5px;"><a data-target="#myModal" data-toggle="modal" href="http://www.awacp.org/uploadfiles?module=claims&amp;fileseq=factory&amp;id=49&amp;act=upload&amp;allowedTypes%5B%5D=pdf"><img border="0" id="img49" title="add pdf" src="http://www.awacp.org/resources/images/FileUploadIcon.png"></a> <br>
                            <a data-target="#myModal" data-toggle="modal" href="http://www.awacp.org/uploadfiles?module=claims&amp;fileseq=factory&amp;id=49&amp;act=download"><img border="0" id="img49" title="download pdf" src="http://www.awacp.org/resources/images/pdf.png"></a></td>
                          <td align="center" style="padding-left:5px;"> 17A-4746PDQ </td>
                          <td align="center" style="padding-left:5px;"> FSR-0048 </td>
                          <td align="center" style="padding-left:5px;"> A-24730</td>
                          <td style="padding-left:5px;"> COOL BREEZE</td>
                          <td align="center" style="padding-left:5px;"> 29841210</td>
                          <td style="padding-left:5px;"> DAYLIGHT TRUCKING</td>
                          <td align="center" style="padding-left:5px;"> $0 </td>
                          <td style="padding-left:5px;">INAPPROPRIATE PACKING OF MATERIAL</td>
                          <td align="center" style="padding-left:5px;"> JK </td>
                          <td align="center" style="padding-left:5px;"> SA </td>
                          <td align="center"><a title="Edit this Record" href="http://www.awacp.org/truckerclaim/edit/49"><img border="0" src="http://www.awacp.org/resources/images/file_edit.png"></a> &nbsp; <a title="Delete this record" onclick="if(confirm('Are you sure you want to delete?')) window.location.href='http://www.awacp.org/truckerclaim/delete/49'" href="javascript:void(0);"><img border="0" src="http://www.awacp.org/resources/images/file_delete.png"></a> &nbsp; <a title="Close this claim" onclick="if(confirm('Are you sure you want to close this?')) window.location.href='http://www.awacp.org/truckerclaim/close/49'" href="javascript:void(0);"><img border="0" src="http://www.awacp.org/resources/images/close_2.png"></a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- .row -->
                <div class="row">
                  <div class="col-lg-12">
                    <div class="table-container">
                      <form method="post" action="" name="add_followup">
                        <table width="100%" cellspacing="0" cellpadding="0" border="1" style="margin-top:15px;" class="table-responsive theme-table">
                          <tbody>
                            <tr style="background:#96F;">
                              <td align="center" style="width:200px; font-size:20px;"><strong>Date</strong></td>
                              <td align="center" style="font-size:20px;"><strong>New Follow up Details</strong></td>
                            </tr>
                          </tbody>
                          <tbody>
                            <tr>
                              <td align="center">11/16/17</td>
                              <td valign="middle"><textarea rows="5" class="form-control" name="followup"></textarea></td>
                            </tr>
                            <tr>
                              <td align="center" colspan="2"><div class="col-lg-5 col-md-5 col-sm-5">&nbsp;</div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                  <input type="submit" class="submit-btn btn btn-primary" value="Add Followup Claim" name="followup_button">
                                  <input type="hidden" value="" name="toid">
                                </div></td>
                            </tr>
                          </tbody>
                        </table>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- .row --> </div>
              <!-- .container-fluid --> </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div ng-include="'templates/footer.html'" ></div>
