<div ng-include="'templates/header.html'"></div>
<div ng-include="'templates/main-menu.html'"></div>
<div class="container-fluid" style="margin-top:-10px;">
	<div class="clearfix">
		<div class="panel panel-default shadow" ng-init="facVm.initFactories();">
			<div class="panel-heading form-heading panel-heading-top">
				<label>View Factory</label>	
				<span class="pull-right"><a href ng-click="facVm.addFactory('Add New Factory');" >Add Factory</a></span>
			</div>
			<div class="panel-body">
				<div style="text-align:right;">
				Page Size :: {{facVm.pageSize}}
                <div class="col-lg-2 col-md-2 col-sm-6 per-page-row text-left">
					Per page Rows 
					<select ng-class="styledselect_pages" style="outline:none;"
						ng-model="facVm.pageSize" 
						ng-options="size for size in facVm.pageSizeList" ng-change="facVm.setCurrentPageSize(facVm.pageSize);" >
					</select>
			</div>
<div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 dashboard-content"> <a href="javascript:void(0);" onclick="ClearSearch('engineers');" class="btn btn-primary width-full">Clear Search</a> </div>
					<ul uib-pagination total-items="facVm.totalItems" items-per-page = "facVm.pageSize" ng-model="facVm.currentPage" ng-change="facVm.pageChanged()"></ul>
				</div>
  
				<!-- .row -->
				<div class="row" id="contents">
				 
				  <!-- .col -->
				  <div class="col-lg-12">
					<form id="users_view_form" class="table-container" action="" method="post">
					  <div class="table-container">
						<table border="1" width="100%" cellpadding="0" cellspacing="0" class="table-responsive theme-table">
						  <thead>
                          
                          <tr style="background:#99C;">
							  <td class="center">&nbsp;</td>
							  <td class="center"><input type="text" class="searchtxt form-control-2 form-control" name="takeoff_quoteid" value=""></td>
							  <td align="center"><input type="text" class="searchtxt form-control-2 form-control" name="takeoff_quoteid" value=""></td>
							  <td align="center"><input type="text" class="searchtxt form-control-2 form-control" name="takeoff_quoteid" value=""></td>                      
							  <td align="center">&nbsp;</td>
						</tr>
                    
							<tr style="background:#99F; color:#000;">
								  <td style="padding:5px;" align="center" width="5%">S. No.</td>
								  <td style="padding:5px;" align="center" width="20%">Factory Code</td>
								   <td style="padding:5px;" align="center" width="35%">Factory Name </td>
								  <td style="padding:5px;" align="center" width="15%">UC</td>
								  <td style="padding:5px;" align="center" width="15%">UC2</td>
								  <td style="padding:5px;" align="center" width="10%">ABC</td>
							</tr>
						  </thead>
						  <tbody>
							<tr height="25" ng-repeat="factory in facVm.factories track by $index">
							  <td align="center">{{$index + 1}}</td>
							  <td align="left">{{factory.factoryName}}</td>
							  <td align="left">{{factory.factoryCode}}</td>
							  <td align="center">{{factory.createdByUserCode}}</td>
							  <td align="center">{{factory.updatedByUserCode}}</td>
							  <td align="center">&nbsp; 
								<a href ng-click = "facVm.editFactory(factory.id, 'Edit Factory Detail');"> 
									<img src="images/file_edit.png" title="edit user" border="0">
								</a> &nbsp;&nbsp; 
								<img src="images/file_delete.png" style="cursor:pointer;" title="delete Factory" ng-click="facVm.deleteFactory(factory.id);" border="0"> &nbsp;&nbsp; 
							  </td>
							</tr>							
						</table>
						</td>
						</tr>
						</tbody>
						</table>
					  </div>
					</form>
				  </div>
				</div>
			  </div>
			</div>
		</div>
</div>

<div ng-include="'templates/footer.html'" ></div>