<div>
	 <div class="modal-header pop-up-alert">
		<h3 class="modal-title pop-up-alert-title" id="modal-title">{{title}} &nbsp;&nbsp;&nbsp;&nbsp;<span style="text-align:right;color:white;"><a href ng-click="showUploadForm();" >Upload File</a></span></h3>
	</div>
	<div class="modal-body" id="modal-body">
		<table class="table table-bordered" style="width:100%;">
			<thead>
				<th>Document Name</th>
				<th>User Code</th>
				<th>Date of creation</th>
			</thead>
			<tbody>
				<tr ng-repeat="document in documents">
					<td>
						<a href ng-click="fileDownload(document.fileSource, document.id)">{{document.createdName}}{{document.extension}}</a>
					</td>
					<td>
						{{document.userCode}}
					</td>
					<td>
						{{document.dateCreated | date: 'mediumDate'}}
					</td>
				</tr>
			</tbody>
		</table
	</div>
	<div class="modal-footer">
		<button class="btn btn-warning" type="button" ng-click="close()">Cancel</button>
	</div>
</div>