<div>
	 <div class="modal-header pop-up-alert">
		<h3 class="modal-title pop-up-alert-title" id="modal-title">{{title}}&nbsp;&nbsp;&nbsp;&nbsp;<span style="text-align:right;color:white;"><a href ng-click="showFileList();" >File List</a></span></h3>
	</div>
	<div class="modal-body" id="modal-body">
		<form name="uploadForm" id="uploadForm">
			<div ng-show="file" style="text-align:center;"> 
				<a href  ng-click="file = null">Reset selection</a> 
				<br />
				<br />
			</div>
			<div>
			<div style="text-align:center;" ng-show="!file" ngf-select ng-model="file" name="file" ngf-pattern="'{{filePattern}}'"
				ngf-accept="'{{fileAcceptPattern}}'" ngf-max-size="5MB" >
					<a href style="text-align:center;">Click to browse file</a>
			</div> 
			<div  style="text-align:center;" ng-show="!file"><br />  OR <br /><br /></div>
			</div>
			<div ng-show="file"><span  style="font-weight:bold;">Selected File:</span>  {{file.name}}</div>
			<div style="text-align:center;height:100px; border:1px dotted green;" ng-show="!file" ngf-drop ng-model="file" class="drop-box"><span style="margin-top:50%;">Drag and Drop file here</span></div>
		</form>
	</div>
	<div class="modal-footer">
		<button ng-disabled="!file" class="btn btn-primary" type="button" ng-click="fileUpload(file)">Upload</button>
		<button class="btn btn-warning" type="button" ng-click="close()">Cancel</button>
	</div>
</div>