<div role="header" class="header-bg">
  <div class="col-lg-3"> 
	<img src="images/logo.png" class="img-responsive" alt="" />
</div>
  
  <div class="col-lg-2" style="max-height:50px;">
	<div style="color:#FFFFFF; text-align:center; font-size:12px; font-weight:bold;">INDIA</div>
	<ds-widget-clock show-analog theme="blue-light" ></ds-widget-clock>
  </div>
<div class="col-lg-2" style="text-align:center; padding-top:20px;"><a href ui-sref="dashboard"><img src="images/home.png" alt="dashboard" /><br /><span style="color:#fff">Go to Dashboard</span></div>
  <div class="col-lg-2">
	<div style="color:#FFFFFF; text-align:center;font-size:12px; font-weight:bold;">NEW YORK</div>
		<ds-widget-clock show-analog theme="blue-light" gmt-offset="-04.00"></ds-widget-clock>
  </div>
 
  <div class="col-lg-3">
	<div id="top-search" style="margin-top:15px;"> 
		<input type="text" value="Logged in as &nbsp;{{user.userDisplayName}}" class="top-search-inp hidden-xss" readonly style="cursor:pointer;" id="focus_me" /><br />
	  <a href ng-click="logoutUser();" class="logout-inp">Logout</a> 
	</div>
	
  </div>
  
</div>
<div class="clearfix"></div>