<div role="header" class="row" style="background:#0b54a1;height:100px;">
  <div class="col-lg-3 col-md-3 col-sm-4 col-sm-6 col-xs-6 col-xss-12"> 
	<a href ui-sref="dashboard"><img src="images/logo.png" class="img-responsive" alt="" /></a> 
</div>
  <!-- .col -->
  <div class="col-lg-2 col-md-2 col-sm-3 hidden-sm hidden-xs text-center">
	<div style="color:#FFFFFF; font-weight:bold;">INDIA</div>
	<div class="clockdiv">
	  <canvas class="CoolClock:awacp:35::5.5::logClockRe"></canvas>
	</div>
  </div>
  <!-- .col -->
  <!--<div class="col-lg-2 col-md-2 col-sm-4 text-center hidden-xs"> <a href="" class="home-link"> <img src="images/home-icon.png" alt="" /><br/>
	Go to Dashboard </a> </div>-->
  <!-- .col -->
  <div class="col-lg-2 col-md-2 col-sm-3 hidden-sm hidden-xs text-center">
	<div style="color:#FFFFFF; font-weight:bold;">NEW YORK</div>
	<div class="clockdiv">
	  <canvas class="CoolClock:awacp:35::-4.0::logClockRe"></canvas>
	</div>
  </div>
  <!-- .col -->
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xss-12 text-right">
	<div id="top-search"> <a href="/admin">
	  <input type="text" value="Logged in as Abhishek Rastogi" class="top-search-inp hidden-xss" readonly style="cursor:pointer;" id="focus_me" />
	  </a>
	  <input type="text" value="Logout" class="logout-inp" readonly style="cursor:pointer;" onclick="window.location.href='/login/logout'">
	</div>
	<!-- #top-search -->
  </div>
  <!-- .col -->
</div>