<div ng-include="'templates/header.html'"></div>
<div ng-include="'templates/main-menu.html'"></div>
<div class="container-fluid" style="margin-top:-10px;">
	<div class="clearfix">
		<div class="panel panel-default shadow" ng-init="truckerVm.getTruckers();">
			<div class="panel-heading form-heading panel-heading-top">
				<label>Manage Truckers</label>				
				<span class="pull-right"><a href ui-sref="trucker-add" >Add Trucker</a></span>	
			</div>
			<div class="panel-body">
				<div style="text-align:right;">
					<ul uib-pagination total-items="truckerVm.totalItems" items-per-page = "truckerVm.pageSize" ng-model="truckerVm.currentPage" ng-change="truckerVm.pageChanged()"></ul>
				</div>
  
				<!-- .row -->
				<div class="row" id="contents">
				   <!-- .col -->
				  <div class="col-lg-12">
				   
					<form id="users_view_form" class="table-container" action="" method="post">
					  <div class="table-container">
						<table border="1" width="100%" cellpadding="0" cellspacing="0" class="table-responsive theme-table">
						  <thead>
							<tr style="background:#ff9999;">
                      <td class="center">&nbsp;</td>
                      <td class="center"><input type="text" class="searchtxt form-control-2 form-control" name="takeoff_quoteid" value=""></td>
                      <td align="center"><input type="text" class="searchtxt form-control-2 form-control" name="takeoff_quoteid" value=""></td>
                      <td align="center"><input type="text" class="searchtxt form-control-2 form-control" name="takeoff_quoteid" value=""></td>
                      <td align="center"><input type="text" class="searchtxt form-control-2 form-control" name="takeoff_quoteid" value=""></td>
                      <td align="center"><input type="text" class="searchtxt form-control-2 form-control" name="takeoff_quoteid" value=""></td>
                      <td align="center"><input type="text" class="searchtxt form-control-2 form-control" name="takeoff_quoteid" value=""></td>
                      <td align="center"><input type="text" class="searchtxt form-control-2 form-control" name="takeoff_quoteid" value=""></td>
                      <td align="center"><input type="text" class="searchtxt form-control-2 form-control" name="takeoff_quoteid" value=""></td>
                      <td align="center"><input type="text" class="searchtxt form-control-2 form-control" name="takeoff_quoteid" value=""></td>
                      
                      <td align="center">&nbsp;</td>
                    </tr>
                    
							<tr style="background:#ff9999; color:#000;">
							  <td style="padding:5px;" align="center">SR. No.</td>
							  <td style="padding:5px;" align="center">Trucker</td>
							  <td style="padding:5px;" align="center">Email</td>
							  <td style="padding:5px;" align="center">Website</td>
                              <td style="padding:5px;" align="center">Phone</td>
                              <td style="padding:5px;" align="center">Login</td>
                              <td style="padding:5px;" align="center">Password</td>
							  <td style="padding:5px;" align="center">Code</td>
							  <td style="padding:5px;" align="center">UC</td>
							  <td style="padding:5px;" align="center">UC2</td>
							  <td style="padding:5px;" filter="false" align="center">Actions</td>
							</tr>
						  </thead>
						  <tbody>
							<tr height="25" ng-repeat="trucker in truckerVm.truckers track by $index">
							  <td align="center">{{$index + 1}}</td>
							  <td align="center">{{trucker.name}} <br /> <img style="width:50px;height:50px;" ng-src="resource/img/{{trucker.logo.createdName}}{{trucker.logo.extension}}" /></td>
                              <td align="center">{{trucker.email}}</td>
							  <td align="center">{{trucker.website}}</td>
							  <td align="center">{{trucker.phone}}</td>
							  <td align="center">{{trucker.login}}</td>
							  <td align="center">{{trucker.password}}</td>
							  <td align="center">{{trucker.code}}</td>
							  <td align="center">{{trucker.createdByUserCode}}</td>
							  <td align="center">{{trucker.updatedByUserCode}}</td>
							  <td align="center">&nbsp; 
								<a href ui-sref="trucker-edit({id:trucker.id})"> 
									<img src="images/file_edit.png" title="edit trucker" border="0">
								</a> 
									&nbsp;&nbsp; 
									<img src="images/file_delete.png" style="cursor:pointer;" title="delete trucker" ng-click="truckerVm.deleteTrucker(trucker.id);" border="0"> &nbsp;&nbsp; <a href="javascript:void(0);" onclick="ShowDetail(90)">
									
								</a>
							  </td>
							</tr>							
						</table>
						</td>
						</tr>
						</tbody>
						</table>
						</div>
					  </div>
					</form>
				  </div>
				 </div>
				  
				</div>
			  </div>
			</div>
		</div>
</div>

<div ng-include="'templates/footer.html'" ></div>