<div class="container-fluid">
	 <div class="content">
		<div class="table">
			<div class="text-right">
				 <form ng-submit="userVm.login();" method="post" style="display: block;">  
					<div class="row">
						<div class="col-sm-12">
						  <center>
							<img src="images/awacp_big_logo.png" width="400px;" />
						  </center>
						</div>
					</div>
					<div class="shadow">
						<div class="head_section">
							<span style="color: white;">Please Login:-</span>
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon glyphicon glyphicon-user"></span>
								<input type="text" ng-model="userVm.loginForm.userName" placeholder="Username" class="form-control" maxlength="30" oninvalid="this.setCustomValidity('Please enter username');" onkeypress="this.setCustomValidity('');" ng-required = "true" autofocus />
							</div>
							<div class="input-group">
								<span class="input-group-addon glyphicon glyphicon-lock"></span>
								<input type="password" ng-model="userVm.loginForm.password" placeholder="Password" class="form-control" maxlength="30" ng-required = "true" oninvalid="this.setCustomValidity('Please enter password');" onkeypress="this.setCustomValidity('')" />
							</div>
							 
							<br/>
							<span id="loading_span" style="padding-left:20px;"></span>
							<div class="btn-group">
								<input type="submit" value="Login" class="btn btn-primary" id="login-submit" />
								<input type="reset" value="Reset" class="btn btn-primary" />                                    
							</div> 
						</div>
					</div>
				 </form>
			</div>
		</div>
	</div>
</div>