<div ng-include="'templates/header.html'"></div>
<div ng-include="'templates/main-menu.html'"></div>
<div class="container-fluid" style="margin-top:-10px;">
	<div class="clearfix">
		<div class="panel panel-default shadow" ng-init="sysVm.getLogs();">
			<div class="panel-body">
				<div style="text-align:right;">
                <div class="col-lg-2 col-md-2 col-sm-6 per-page-row text-left">
					Per page Rows 
					<select ng-class="styledselect_pages" style="outline:none;"
						ng-model="sysVm.pageSize" 
						ng-options="size for size in sysVm.pageSizeList" ng-change="sysVm.setCurrentPageSize(sysVm.pageSize);" >
					</select>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 dashboard-content"> 
				<a href ng-click="sysVm.clearSearch();" class="btn btn-primary width-full">Clear Search</a> 
			</div>
			<ul uib-pagination total-items="sysVm.totalItems" items-per-page = "sysVm.pageSize" ng-model="sysVm.currentPage" ng-change="sysVm.pageChanged()"></ul>
			</div>
  
				<!-- .row -->
				<div class="row" id="contents">
				   <!-- .col -->
				  <div class="col-lg-12">
				   
					<form id="users_view_form" class="table-container" action="" method="post">
					  <div class="table-container">
						  <div class="theme-form" style="background:#C99; margin-bottom:20px;"> 
							<div class="container"> 
								<div class="row" style="font-size:12px;margin-top:5px;"> 
									<div class="col-lg-1 col-md-1 col-sm-2 visible-xs-padding-right"> 
										<span class="new-take-off-title">From Date</span><span class="colon">:</span> 
									</div><!-- .col --> 
									<div class="col-lg-2 col-md-2 col-sm-3"> 
										<div class="form-group"> 
											<div class="form-group"> 
												<input type="text" class="form-control" placeholder="From Date" uib-datepicker-popup="{{dateFormat}}" ng-model="sysVm.sLog.fromDate" is-open="sysVm.fromDate.opened" data-ng-click="sysVm.fromDatePicker()" datepicker-options="dateOptions" close-text="Close" close-on-date-selection="true" datepicker-append-to-body="true"
												ng-change="sysVm.initSearch();">
											</div> 
										</div> 
									</div><!-- .col --> 
									<div class="col-lg-1 col-md-1 col-sm-2 visible-xs-padding-right"> 
										<span class="new-take-off-title">To Date</span> 
									</div><!-- .col --> 
									<div class="col-lg-2 col-md-2 col-sm-3"> 
										<div class="form-group"> 
											<div class="form-group"> 
												<input type="text" class="form-control" placeholder="To Date" uib-datepicker-popup="{{dateFormat}}" ng-model="sysVm.sLog.toDate" is-open="sysVm.toDate.opened" data-ng-click="sysVm.toDatePicker()" datepicker-options="dateOptions" close-text="Close" close-on-date-selection="true" datepicker-append-to-body="true" 
												ng-change="sysVm.initSearch();"> 
											</div> 
										</div> 
									</div><!-- .col --> 
									<div class="col-lg-1 col-md-1 col-sm-2 visible-xs-padding-right"> 
										<span class="new-take-off-title">Usercode</span><span class="colon">:</span> 
									</div><!-- .col --> 
									<div class="col-lg-2 col-md-2 col-sm-3"> 
										<div class="form-group">
											<select class="form-control"
											  ng-model="sysVm.sLog.uc" 
											  ng-options="user.userCode as user.customName for user in sysVm.users" 
											  ng-change="sysVm.initSearch();">
											  <option value="">--- Select ---</option>
											</select>
										</div> 
									</div><!-- .col --> 
									<div class="col-lg-1 col-md-1 col-sm-2 visible-xs-padding-right"> 
										<span class="new-take-off-title">Section</span>
										<span class="colon">:</span> 
									</div><!-- .col --> 
									<div class="col-lg-2 col-md-2 col-sm-3"> 
										<div class="form-group"> 
											<input type="text" class="form-control" ng-model="sysVm.sLog.section" 
											ng-change="sysVm.initSearch();"> 
										</div> 
									</div><!-- .col --> 
								</div><!-- .row --> 
								<div class="row"> 
									<div class="col-lg-1 col-md-1 col-sm-2"> 
										<span class="new-take-off-title">Description</span> 
									</div> 
									<div class="col-lg-6 col-md-6 col-sm-7"> 
										<div class="form-group"> 
											<input type="text" class="form-control" ng-model="sysVm.sLog.description"
											 ng-change="sysVm.initSearch();">
										</div> 
									</div><!-- .col --> 
								</div><!-- .row --> 
							</div><!-- .container --> 
						</div>
						<table border="1" width="100%" cellpadding="0" cellspacing="0" class="table-responsive theme-table">
						  <thead>
                    
							<tr style="background:#ccbb46; color:#000;">
							  <td style="padding:5px;" align="center">SR. No.</td>
							  <td style="padding:5px;" align="center">Date of Activity</td>
							  <td style="padding:5px;" align="center">Activity Source</td>
							  <td style="padding:5px;" align="center">Activity Detail</td>
                              <td style="padding:5px;" align="center">User Code</td>
							</tr>
						  </thead>
						  <tbody>
							<tr height="25" ng-repeat="log in sysVm.logs track by $index">
							  <td align="center">{{$index + 1}}</td>
							  <td align="center">
								{{log.dateCreated | date: 'shortDate'}} 
							  </td>
                              <td align="center">{{log.section}}</td>
							  <td align="center">{{log.description}}</td>
							  <td align="center">{{log.uc}}</td>						
							</tr>							
						</table>
						</td>
						</tr>
						</tbody>
						</table>
						</div>
					  </div>
					</form>
				  </div>
				 </div>
				  
				</div>
			  </div>
			</div>
		</div>
</div>

<div ng-include="'templates/footer.html'" ></div>