    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true"
                    ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">Menu</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">

            <ul class="nav navbar-nav">
               
					<li uib-dropdown ng-show="menus['Takeoff']">
						<a href="#" uib-dropdown-toggle>
							Take Off
							<b class='caret'></b>
						</a>
						<tree tree='menus["Takeoff"]'></tree>
					</li>
                    <li uib-dropdown ng-show="menus['Quote']">
						<a href="#" uib-dropdown-toggle>
							Quote
							<span class='caret'></span>
						</a>
						<tree tree='menus["Quote"]'></tree>
					</li>
					<li uib-dropdown ng-show="menus['Job Order']">
						<a href="#" uib-dropdown-toggle>
							Job Order
							<b class='caret'></b>
						</a>
						<tree tree='menus["Job Order"]'></tree>
					</li>
                    	<li uib-dropdown ng-show="menus['Order Book']">
						<a href="#" uib-dropdown-toggle>
							Order Book
							<span class='caret'></span>
						</a>
						<tree tree='menus["Order Book"]'></tree>
					</li>
					 <li uib-dropdown ng-show="menus['AW']">
						<a href="#" uib-dropdown-toggle>
							AW
							<span class='caret'></span>
						</a>
						
						<tree tree='menus["AW"]'></tree>
					</li>
                     <li uib-dropdown ng-show="menus['AWF']">
						<a href="#" uib-dropdown-toggle>
						   AWF
							<span class='caret'></span>
						</a>
						<tree tree='menus["AWF"]'></tree>
					</li>
					 <li uib-dropdown ng-show="menus['SBC']">
						<a href="#" uib-dropdown-toggle>
							SBC
							<span class='caret'></span>
						</a>
						<tree tree='menus["SBC"]'></tree>
					</li>
					 <li uib-dropdown ng-show="menus['SPL']">
						<a href="#" uib-dropdown-toggle>
						   SPL
							<span class='caret'></span>
						</a>
						<tree tree='menus["SPL"]'></tree>
					</li>
					 <li uib-dropdown ng-show="menus['J']">
						<a href="#" uib-dropdown-toggle>
						   J
							<span class='caret'></span>
						</a>
						<tree tree='menus["J"]'></tree>
					</li>
                     <li uib-dropdown uib-dropdown ng-show="menus['BBT']">
						<a href="#" uib-dropdown-toggle>
							BBT
							<span class='caret'></span>
						</a>
						<tree tree='menus["BBT"]'></tree>
					</li>
					 <li uib-dropdown uib-dropdown ng-show="menus['Claim']">
						<a href="#" uib-dropdown-toggle>
							Claims
							<span class='caret'></span>
						</a>
						<tree tree='menus["Claim"]'></tree>
					</li>
					 <li uib-dropdown uib-dropdown ng-show="menus['Marketing']">
						<a href="#" uib-dropdown-toggle>
							Marketing
							<span class='caret'></span>
						</a>
						<tree tree='menus["Marketing"]'></tree>
					</li>
					 <li uib-dropdown uib-dropdown ng-show="menus['Collection']">
						<a href="#">
							Collection
						</a>
					</li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
