<div ng-include="'templates/header.html'"></div>
<div ng-include="'templates/main-menu.html'"></div>
<div class="container-fluid" style="margin-top:-10px;">
	<div class="clearfix">
		<div class="panel panel-default shadow" ng-init="manuVm.getManufactures();">
			<div class="panel-heading form-heading panel-heading-top">
				<label>View Manufacture & Description</label>	
				<span class="pull-right"><a href ng-click="manuVm.addManufacture('Add New Manufacture');" >Add Manufacture & Description</a></span>

			</div>
			<div class="panel-body">
				<div style="text-align:right;">
                <div class="col-lg-2 col-md-2 col-sm-6 per-page-row text-left">
					Per page Rows 
					<select ng-class="styledselect_pages" style="outline:none;"
						ng-model="manuVm.pageSize" 
						ng-options="size for size in manuVm.pageSizeList" ng-change="manuVm.setCurrentPageSize(manuVm.pageSize);" >
					</select>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 dashboard-content"> <a href="javascript:void(0);" onclick="ClearSearch('engineers');" class="btn btn-primary width-full">Clear Search</a> </div>
					<ul uib-pagination total-items="manuVm.totalItems" items-per-page = "manuVm.pageSize" ng-model="manuVm.currentPage" ng-change="manuVm.pageChanged()"></ul>
				</div>
  
				<!-- .row -->
				<div class="row" id="contents">
				 
				  <!-- .col -->
				  <div class="col-lg-12">
					<form id="users_view_form" class="table-container" action="" method="post">
					  <div class="table-container">
						<table border="1" width="100%" cellpadding="0" cellspacing="0" class="table-responsive theme-table">
						  <thead>
                          
                          <tr style="background:#02577D;">
                      <td class="center">&nbsp;</td>
                      <td class="center"><input type="text" class="searchtxt form-control-2 form-control" name="takeoff_quoteid" value=""></td>
                      <td class="center">&nbsp;</td>
                      <td align="center"><input type="text" class="searchtxt form-control-2 form-control" name="takeoff_quoteid" value=""></td>
                      <td align="center"><input type="text" class="searchtxt form-control-2 form-control" name="takeoff_quoteid" value=""></td>
                      <td align="center">&nbsp;</td>
                      <td align="center">&nbsp;</td>
                    </tr>
                    
							<tr style="background:#042F51; color:#FFFFFF;">
							  <td style="padding:5px;" align="center" width="5%">S. No.</td>
							  <td style="padding:5px;" align="center" width="30%">Product</td>
							  <td style="padding:5px;" align="center" width="10%">Multiplier</td>
							  <td style="padding:5px;" align="center" width="15%">#Type</td>
							  <td style="padding:5px;" align="center" width="15%">UC</td>
							  <td style="padding:5px;" align="center" width="15%">UC2</td>
							  <td style="padding:5px;" align="center" width="10%">Actions</td>
							</tr>
						  </thead>
						  <tbody>
							<tr id="user_90" height="25" ng-repeat="manu in manuVm.manufactures track by $index">
							  <td align="center">{{$index + 1}}</td>
							  <td align="left">{{manu.productName}}</td>
							  <td align="left">{{manu.wsMultiplier}}</td>
							   <td align="left"></td>
							  <td align="center">{{manu.createdByUserCode}}</td>
							  <td align="center">{{manu.updatedByUserCode}}</td>
							  <td align="center">
								&nbsp; 
								<a href ng-click = "manuVm.editManufacture(manu.id, 'Edit Manufacture & Description');">
								<img src="images/file_edit.png" title="edit Manufacture & Description" border="0"></a> 
								&nbsp;
								<img src="images/file_delete.png" style="cursor:pointer;" title="delete Manufacture & Description" ng-click="manuVm.deleteManufacture(manu.id);" border="0"> 
								&nbsp
								<img src="images/view.png" style="cursor:pointer;" title="show M & D Type List" ui-sref="mtypes({id:manu.id})" border="0"> 
							</td>
							</tr>							
						</table>
						</td>
						</tr>
						</tbody>
						</table>
					  </div>
					</form>
				  </div>
				</div>
			  </div>
			</div>
		</div>
</div>

<div ng-include="'templates/footer.html'" ></div>