<div ng-include="'templates/header.html'"></div>
<div ng-include="'templates/main-menu.html'"></div>
<div class="container-fluid" style="margin-top:-10px;">
  <div class="clearfix">
    <div class="panel panel-default shadow" ng-init="engVm.getEngineers();">
		<div class="panel-heading form-heading panel-heading-top">
			<label>Office Worksheet</label>
		</div>
      <div class="panel-body">      
        <!-- .row -->
        <div class="row" id="contents">
          <!-- .col -->
          <div class="col-lg-12">
            <form id="users_view_form" class="table-container" action="" method="post">
              <div class="table-container">
              
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-include="'templates/footer.html'" ></div>
