<div>
	<div class="modal-header modal-header-css">
		<h3 class="pop-up-alert-title" id="modal-title">{{title}}</h3>
	</div>
	<div class="modal-body" id="modal-body" style="text-align:center;">
		<div class="row">
			<div class="form-group">
			  <input ng-keypress="infoMessage = '' " type="text" placeholder="M & D Type Message" class="form-control" maxlength="150" ng-model="message" ng-required="true" autofocus />
			</div>
		</div>
	</div>
	<div ng-show="infoMessage != ''" style="text-align:center; color:red;">
		{{infoMessage}} 
	</div>
	<div class="pop-up-alert-footer">
		 <button type="button" class="actions btn btn-primary btn-primary alert-ok-button" data-ng-click="save(); $event.stopPropagation()">Set Message</button>
		 <button type="button" class="actions btn btn-primary btn-warn alert-ok-button" data-ng-click="cancel(); $event.stopPropagation()">Cancel</button>
		 <span style="display:none;" class="spinner">
			<image src="images/loading.gif" />
		 </span>
	</div>
</div>
