<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Restaurant Rating & Review</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 dashboard-content">
        <h1>Cost Worksheet</h1>
      </div>
      <!-- .col -->
      <div class="col-lg-6 col-md-6 pad-top text-right pad_bot_30">
        <input type="button" onclick="window.location.href='http://www.awacp.org/quote/generatepdfofficesheet/77739/1495821360'" value="Download" name="print" class="medium btn btn-primary">
      </div>
      <!-- .col -->
    </div>
    <!-- .row -->
    <table width="100%" class="table-responsive differentTable theme-table">
      <tbody>
        <tr>
          <td align="center" style="background:#EEE; padding:10px; font-size:20px; color:#666; font-weight:bold;" colspan="4">OFFICE WORK SHEET</td>
        </tr>
        <tr>
          <td width="10%" align="left"><div class="pad5"><b>Project</b></div></td>
          <td width="60%" align="left"><div class="pad5">{{wsVm.quote.projectNumber}}</div></td>
          <td width="7%" align="left"><div class="pad5"><b>Date</b></div></td>
          <td width="23%" align="left"><div class="pad5">{{wsVm.quote.dateCreated | date:'shortDate'}}</div></td>
        </tr>
        <tr>
          <td align="left"><div class="pad5"><b>Address</b></div></td>
          <td align="left"><div class="pad5">{{wsVm.quote.jobAddress}}</div></td>
          <td align="left"><div class="pad5"><b>Quote No.</b></div></td>
          <td align="left"><div class="pad5">{{wsVm.quote.quoteId}}</div></td>
        </tr>
        <tr>
          <td align="left"><div class="pad5"><b>Salesman</b></div></td>
          <td align="left"><div class="pad5">{{wsVm.quote.salesPersonName}}</div></td>
          <td align="left"><div class="pad5"><b>Plan Date</b></div></td>
          <td align="left"><div class="pad5">{{wsVm.quote.quoteDate | date:'shortDate'}}</div></td>
        </tr>
        <tr>
          <td align="left"><div class="pad5"><b>Engineer</b></div></td>
          <td align="left"><div class="pad5">{{wsVm.quote.engineerName}}</div></td>
          <td align="left"><div class="pad5"><b>Usercode</b></div></td>
          <td align="left"><div class="pad5">{{wsVm.quote.createdByUserCode}}</div></td>
        </tr>
        <tr>
          <td align="left"><div class="pad5"><b>Architect</b></div></td>
          <td align="left"><div class="pad5">{{wsVm.quote.architectureName}}</div></td>
          <td align="left"><div class="pad5"><b>Spec.</b></div></td>
          <td align="left"><div class="pad5">{{wsVm.quote.specName}}</div></td>
        </tr>
      </tbody>
    </table>
    <br>
    <table width="100%" border="0" class="theme-table">
      <tbody>
        <tr>
          <td><div style="margin-top:20px;" id="content_desc1" ng-repeat="wsManufacturerInfo in wsVm.worksheet.manufacturerItems">
              <input type="hidden" value="27828" name="worksheetid1">
              <div class="pad5"><strong>{{wsManufacturerInfo.manufacturer.productName}}</strong></div>
              <input type="hidden" value="27" id="tlp_perc1" name="tlp_perc1">
              <table width="100%" style="font-weight:normal; margin-top:10px;" class="table-responsive differentTable theme-table">
                <tbody>
                  <tr>
                    <th width="10%"><b>Quantity</b></th>
                    <th width="60%"><b>Type</b></th>
                    <th width="7%"><b>List</b></th>
                    <th width="11%"><b>Net</b></th>
                    <th width="12%">MULTIPLIER CATEGORY <br>
                      ($1 - $3000)</th>
                  </tr>
                  <tr id="1pro1_row1" ng-repeat="pInfo in wsManufacturerInfo.productItems">
                    <td align="center"> {{pInfo.quantity}} </td>
                    <td align="left" id="type1_1"> {{pInfo.product.productName}} </td>
                    <td align="center"> {{pInfo.listAmount}} </td>
                    <td align="center">{{pInfo.netAmount}}</td>
                    <td align="center"> $ 79.50 </td>
                  </tr>
                  <tr>
                    <td align="right" colspan="2"><b>Total</b>&nbsp;&nbsp;</td>
                    <th align="center">{{wsManufacturerInfo.listTotal}}</th>
                    <th align="center">{{wsManufacturerInfo.netTotal}}</th>
                    <th align="center">{{wsManufacturerInfo.totalAmount}}</th>
                  </tr>
                  <tr>
                    <th valign="top" colspan="5"> <table width="100%" border="0">
                        <tbody>
                          <tr>
                            <th width="5%" align="center">&nbsp;</th>
                            <th width="10%" align="center" id="multiplier1"> <b>{{wsManufacturerInfo.manufacturer.wsMultiplier}}</b> </th>
                            <th width="10%" align="center"><b>MULT</b></th>
                            <th width="11%" align="center"><b>=</b></th>
                            <th width="11%" align="center"><b>NETS</b></th>
                            <th width="18%" align="center"><b>FRT</b></th>
                            <th width="12%"><b>TTL</b></th>
                            <th width="11%"><b>QUOTE AMOUNT</b></th>
                            <th width="12%"><b>ESTIMATED COST</b></th>
                          </tr>
                          <tr>
                            <th><b>TLP</b></th>
                            <th>{{wsManufacturerInfo.percent}}</th>
                            <th>{{wsManufacturerInfo.multiplier}}</th>
                            <th>{{wsManufacturerInfo.multPercentAmount}}</th>
                            <th>{{wsManufacturerInfo.netTotal}}</th>
                            <th>{{wsManufacturerInfo.freight}}</th>
                            <th>{{wsManufacturerInfo.totalAmount}}</th>
                            <th>${{wsManufacturerInfo.quoteAmount}}</th>
                            <th>$209.50</th>
                          </tr>
                        </tbody>
                      </table>
                    </th>
                  </tr>
                  <tr>
                    <td colspan="2"><b>P.D.N.I.</b></td>
                  </tr>
				  <tr ng-repeat="pdni in wsManufacturerInfo.pdnis track by $index">
					<td colspan="2">{{$index + 1}} {{pdni.pdniName}}</td>
				  </tr>
                  <tr>
                    <td valign="middle" align="left"><b>Comments</b></td>
                    <td valign="middle" align="left" colspan="4">{{wsManufacturerInfo.comments}}</td>
                  </tr>
                </tbody>
              </table>
            </div></td>
        </tr>
        <tr>
          <td><table width="100%" style="font-weight:normal;">
              <tbody>
                <tr>
                  <th width="10%" valign="middle" align="left"><b>Notes</b></th>
                </tr>
				<tr ng-repeat="term in wsVm.worksheet.notes">
					<td colspan="2">• {{term.note}}</td>
				  </tr>
                  <th valign="middle" align="left"><b>Special Notes</b></th>
                  <td valign="middle" align="left"> {{wsVm.worksheet.specialNotes}} </td>
                </tr>
              </tbody>
            </table></td>
        </tr>
        <tr>
          <td><table width="100%" cellspacing="0" cellpadding="0" border="1" style="font-weight:normal;" id="product-table">
              <thead>
                <tr>
                  <td colspan="7"><h2>Bidders</h2></td>
                </tr>
                <tr>
                  <th width="4%" valign="middle"><b>S. No.</b></th>
                  <th width="19%" valign="middle"><b>Name</b></th>
                  <th width="20%" valign="middle"><b>Email</b></th>
                  <th width="23%" valign="middle"><b>Send Date</b></th>
                  <th width="11%" valign="middle"><b>Resend Counter</b></th>
                  <th width="17%" valign="middle"><b>Resend Date</b></th>
                  <th width="6%" valign="middle"><b>Resend</b></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="amt in wsVm.quoteMailTrackers track by $index">
                  <td align="center">($index + 1)</td>
                  <td align="left">{{amt.bidder.name}}</td>
                  <td align="left"> {{amt.bidder.email}} </td>
                  <td align="center">{{amt.dateCreated | date:'shortDate'}} </td>
                  <td align="center">{{amt.mailSentCount}}</td>
                  <td align="center">{{amt.dateUpdated | date:'shortDate'}}</td>
                  <td align="center"></td>
                </tr>
              </tbody>
            </table></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
</body>
</html>