<div ng-include="'templates/header.html'"></div>
<div ng-include="'templates/main-menu.html'"></div>
<div class="container-fluid">	
  <div class="clearfix">
    <div class="panel panel-default" ng-init="takeVm.initTakeoffMasterInputs()">
      <div class="panel-heading form-heading panel-heading-top">
        <label>Order Book Reports</label>
      </div>
      <div class="panel-body new-tk-bg">
        <form ng-submit="joborderVm.report();">
          <!-- .row -->
          <section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 dashboard-content">
        <h1>Orderbook Reports</h1>
      </div>
      <!-- .col -->
      <div style="font-size:14px;" class="col-lg-3 col-md-3 col-sm-3 text-center pad_top_30"> </div>
      <!-- .col -->
      <div class="col-lg-6 col-md-6 col-sm-6 text-right pad_bot_30"> <a id="form_display" class="btn btn-success" onclick="ShowHideForm('orderbook_reports');" href="javascript:void(0);">Hide Report Form</a> </div>
    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
  <form class="formular" action="" method="post" id="orderbook_reports" name="orderbook_reports">
    <div class="bg-FFFAEB theme-form">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> <span class="new-take-off-title"><u>Between Two Dates</u></span> </div>
          <!-- .col -->
          <div class="col-lg-2 col-md-2 col-sm-2 visible-xs-padding-right"> <span class="new-take-off-title">From:</span> </div>
          <!-- .col -->
          <div class="col-lg-3 col-md-3 col-sm-2">
            <div class="form-group">
              <input type="text" value="" name="report_start_date" class="form-control datepicker">
            </div>
          </div>
          <!-- .col -->
          <div class="col-lg-2 col-md-2 col-sm-2 visible-xs-padding-right"> <span class="new-take-off-title">To:</span> </div>
          <!-- .col -->
          <div class="col-lg-3 col-md-3 col-sm-2">
            <div class="form-group">
              <input type="text" value="" name="report_end_date" class="form-control datepicker">
            </div>
          </div>
          <!-- .col -->
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <hr>
          </div>
          <!-- .col -->
        </div>
        <!-- .row -->
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12"> <span class="new-take-off-title">Year:</span> </div>
          <!-- .col -->
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <div class="form-group">
              <select class="form-control" id="year" name="year">
                <option value="17">2017</option>
                <option value="16">2016</option>
                <option value="15">2015</option>
                <option value="14">2014</option>
                <option value="13">2013</option>
                <option value="12">2012</option>
                <option value="11">2011</option>
              </select>
            </div>
          </div>
          <!-- .col -->
          <div class="col-lg-2 col-md-2 col-sm-1 col-xs-12"> <span class="new-take-off-title">Salesman:</span> </div>
          <!-- .col -->
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <div class="form-group">
              <select class="form-control" name="salesman">
                <option value="">ALL</option>
                <option value="AD">AD</option>
                <option value="AG">AG</option>
              </select>
            </div>
          </div>
          <!-- .col -->
          <div class="col-lg-2 col-md-2 col-sm-1 col-xs-12"> <span class="new-take-off-title">Usercode:</span> </div>
          <!-- .col -->
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <div class="form-group">
              <select class="form-control" name="usercode">
                <option value="">ALL</option>
                <option value="AD">AD</option>
                <option value="AG">AG</option>
              </select>
            </div>
          </div>
          <!-- .col -->
        </div>
        <!-- .row -->
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12"> <span class="new-take-off-title">Factory</span> </div>
          <!-- .col -->
          <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
            <div class="form-group">
              <select class="form-control" name="factory">
                <option value="">ALL</option>
                <option value="REG">REG</option>
                <option value="AW">AW</option>
                <option value="AWF">AWF</option>
                <option value="SBC">SBC</option>
                <option value="SPL">SPL</option>
              </select>
            </div>
          </div>
          <!-- .col -->
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12"> <span class="new-take-off-title">Contractor</span> </div>
          <!-- .col -->
          <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
            <div class="form-group">
              <select id="contractor" class="form-control" name="contractor">
                <option value="">ALL</option>
                <option value="GRAD INDUSTRIAL WORKS INC">GRAD INDUSTRIAL WORKS INC</option>
              </select>
            </div>
          </div>
          <!-- .col -->
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12"> <span class="new-take-off-title">c/o Shipto</span> </div>
          <!-- .col -->
          <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
            <div class="form-group">
              <select class="form-control" name="salesperson">
                <option value="">ALL</option>
                <option value="1, WEST 64TH STREET, #5B, NY, NY 10023">1, WEST 64TH STREET, #5B, NY, NY 10023</option>
                <option value="107PPW REALTY C/O HORRIGAN DEVELOPMENT 20 WEST 36TH STREET 4TH FLOOR NEW YORK, NY 10018">107PPW REALTY C/O HORRIGAN DEVELOPMENT 20 WEST 36TH STREET 4TH FLOOR NEW YORK, NY 10018</option>
              </select>
            </div>
          </div>
          <!-- .col -->
        </div>
        <!-- .row -->
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <hr>
          </div>
          <!-- .col -->
          <div class="col-lg-12 col-md-12 col-sm-12 pad_top_301">
            <input type="submit" class="submit-btn btn btn-primary" value="Generate">
            &nbsp;&nbsp;&nbsp;
            <input type="reset" onclick="this.form.reset();" class="reset-btn btn btn-info" value="Reset">
            <input type="hidden" value="searched" name="searched">
          </div>
          <!-- .col -->
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <hr>
          </div>
          <!-- .col -->
        </div>
        <!-- .row -->
      </div>
      <!-- .container -->
    </div>
    <!-- .bg-d0e9f4 -->
  </form>
</section>
          <!-- .row -->
          <!-- .row -->
          <div class="row checkrow">
          </div>
          <!-- .row -->
        </form>
      </div>
    </div>
  </div>
</div>
<div style="clear:both;height:50px;"></div>
<div ng-include="'templates/footer.html'" ></div>
