<div ng-include="'templates/header.html'"></div>
<div ng-include="'templates/main-menu.html'"></div>
<div class="container-fluid" style="margin-top:-10px;">
  <div class="clearfix">
    <div class="panel panel-default shadow" ng-init="obVm.listOrderBooks();">
      <div class="panel-heading form-heading panel-heading-top">
        <label>View Order Books</label>
        <span class="pull-right" ><a href ui-sref="orderbook-add" >Add Order Book</a></span> </div>
      <div class="panel-body">
        <div style="text-align:right;">
          <div class="col-lg-2 col-md-2 col-sm-6 per-page-row text-left"> Per page Rows
            <select ng-class="styledselect_pages" style="outline:none;"
			  ng-model="obVm.pageSize" 
			  ng-options="size for size in obVm.pageSizeList" ng-change="obVm.setCurrentPageSize(obVm.pageSize);" >
            </select>
          </div>
          <ul uib-pagination total-items="obVm.totalItems" items-per-page = "obVm.pageSize" ng-model="obVm.currentPage" ng-change="obVm.pageChanged()">
          </ul>
        </div>
        <!-- .row -->
        <div class="row" id="contents" style="margin-top:25px; float:left;">
          <!-- .col -->
          <div class="col-lg-12 pad-none">
            <form id="users_view_form" class="table-container" action="" method="post">
              <div class="table-container">
                <table border="1" width="100%" cellpadding="0" cellspacing="0" class="table-responsive theme-table">
                  <thead>
                    <tr style="background:#CFAC92;"  >
                      <td align="center" style="color:#fff;"></td>
                      <td align="center" style="color:#fff;">DOC</td>
                      <td align="center" style="color:#fff;">XLS</td>
                      <td align="center" style="color:#fff;">PDF</td>
                      <td align="center" style="color:#fff;">PDF</td>
                      <td align="center" style="color:#fff;">Link</td>
                      <td align="center"><input type="text" class="searchtxt form-control-2 form-control" name="orderBook_quoteid" value=""></td>
                      <td align="center"><input type="text" class="searchtxt" name="orderBook_jobid" value=""></td>
                      <td align="center"><input type="text" class="searchtxt form-control-2" name="orderBook_jobname" value=""></td>
                      <td align="center"><input type="text" class="searchtxt form-control-2" name="orderBook_address" value=""></td>
                      <td align="center"><input type="text" class="searchtxt form-control-2" name="orderBook_engineer" value=""></td>
                      <td align="center"><input type="text" class="searchtxt form-control-2" name="orderBook_architect" value=""></td>
                      <td align="center" class="c6"><input type="text" class="searchtxt form-control-2" name="orderBook_gc" value=""></td>
                      <td align="center" class="c6"><input type="text" class="searchtxt form-control-2" name="orderBook_sp" maxlength="2" value=""></td>
                      <td align="center" class="c6"><input type="text" class="searchtxt form-control-2" name="orderBook_uc" maxlength="2" value=""></td>
                      <td align="center"><input type="text" class="searchtxt form-control-2" name="orderBook_specs" value=""></td>
                      <td align="center"><input type="text" class="searchtxt form-control-2" name="orderBook_vibro_lay_in" value=""></td>
                      <td align="center"><input type="text" class="searchtxt form-control-2" name="project_num" value=""></td>
                      
                    </tr>
                    <tr style="background:#9B6944; color:#FFF;">
                      <td align="center" style="min-width:50px;" >Info Icon</td>
                      <td align="center" >A</td>
                      <td align="center" >Y,I</td>
                      <td align="center" >ACK</td>
                      <td align="center" >FRT</td>
                      <td align="center" >POD</td>
                      <td align="center">Release Date</td>
                      <td align="center" style="color:#FFF; background:#7D3549;">Job ID</td>
                      <td align="center">AWACP PO#</td>
                      <td align="center">ORBF</td>
                      <td align="center">EST Date</td>
                      <td align="center">Contractor Name</td>
                      <td align="center">ShipTo</td>
                      <td align="center">Job Name</td>
                      <td align="center">Job Address</td>
                      <td align="center">SP</td>
                      <td align="center">UC</td>
                      <td align="center">Comments Model Number</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr height="25" ng-repeat="orderBook in obVm.orderBooks track by $index">                     
                      <td align="center" >
						<span ng-show="orderBook.takeoffId">
							<img  popover-placement="right" uib-popover-template="obVm.takeoffInfoPopover.templateUrl" popover-trigger="'outsideClick'" popover-title="{{obVm.takeoffInfoPopover.title}}"  ng-click="obVm.showTakeoffInfo(orderBook.takeoffId);"  style="cursor:pointer;" src="images/takeoffinfo.png" alt="image" border="0" />
							
						</span>
						<span ng-show="orderBook.quoteId">
							<img  popover-placement="right" uib-popover-template="obVm.quotePopover.templateUrl" popover-trigger="'outsideClick'" popover-title="{{obVm.quotePopover.title}}"  ng-click="obVm.showQuoteInfo(orderBook.takeoffId);"  style="cursor:pointer;" src="images/quote_info.png" alt="image" border="0" />
						</span>
						
						<span ng-show="orderBook.jobOrderNumber">
							<img  popover-placement="right" uib-popover-template="obVm.jobOrderPopover.templateUrl" popover-trigger="'outsideClick'" popover-title="{{obVm.jobOrderPopover.title}}"  ng-click="obVm.showJobOrderInfo(orderBook.jobId);"  style="cursor:pointer;" src="images/jobinfo.png" alt="image" border="0" />
						</span>
						
						<span ng-show="orderBook.orderBookNumber">
							<img  popover-placement="right" uib-popover-template="obVm.orderBookPopover.templateUrl" popover-trigger="'outsideClick'" popover-title="{{obVm.orderBookPopover.title}}"  ng-click="obVm.showOrderBookInfo(orderBook);"  style="cursor:pointer;" src="images/order_info.png" alt="image" border="0" />
						</span>
						
					  </td>
                      <td align="center" >
						<a href ng-click="obVm.showFileListingView('OB_A_DOC', orderBook.id, 'Order Book', 'large', '.doc,.docx', 'list-view');">
							<span class="badge">{{orderBook.obADocCount}}</span>
						</a>
						<a href ng-click="obVm.showFileListingView('OB_A_DOC', orderBook.id, 'Order Book', 'large', '.doc,.docx', 'upload-view');">
							<img src="images/FileUploadIcon.png" alt="image" border="0" />
						</a>
					  </td>
                      <td align="center" >
						<a href ng-click="obVm.showFileListingView('OB_Y_XLS', orderBook.id, 'Order Book', 'large', '.xls,.xlsx', 'list-view');">
							<span class="badge">{{orderBook.obYXlsDocCount}}</span>
						</a>
						<a href ng-click="obVm.showFileListingView('OB_Y_XLS', orderBook.id, 'Order Book', 'large', '.xls,.xlsx', 'upload-view');">
							<img src="images/FileUploadIcon.png" alt="image" border="0" />
						</a>
					  </td>
                      <td align="center" >
						<a href ng-click="obVm.showFileListingView('OB_ACK_PDF', orderBook.id, 'Order Book', 'large', '.pdf', 'list-view');">
							<span class="badge">{{orderBook.obAckPdfDocCount}}</span>
						</a>
						<a href ng-click="obVm.showFileListingView('OB_ACK_PDF', orderBook.id, 'Order Book', 'large', '.pdf', 'upload-view');">
							<img src="images/FileUploadIcon.png" alt="image" border="0" />
						</a>
					  </td>
                      <td align="center" >
						<a href ng-click="obVm.showFileListingView('OB_FRT_PDF', orderBook.id, 'Order Book', 'large', '.pdf', 'list-view');">
							<span class="badge">{{orderBook.obFrtPdfDocCount}}</span>
						</a>
						<a href ng-click="obVm.showFileListingView('OB_FRT_PDF', orderBook.id, 'Order Book', 'large', '.pdf', 'upload-view');">
							<img src="images/FileUploadIcon.png" alt="image" border="0" />
						</a>
					  </td>
                      <td align="center" >
						<a href ng-click="obVm.showPodFile(orderBook.id);" ng-show="orderBook.delivered">
							<img src="images/pod_img_ups.gif" alt="image" border="0" />
						</a>
					  
					  </td>
                      <td align="center"></td>
                      <td align="center">
						<a href ui-sref="joborder-view-single({oSource:orderBook.jobId})">
							{{orderBook.jobOrderNumber}}
						</a>
					  </td>
                      <td align="center">
						{{orderBook.orderBookNumber}}
					  </td>
					  <td align="center">
						<span ng-if="orderBook.cancelled" style="color:red;">
							CANCELLED
						</span>
						<span ng-if="!orderBook.cancelled">
							<span ng-if="orderBook.orbf">
								<a href ui-sref="orbf-edit({orbfOrderBookId:orderBook.id, orbfJobOrderId:orderBook.jobId})">{{orderBook.orbf}}</a>								
							</span>
							<span ng-if="!orderBook.orbf">
								<a href ui-sref="orbf-edit({orbfOrderBookId:orderBook.id, orbfJobOrderId:orderBook.jobId})">[Enter ORBF]</a>
							</span>
						</span>
					  </td>
                      <td align="center">{{orderBook.estDate | date:'shortDate'}}</td>
					  <td align="center">
						<a href ui-sref="orderbook-edit({id:orderBook.id})">
							{{orderBook.contractorName}}
						</a>
						
					  </td>
                      <td align="center">{{orderBook.shipToName}}</td>
                      <td align="center">{{orderBook.jobName}}</td>
                      <td align="center">{{orderBook.jobAddress}}</td>
                      <td align="center"> {{orderBook.salesPersonName}} </td>
                      <td align="center"> {{orderBook.createdByUserCode}} </td>
                      <td align="center">{{orderBook.comment}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-include="'templates/footer.html'" ></div>
