<div ng-include="'templates/header.html'"></div>
<div ng-include="'templates/main-menu.html'"></div>
<div class="container-fluid" style="margin-top:-10px;">
	<div class="clearfix">
		<div class="panel panel-default shadow" ng-init="pdniVm.getPdnis();">
			<div class="panel-heading form-heading panel-heading-top">
				<label>View PDNI</label>	
				<span class="pull-right"><a href ng-click="pdniVm.addPdni('Add New PDNI');" >Add PDNI</a></span>
			</div>
			<div class="panel-body">
				<div style="text-align:right;">
					<ul uib-pagination total-items="pdniVm.totalItems" items-per-page = "pdniVm.pageSize" ng-model="pdniVm.currentPage" ng-change="pdniVm.pageChanged()"></ul>
				</div>
  
				<!-- .row -->
				<div class="row" id="contents">
				 
				  <!-- .col -->
				  <div class="col-lg-12">
					<form id="users_view_form" class="table-container" action="" method="post">
					  <div class="table-container">
						<table border="1" width="100%" cellpadding="0" cellspacing="0" class="table-responsive theme-table">
						  <thead>
                          
                          <tr style="background:#99C;">
                      <td class="center">&nbsp;</td>
                      <td class="center"><input type="text" class="searchtxt form-control-2 form-control" name="takeoff_quoteid" value=""></td>
                      <td align="center"><input type="text" class="searchtxt form-control-2 form-control" name="takeoff_quoteid" value=""></td>
                      <td align="center"><input type="text" class="searchtxt form-control-2 form-control" name="takeoff_quoteid" value=""></td>
                      
                      <td align="center">&nbsp;</td>
                    </tr>
                    
							<tr style="background:#99F; color:#000;">
							  <td style="padding:5px;" align="center" width="5%">S. No.</td>
							  <td style="padding:5px;" align="center" width="55%">Specification</td>
							  <td style="padding:5px;" align="center" width="15%">UC</td>
							  <td style="padding:5px;" align="center" width="15%">UC2</td>
							  <td style="padding:5px;" filter="false" align="center"></td>
							</tr>
						  </thead>
						  <tbody>
							<tr id="user_90" height="25" ng-repeat="pdni in pdniVm.pdnis track by $index">
							  <td align="center">{{$index + 1}}</td>
							  <td align="left">{{pdni.pdniName}}</td>
							  <td align="center">{{pdni.createdByUserCode}}</td>
							  <td align="center">{{pdni.updatedByUserCode}}</td>
							  <td align="center">&nbsp; <a href ng-click = "$scope.editPdni(pdni.id, 'Edit PDNI Detail');"> <img src="images/file_edit.png" title="edit PDNI" border="0"></a> &nbsp;&nbsp; <img src="images/file_delete.png" style="cursor:pointer;" title="delete PDNI" ng-click="pdniVm.deletePdni(pdni.id);" border="0"> &nbsp;&nbsp; </td>
							</tr>							
						</table>
						</td>
						</tr>
						</tbody>
						</table>
					  </div>
					</form>
				  </div>
				</div>
			  </div>
			</div>
		</div>
</div>

<div ng-include="'templates/footer.html'" ></div>