<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<p><img src="../images/ups-logo.png" width="73" height="87" />             Proof of Delivery</p>
<p>&nbsp;</p>
<p>Dear Customer,</p>
<p>This notice serves as proof of  delivery for the shipment listed below.</p>
<p><strong>Tracking  Number:          </strong>1Z2576880349392031</p>
<p><strong>Service:                         </strong>UPS Ground</p>
<p><strong>Weight:                          </strong>28.00 lbs</p>
<p><strong>Shipped/Billed  On:        </strong>11/15/2017</p>
<p><strong>Delivered  On:</strong>                 11/15/2017  1:51 P.M.</p>
<p><strong>Delivered  To:</strong>                 BRONX,  NY, US</p>
<p><strong>Received  By:                  </strong>RODRIGUEZ</p>
<p><strong>Left  At:                          </strong>Receiver</p>
<p>Thank you for giving us this  opportunity to serve you.<br />
  Sincerely,<br />
  UPS<br />
  Tracking results provided by UPS:  11/16/2017 2:00 A.M. E</p>
</body>
</html>
