<div class="container-fluid" style="width:525px;">
	<table width="500" cellpadding="5" cellspacing="5" border="1" bordercolor="#999999">
		<tr>
			<td width="155">&nbsp;<strong>Date: </strong></td>
			<td>{{obVm.selectedQuote.dateCreated | date:'shortDate'}}</td>
		</tr>
		<tr>
			<td>&nbsp;<strong>Quote: </strong></td>
			<td>{{obVm.selectedQuote.quoteId}}</td>
		</tr>
		<tr>
			<td>&nbsp;<strong>Amount: </strong></td>
			<td>{{obVm.selectedQuote.amount}}</td>
		</tr>
		<tr>
			<td>&nbsp;<strong>JobName: </strong></td>
			<td>{{obVm.selectedQuote.jobName}}</td>
		</tr>
		<tr>
			<td>&nbsp;<strong>JobAddress: </strong></td>
			<td>{{obVm.selectedQuote.jobAddress}}</td>
		</tr>
		<tr>
			<td>&nbsp;<strong>Job ID: </strong></td>
			<td>{{obVm.selectedQuote.jobOrderNumber}}</td>
		</tr>
		<tr>
			<td>&nbsp;<strong>Engineer: </strong></td>
			<td>{{obVm.selectedQuote.engineerName}}</td>
		</tr>
		<tr>
			<td>&nbsp;<strong>Architect: </strong></td>
			<td>{{obVm.selectedQuote.architectureName}}</td>
		</tr>
		<tr>
			<td>&nbsp;<strong>Drawing Date: </strong></td>
			<td>{{obVm.selectedQuote.drawingDate | date: 'shortDate'}}</td>
		</tr>
		<tr>
			<td>&nbsp;<strong>Specs: </strong></td>
			<td>{{obVm.selectedQuote.spec.detail}}</td>
		</tr>
		<tr>
			<td>&nbsp;<strong>Salesman: </strong></td>
			<td>{{obVm.selectedQuote.salesPersonName}}</td>
		</tr>
		<tr>
			<td>&nbsp;<strong>Usercode: </strong></td>
			<td>{{obVm.selectedQuote.createdByUserCode}}</td>
		</tr>
		<tr>
			<td>&nbsp;<strong>Bidders: </strong></td>
			<td>
				<div ng-hide="!obVm.selectedQuote.bidders" class="ui-list-view-bordered" ui-list-view="bidder in obVm.selectedQuote.bidders | orderBy:'name'">
					{{ bidder.name }}
				</div>
			</td>
		</tr>
		
		<tr>
			<td>&nbsp;<strong>Quote Comments: </strong></td>
			<td>{{obVm.selectedQuote.takeOffComment}}</td>
		</tr>
		<tr>
			<td>&nbsp;<strong>GC List: </strong></td>
			<td>
				<div ng-hide="!obVm.selectedQuote.generalContractors" class="ui-list-view-bordered" ui-list-view="gc in obVm.selectedQuote.generalContractors | orderBy:'name'">
					{{ gc.name }}
				</div>
			</td>
		</tr>
	</table>
</div>


