<div ng-include="'templates/header.html'"></div>
<div ng-include="'templates/main-menu.html'"></div>
<div class="container-fluid" style="margin-top:-10px;">
	<div class="clearfix">
		<div class="panel panel-default shadow" ng-init="qVm.listQuotes();">
			<div class="panel-heading panel-heading-top form-heading">
				<label>View Quote(s)</label>
			</div>
			<div class="panel-body">            
				<div class="col-lg-7 col-md-4 col-sm-7 col-xs-12 dashboard-content"> 
					<p class="line-height">
						Revise Quote - Click Quote Number / 
						<span class="text-danger">
							Quote Followup - Click JobName 
						</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Total rows found for Year - 25
					</p> 
			</div>
            <div class="col-lg-2 col-md-2 col-sm-6">
				<a href="#" ng-click="qVm.clearSearch();" class="btn btn-primary">Clear Search</a> 
			</div>
      
      <div class="col-lg-3 col-md-3 col-sm-6 per-page-row text-right">
			Per page Rows 			
			<select ng-class="styledselect_pages" style="outline:none;"
			  ng-model="qVm.pageSize" 
			  ng-options="size for size in qVm.pageSizeList" ng-change="qVm.setCurrentPageSize(qVm.pageSize, 'quotes');" >
			</select>
		
	  </div>
   
				<div class="col-lg-12 col-md-12 col-sm-12" style="text-align:right;">
					<ul uib-pagination total-items="qVm.totalItems" ng-model="qVm.currentPage" ng-change="qVm.pageChanged('quotes')"></ul>
				</div>
  
				<!-- .row -->
				<div class="row" id="contents">
				 
				  <!-- .col -->
				  <div class="col-lg-12">
					<form id="users_view_form" class="table-container" action="" method="post">
					  <div class="table-container">
						<table border="1" width="100%" cellpadding="0" cellspacing="0" class="table-responsive theme-table">
						  <thead>
							<tr style="background:#4d7373;" >
							  <td align="center" style="padding:5px;">&nbsp;</td>
                              <td align="center" style="padding:5px;">&nbsp;</td>
                              <td align="center" style="padding:5px;">&nbsp;</td>
                              <td align="center" style="padding:5px;">&nbsp;</td>
							  <td align="center" style="padding:5px;">
								<input type="date" class="searchtxt form-control" name="user_name" value="" />
							</td>
							  <td align="center" style="padding:5px; background:#42a6d3;">
								 <input type="text" class="form-control" placeholder="Date" uib-datepicker-popup="{{dateFormat}}" ng-model="qVm.sQuote.dateCreated" is-open="qVm.dateCreated.opened" data-ng-click="qVm.createdDatePicker()" datepicker-options="dateOptions" close-text="Close" close-on-date-selection="true" datepicker-append-to-body="true" ng-change="qVm.triggerSearch();">
								</td>
							  <td align="center" style="padding:5px; background:#8db3b3;">
								<input type="text" name="takeoffId" ng-model="qVm.sQuote.takeoffId" class="form-control" style="width:300px" 					placeholder="Takeoff ID" auto-complete="qVm.autoCompleteOptions" />
								<span class="loading" ng-show="qVm.loading"></span>
							</td>
							  <td align="center" style="padding:5px; background:#bd7589;">
								<input type="text" name="quoteId" ng-model="qVm.sQuote.quoteId" class="form-control" style="width:300px" 					placeholder="Quote ID" auto-complete="qVm.autoCompleteOptions" />
								<span class="loading" ng-show="qVm.loading"></span>
							</td>
							  <td align="center" style="padding:5px;">
								<input type="text" name="jobOrderNumber" ng-model="qVm.sQuote.jobOrderNumber" class="form-control" style="width:300px" 					placeholder="Job ID" auto-complete="qVm.autoCompleteOptions" />
								<span class="loading" ng-show="qVm.loading"></span>
							</td>
							  <td align="center" style="padding:5px;">
								<input type="text" name="jobName" ng-model="qVm.sQuote.jobName" class="form-control" style="width:300px" 					placeholder="Job Name" auto-complete="qVm.autoCompleteOptions" />
								<span class="loading" ng-show="qVm.loading"></span>
							</td>
							  <td align="center" style="padding:5px;">
								<input type="text" name="jobAddress" ng-model="qVm.sQuote.jobAddress" class="form-control" style="width:300px" 					placeholder="Job Address" auto-complete="qVm.autoCompleteOptions" />
								<span class="loading" ng-show="qVm.loading"></span>
							</td>
							  <td align="center" style="padding:5px;">
								<input type="text" name="engineerId" ng-model="qVm.sQuote.engineerId" class="form-control" style="width:300px" 					placeholder="Engineer" auto-complete="qVm.autoCompleteOptions" />
								<span class="loading" ng-show="qVm.loading"></span>
							</td>
                              <td align="center" style="padding:5px;">
								<input type="text" name="architectureId" ng-model="qVm.sQuote.architectureId" class="form-control" style="width:300px" 					placeholder="Architect" auto-complete="qVm.autoCompleteOptions" />
								<span class="loading" ng-show="qVm.loading"></span>
							</td>
                              <td align="center" style="padding:5px;">
								<input type="text" name="amt" ng-model="qVm.sQuote.amt" class="form-control" style="width:300px" 					placeholder="Amount" auto-complete="qVm.autoCompleteOptions" />
								<span class="loading" ng-show="qVm.loading"></span>
							</td>
                              <td align="center" style="padding:5px;">
								<input type="text" name="specId" ng-model="qVm.sQuote.specId" class="form-control" style="width:300px" 					placeholder="Spec" auto-complete="qVm.autoCompleteOptions" />
								<span class="loading" ng-show="qVm.loading"></span>
							</td>
                              <td align="center" style="padding:5px;">
								<input type="text" name="userCode" ng-model="qVm.sQuote.userCode" class="form-control" style="width:300px" 					placeholder="UC" auto-complete="qVm.autoCompleteOptions" />
								<span class="loading" ng-show="qVm.loading"></span>
							</td>
                              <td align="center" style="padding:5px;">
								<input type="text" name="contractorsIds" ng-model="qVm.sQuote.contractorsIds" class="form-control" style="width:300px" 					placeholder="GC" auto-complete="qVm.autoCompleteOptions" />
								<span class="loading" ng-show="qVm.loading"></span>
							</td>
                              <td align="center" style="padding:5px;">
								<input type="text" class="searchtxt form-control" name="status" id="status" value="" />
								</td>
                              <td align="center" style="padding:5px;">
								<input type="text" name="biddersIds" ng-model="qVm.sQuote.biddersIds" class="form-control" style="width:300px" 					placeholder="Bidder" auto-complete="qVm.autoCompleteOptions" />
								<span class="loading" ng-show="qVm.loading"></span>
							</td>
							  <td align="center" style="padding:5px;">
								<input type="text" name="vibrolayin" ng-model="qVm.sQuote.vibrolayin" class="form-control" style="width:300px" 					placeholder="Vibrolayin" auto-complete="qVm.autoCompleteOptions" />
								<span class="loading" ng-show="qVm.loading"></span>
							</td>
							</tr>
							<tr style="background:#8db3b3;">
							  <td style="padding:5px; color:#FFF;" align="center">Info Icon</td>
							  <td style="padding:5px; color:#FFF;" align="center" >WKSHT</td>
							  <td style="padding:5px; color:#FFF;" align="center" >DOC</td>
							  <td style="padding:5px; color:#FFF;" align="center" >PDF</td>
							  <td style="padding:5px; color:#FFF;" align="center" >XLS</td>
							  <td style="padding:5px; color:#FFF;" align="center" >Date</td>
							  <td style="padding:5px; color:#FFF; background:#02577d;" align="center">Takeoff ID</td>
							  <td style="padding:5px; color:#FFF; background:#4d7373;" align="center">Quote ID</td>
                              <td style="padding:5px; color:#FFF; background:#7d3549;" align="center">Job ID</td>
                              <td style="padding:5px; color:#FFF;" align="center">Job Name</td>
                              <td style="padding:5px; color:#FFF;" align="center">Address</td>
                              <td style="padding:5px; color:#FFF;" align="center">Engineer</td>
                              <td style="padding:5px; color:#FFF;" align="center">Architect</td>
                              <td style="padding:5px; color:#FFF;" align="center">Amount</td>
                              <td style="padding:5px; color:#FFF;" align="center">Specs</td>
                              <td style="padding:5px; color:#FFF;" align="center">UC</td>
                              <td style="padding:5px; color:#FFF;" align="center" >GC</td>
                              <td style="padding:5px; color:#FFF;" align="center" >INSTUB</td>
                              <td style="padding:5px; color:#FFF;" align="center">Bidders</td>
                              <td style="padding:5px; color:#FFF;" align="center" >VIBRO</td>
							</tr>
						  </thead>
						  <tbody>
							<tr height="25" ng-repeat="quote in qVm.quotes track by $index">
							  <td align="center">						
								 <img  popover-placement="right" uib-popover-template="qVm.takeoffPopover.templateUrl" popover-trigger="'outsideClick'" popover-title="{{qVm.takeoffPopover.title}}"  ng-click="qVm.showTakeoffInfo(quote);"  style="cursor:pointer;" src="images/takeoffinfo.png" alt="image" border="0" />
								 &nbsp;
								  <img  popover-placement="right" uib-popover-template="qVm.quotePopover.templateUrl" popover-trigger="'outsideClick'" popover-title="{{qVm.quotePopover.title}}"  ng-click="qVm.showQuoteInfo(quote);"  style="cursor:pointer;" src="images/quote_info.png" alt="image" border="0" />
							  </td>
							  <td align="center"  >
								<a ng-show="!quote.wsCreated || quote.worksheetDeleted" href ui-sref="worksheet-new({takeoffId:quote.id})"  target="_blank">
									<img  src="images/worksheet_new.png" alt="Create New Worksheet" />
								</a>
								<a ng-show="quote.wsCreated && !quote.worksheetDeleted" href ui-sref="worksheet-edit({worksheetId:quote.worksheetId})" target="_blank">
									<img src="images/worksheet_edit.png"  alt="Edit Worksheet" />
								</a>
								<a ng-show="quote.wsCreated && !quote.worksheetDeleted" href ui-sref="office-worksheet({officeWorksheetId:quote.worksheetId, officeQuoteId:quote.id})" target="_blank">
									<img src="images/cost_icon.jpg"  alt="Office Worksheet" />
								</a>
								<span style="cursor:pointer;" ng-show="quote.wsCreated && !quote.worksheetDeleted && quote.pdfGenerated" ng-click="qVm.worksheetPdfView(quote)">
									<img src="images/pdf_icon.png"  alt="Worksheet PDF View" />
								</a>								
							  </td>
							  <td align="center" >
								<a href ng-click="qVm.showFileListingView('QUOTE_DOC', quote.id, 'Quote', 'large', '.doc,.docx', 'list-view');">
									<span class="badge">{{quote.quoteDocCount}}</span>
								</a>
								<a href ng-click="qVm.showFileListingView('QUOTE_DOC', quote.id, 'Quote', 'large', '.doc,.docx', 'upload-view');">
									<img src="images/FileUploadIcon.png" alt="image" border="0" />
								</a>
							  </td>
							  <td align="center" >
							  <a href ng-click="qVm.showFileListingView('QUOTE_PDF_DOC', quote.id, 'Quote', 'large', '.pdf', 'list-view');">
									<span class="badge">{{quote.quotePdfDocCount}}</span>
								</a>
								<a href ng-click="qVm.showFileListingView('QUOTE_PDF_DOC', quote.id, 'Quote', 'large', '.pdf', 'upload-view');">
									<img src="images/FileUploadIcon.png" alt="image" border="0" />
								</a>
							  </td>
							  <td align="center" >
							  <a href ng-click="qVm.showFileListingView('QUOTE_XLS_DOC', quote.id, 'Quote', 'large', '.xls,.xlsx', 'list-view');">
									<span class="badge">{{quote.quoteXlsDocCount}}</span>
								</a>
								<a href ng-click="qVm.showFileListingView('QUOTE_XLS_DOC', quote.id, 'Quote', 'large', '.xls,.xlsx', 'upload-view');">
									<img src="images/FileUploadIcon.png" alt="image" border="0" />
								</a>
							  </td>
							  <td align="center" >{{quote.dateCreated?quote.dateCreated:"..." | date:'shortDate'}}</td>
							   <td align="center"><a href ui-sref = "takeoff-view">{{quote.takeoffId?quote.takeoffId:"..."}}</a></td>
							  <td align="center"><a href ui-sref = "quote-edit({quoteEditId:quote.id})">{{quote.quoteId?quote.quoteId:"..."}}</a></td>
							  <td align="center">{{quote.jobOrderNumber?quote.jobOrderNumber:"..."}}</td>
							  <td align="center">
								<span ng-show="quote.worksheetId != null && quote.worksheetId  != undefined">
									<a href ui-sref="quote-follow({takeoffId:quote.id, worksheetId:quote.worksheetId})">
										{{quote.jobName?quote.jobName:"..."}}
									</a>
								</span>
								<span ng-show ="quote.worksheetId == null ||   quote.worksheetId == undefined">
									{{quote.jobName?quote.jobName:"..."}}
								</span>
							</td>
							  <td align="center">{{quote.jobAddress?quote.jobAddress:"..."}}</td>
							  <td align="center">{{quote.engineerName?quote.engineerName:"..."}}</td>
							  <td align="center">{{quote.architectureName?quote.architectureName:"..."}}</td>
							  <td align="center">{{quote.amount?quote.amount:"..." | currency}}</td>
							  <td align="center">{{quote.spec.detail?quote.spec.detail:"..."}}</td>
							  <td align="center">{{quote.userCode?quote.userCode:"..."}}</td>
							 
							  <td   align="center"><img popover-placement="left" uib-popover-template="qVm.GcsPopover.templateUrl" popover-trigger="'outsideClick'" popover-title="{{qVm.GcsPopover.title}}" src="images/gc.png" style="cursor:pointer;" title="General Contractors" ng-click="qVm.listGcsByTakeoff(quote)" border="0"></td>
							   <td align="center"  >...</td>
							 <td align="center">&nbsp; 
								<img popover-placement="left" uib-popover-template="qVm.bidderPopover.templateUrl" popover-trigger="'outsideClick'" popover-title="{{qVm.bidderPopover.title}}" src="images/bidders_ico.png" ng-click="qVm.listBiddersByTakeoff(quote)" border="0">
								&nbsp;
								<img src="images/check_gray.png" ng-show="!quote.mailSentToBidder">
								&nbsp;
								<img src="images/check_green.png"  ng-show="quote.mailSentToBidder">
							 </td>
							  <td align="center"  >
								<a href ng-click="qVm.showFileListingView('QUOTE_VIBRO_DOC', quote.id, 'Quote', 'large', '.pdf', 'list-view');">
									<span class="badge">{{quote.quoteVibroDocCount?quote.quoteVibroDocCount:"..."}}</span>
								</a>
								<a href ng-click="qVm.showFileListingView('QUOTE_VIBRO_DOC', quote.id, 'Quote', 'large', '.pdf', 'upload-view');">
									<img src="images/FileUploadIcon.png" alt="image" border="0" />
								</a>
							  </td>
							</tr>							
						</table>
						</td>
						</tr>
						</tbody>
						</table>
					  </div>
					</form>
				  </div>
				</div>
			  </div>
			</div>
		</div>
</div>

<div ng-include="'templates/footer.html'" ></div>