<div ng-include="'templates/header.html'"></div>
<div ng-include="'templates/main-menu.html'"></div>
<div class="container-fluid">
  <div class="clearfix">
    <div class="panel panel-default" ng-init="qVm.initQuoteReportInputs();">
      <div class="panel-heading form-heading panel-heading-top">
        <label>Quote Report Input</label>
        <a id="form_display" class="btn btn-success pull-right" ng-click="qVm.toggleReportFormVisibility();" href >{{qVm.showReportForm?"Hide Report Form":"Show Report Form"}}</a> 
      <div class="panel-body new-tk-bg">
        <form ng-submit="qVm.rememberReportQueryParams();" ng-show="qVm.showReportForm">
          <!-- .row -->
          <section>
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 pad_top_30 dashboard-content"> <br />
                  <br />
                </div>
                <!-- .col -->
                <div style="font-size:14px;" class="col-lg-3 col-md-3 col-sm-3 text-center pad_top_30"> </div>
              </div>
              <!-- .row -->
            </div>
            <!-- .container -->
            <div class="bg-d0e9f4 theme-form">
              <div class="container">
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> <span class="new-take-off-title"><u>Between Two Dates</u></span> </div>
                  <!-- .col -->
                  <div class="col-lg-2 col-md-2 col-sm-2 visible-xs-padding-right"> <span class="new-take-off-title">From:</span> </div>
                  <!-- .col -->
                  <div class="col-lg-3 col-md-3 col-sm-2">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="From Date" uib-datepicker-popup="{{dateFormat}}" ng-model="qVm.takeoff.fromDate" is-open="qVm.rptFromDate.opened" data-ng-click="qVm.rptFromDatePicker()" datepicker-options="dateOptions" close-text="Close" close-on-date-selection="true" datepicker-append-to-body="true">
                    </div>
                  </div>
                  <!-- .col -->
                  <div class="col-lg-2 col-md-2 col-sm-2 visible-xs-padding-right"> <span class="new-take-off-title">To:</span> </div>
                  <!-- .col -->
                  <div class="col-lg-3 col-md-3 col-sm-2">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="From Date" uib-datepicker-popup="{{dateFormat}}" ng-model="qVm.takeoff.toDate" is-open="qVm.rptToDate.opened" data-ng-click="qVm.rptToDatePicker()" datepicker-options="dateOptions" close-text="Close" close-on-date-selection="true" datepicker-append-to-body="true">
                    </div>
                  </div>
                  <!-- .col -->
                  <div class="col-lg-2 col-md-2 hidden-lg hidden-md col-sm-1 visible-xs-padding-right"> <span class="new-take-off-title">&nbsp;</span> </div>
                  <!-- .col -->
                  <div class="col-lg-2 hidden-md hidden-lg hidden-xs hidden-sm col-md-2 col-sm-3 visible-xs-padding-right"> <span class="new-take-off-title">&nbsp;</span> </div>
                  <!-- .col -->
                  <div class="col-lg-2 hidden-xs col-md-2 col-sm-3 visible-xs-padding-right"> <span class="new-take-off-title">&nbsp;</span> </div>
                  <!-- .col -->
                  <div class="col-lg-2 col-md-2 col-sm-2 visible-xs-padding-right"> <span class="new-take-off-title">Due Date From:</span> </div>
                  <!-- .col -->
                  <div class="col-lg-3 col-md-3 col-sm-2">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="From Date" uib-datepicker-popup="{{dateFormat}}" ng-model="qVm.takeoff.fromDueDate" is-open="qVm.rptDueDateFrom.opened" data-ng-click="qVm.rptDueDateFromPicker()" datepicker-options="dateOptions" close-text="Close" close-on-date-selection="true" datepicker-append-to-body="true">
                    </div>
                  </div>
                  <!-- .col -->
                  <div class="col-lg-2 col-md-2 col-sm-2 visible-xs-padding-right"> <span class="new-take-off-title">Due Date To:</span> </div>
                  <!-- .col -->
                  <div class="col-lg-3 col-md-3 col-sm-2">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="From Date" uib-datepicker-popup="{{dateFormat}}" ng-model="qVm.takeoff.toDueDate" is-open="qVm.rptDueDateTo.opened" data-ng-click="qVm.rptDueDateToPicker()" datepicker-options="dateOptions" close-text="Close" close-on-date-selection="true" datepicker-append-to-body="true">
                    </div>
                  </div>
                  <!-- .col -->
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr>
                  </div>
                  <!-- .col -->
                </div>
                <!-- .row -->
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12"> <span class="new-take-off-title">Year:</span> </div>
                  <!-- .col -->
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <div class="form-group">
                      <select class="form-control" ng-model="qVm.takeoff.year" 
				  ng-options="y.id as y.val for y in qVm.rptYearRange">
                        <option value="">--- Select ---</option>
                      </select>
                    </div>
                  </div>
                  <!-- .col -->
                  <div class="col-lg-2 col-md-2 col-sm-1 col-xs-12"> <span class="new-take-off-title">Salesman:</span> </div>
                  <!-- .col -->
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <div class="form-group">
                      <select class="form-control"
				  ng-model="qVm.takeoff.salesPerson" 
				  ng-options="user.id as user.customName for user in qVm.users">
                        <option value="">--- Select ---</option>
                      </select>
                    </div>
                  </div>
                  <!-- .col -->
                  <div class="col-lg-2 col-md-2 col-sm-1 col-xs-12"> <span class="new-take-off-title">Usercode:</span> </div>
                  <!-- .col -->
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <div class="form-group">
                      <select class="form-control"
				  ng-model="qVm.takeoff.userCode" 
				  ng-options="user.userCode as user.customName for user in qVm.users">
                        <option value="">--- Select ---</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2"> <span class="form-label"> Revision </span></div>
                  <!-- .col -->
                  <div class="col-lg-2 col-md-2 col-sm-2">
                    <select class="form-control"
					  ng-model="qVm.takeoff.quoteRevision" 
					  ng-options="rev.id as rev.name for rev in qVm.quoteRevisions">
                      <option value="">--- Select ---</option>
                    </select>
                  </div>
                  <!-- .col -->
                </div>
				
				
				 <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12"> <span class="new-take-off-title">Drawing Date</span> </div>
                  <!-- .col -->
                  <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Drawing Date" uib-datepicker-popup="{{dateFormat}}" ng-model="qVm.takeoff.drawingDate" is-open="qVm.rptDrawingDate.opened" data-ng-click="qVm.rptDrawingDatePicker()" datepicker-options="dateOptions" close-text="Close" close-on-date-selection="true" datepicker-append-to-body="true">
                    </div>
                  </div>
                  <!-- .col -->
                  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12"> <span class="new-take-off-title">Job ID</span> </div>
                  <!-- .col -->
                  <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
                    <div class="form-group">
						<input type="text" class="form-control" placeholder="Job ID" ng-model="qVm.takeoff.jobOrderNumber">
                    </div>
                  </div>
                  <!-- .col -->
                  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12"> <span class="new-take-off-title">Quote ID</span> </div>
                  <!-- .col -->
                  <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
                    <div class="form-group"><input type="text" class="form-control" placeholder="Quote ID" ng-model="qVm.takeoff.quoteId">
                    </div>
                  </div>
                  <!-- .col -->
                </div>
				<div class="row">
				  <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> <span class="new-take-off-title">Job Name</span></div>
				  <!-- .col -->
				  <div class="col-lg-10 col-md-10 col-sm-9">
					<div class="form-group">
					  <input type="text" placeholder="Job Name" ng-model="qVm.takeoff.jobName" class="form-control">
					</div>
				  </div>
				  <!-- .col -->
				</div>
				<!-- .row -->
				<div class="row">
				  <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> <span class="new-take-off-title">Job Address</span></div>
				  <!-- .col -->
				  <div class="col-lg-10 col-md-10 col-sm-9">
					<div class="form-group">
					  <input type="text" placeholder="Job Address" ng-model="qVm.takeoff.jobAddress" class="form-control">
					</div>
				  </div>
				  <!-- .col -->
				</div>
				
				<div class="row">
				  <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> <span class="new-take-off-title">Amount:</span></div>
				  <!-- .col -->
				  <div class="col-lg-9 col-md-9 col-sm-8">
					<div class="form-group">
					  <input type="text" placeholder="Amount" ng-model="qVm.takeoff.amount" class="form-control">
					</div>
				  </div>
				  <!-- .col -->
				</div>
				
                <!-- .row -->
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12"> <span class="new-take-off-title">Engineer</span> </div>
                  <!-- .col -->
                  <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
                    <div class="form-group">
                      <select class="form-control"
				  ng-model="qVm.takeoff.engineerId" 
				  ng-options="engineer.id as engineer.name for engineer in qVm.engineers" >
                        <option value="">--- Select ---</option>
                      </select>
                    </div>
                  </div>
                  <!-- .col -->
                  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12"> <span class="new-take-off-title">Architect</span> </div>
                  <!-- .col -->
                  <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
                    <div class="form-group">
                      <select class="form-control" 
				  ng-model="qVm.takeoff.architectureId" 
				  ng-options="architect.id as architect.name for architect in qVm.architects" >
                        <option value="">--- Select ---</option>
                      </select>
                    </div>
                  </div>
                  <!-- .col -->
                  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12"> <span class="new-take-off-title">Specifications</span> </div>
                  <!-- .col -->
                  <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
                    <div class="form-group">
                      <select class="form-control"
			  ng-model="qVm.takeoff.specId" 
			  ng-options="spec.id as spec.detail for spec in qVm.specs">
                        <option value="">--- Select ---</option>
                      </select>
                    </div>
                  </div>
                  <!-- .col -->
                </div>
				
				   <div class="row">
					  <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right">
						<div class="form-group"> <span class="new-take-off-title">Bidders</span></div>
					  </div>
					  <!-- .col -->
					   <div class="col-lg-10 col-md-10 col-sm-9">
					 <div class="form-group">
                       <ui-select multiple ng-model="qVm.selectedBidders" theme="bootstrap" style="height:50px;" close-on-select="false" title="Choose Bidder(s)">
						<ui-select-match placeholder="Select Bidder(s)">{{$item.name}}</ui-select-match>
						<ui-select-choices repeat="bidder in qVm.bidders | filter:$select.search">
						  {{bidder.name}}
						</ui-select-choices>
					  </ui-select>
                    </div>
					<!-- .form-group -->
				  </div>
					  <!-- .col -->
					</div>
                <!-- .row -->
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr>
                  </div>
                  <!-- .col -->
                  <div class="col-lg-12 col-md-12 col-sm-12 pad_top_301">
                    <input type="submit" class="submit-btn btn btn-primary" value="Generate" id="quote-rpt-btn">
                    &nbsp;&nbsp;&nbsp;
                    <input type="reset" onclick="this.form.reset();" class="reset-btn btn btn-info" value="Reset">
                  </div>
                  <!-- .col -->
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr>
                  </div>
                  <!-- .col -->
                </div>
                <!-- .row -->
              </div>
              <!-- .container -->
            </div>
            <!-- .bg-d0e9f4 -->
          </section>
          <!-- .row -->
          <!-- .row -->
          <div class="row checkrow"> </div>
          <!-- .row -->
        </form>
		<span id="quote-rpt-spinner" style="display:none;">
			<img src="images/loading.gif" />
		</span>
		<div ng-show="qVm.report.mode === 'output' ">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2 pad_top_30 dashboard-content">
            <h3>Quote Reports</h3>
          </div>
          <!-- .col -->
		  <div style="font-size:14px;" class="col-lg-3 col-md-3 col-sm-3 text-center pad_top_30"> Total <span class="badge">{{qVm.quotes.length}}</span> row(s) found </div>
          <div style="font-size:14px;" class="col-lg-3 col-md-3 col-sm-3 text-center pad_top_30"> Total Quote Amount - <span style="font-size:18px;">{{qVm.totalQuoteAmount | currency}}</span> </div>
          <!-- .col -->
          
        </div>
        <div style="margin-top:25px;">
          <!-- .col -->
          <div class="col-lg-12 pad-none">
            <form id="users_view_form" class="table-container" action="" method="post">
              <div class="table-container">
                <table border="1" width="100%" cellpadding="0" cellspacing="0" class="table-responsive theme-table">
                  <thead>
                    <tr class="bg-4D7373">
                      <td align="center" style="width:6%">Info Icon</td>
                      <td align="center" class="bg-dark-green">Takeoff ID</td>
                      <td align="center" class="bg-4D7373">Quote ID</td>
                      <td align="center" class="c10 bg-7D3549">Job ID</td>
                      <td align="center">Job Name</td>
                      <td align="center">Address</td>
                      <td align="center">Engineer</td>
                      <td align="center">Architect</td>
                      <td align="center">Amount</td>
                      <td align="center">Specs</td>
                      <td align="center">UC</td>
                      <td align="center">Bidders</td>
                    </tr>
                  </thead>
                  <tbody>
                   <tr height="25" ng-repeat="quote in qVm.quotes track by $index">
					  <td align="center">						
						 <img  popover-placement="right" uib-popover-template="qVm.takeoffPopover.templateUrl" popover-trigger="'outsideClick'" popover-title="{{qVm.takeoffPopover.title}}"  ng-click="qVm.showTakeoffInfo(quote);"  style="cursor:pointer;" src="images/takeoffinfo.png" alt="image" border="0" />
						 &nbsp;
						  <img  popover-placement="right" uib-popover-template="qVm.quotePopover.templateUrl" popover-trigger="'outsideClick'" popover-title="{{qVm.quotePopover.title}}"  ng-click="qVm.showQuoteInfo(quote);"  style="cursor:pointer;" src="images/quote_info.png" alt="image" border="0" />
					  </td>
					   <td align="center"><a href ui-sref = "takeoff-view">{{quote.takeoffId?quote.takeoffId:"..."}}</a></td>
					  <td align="center"><a href ui-sref = "quote-edit({quoteEditId:quote.id})">{{quote.quoteId?quote.quoteId:"..."}}</a></td>
					  <td align="center">{{quote.jobOrderNumber?quote.jobOrderNumber:"..."}}</td>
					  <td align="center">
						<span ng-show="quote.worksheetId != null && quote.worksheetId  != undefined">
							<a href ui-sref="quote-follow({takeoffId:quote.id, worksheetId:quote.worksheetId})">
								{{quote.jobName?quote.jobName:"..."}}
							</a>
						</span>
						<span ng-show ="quote.worksheetId == null ||   quote.worksheetId == undefined">
							{{quote.jobName?quote.jobName:"..."}}
						</span>
					</td>
					  <td align="center">{{quote.jobAddress?quote.jobAddress:"..."}}</td>
					  <td align="center">{{quote.engineerName?quote.engineerName:"..."}}</td>
					  <td align="center">{{quote.architectureName?quote.architectureName:"..."}}</td>
					  <td align="center">{{quote.amount?quote.amount:"..." | currency}}</td>
					  <td align="center">{{quote.spec.detail?quote.spec.detail:"..."}}</td>
					  <td align="center">{{quote.userCode?quote.userCode:"..."}}</td>
					 <td align="center">&nbsp; 
						<img popover-placement="left" uib-popover-template="qVm.bidderPopover.templateUrl" popover-trigger="'outsideClick'" popover-title="{{qVm.bidderPopover.title}}" src="images/bidders_ico.png" ng-click="qVm.listBiddersByTakeoff(quote)" border="0">
						&nbsp;
						<img src="images/check_gray.png" ng-show="!quote.mailSentToBidder">
						&nbsp;
						<img src="images/check_green.png"  ng-show="quote.mailSentToBidder">
					 </td>
					</tr>	
                  </tbody>
                </table>
              </div>
            </form>
          </div>
        </div>
		</div>
      </div>
    </div>
  </div>
</div>
<div style="clear:both;height:50px;"></div>
<div ng-include="'templates/footer.html'" ></div>
