<div ng-include="'templates/header.html'"></div>
<div ng-include="'templates/main-menu.html'"></div>
<div class="container-fluid" style="margin-top:-10px;">
	<div class="clearfix">
		<div class="panel panel-default shadow" ng-init="shipViaVm.getShippedVias();">
			<div class="panel-heading form-heading panel-heading-top">
				<label>View shippedvia</label>	
				<span class="pull-right"><a href ng-click="shipViaVm.addShipVia('Add New Shipping Via Detail');" >Add shippedvia</a></span>
			</div>
			<div class="panel-body">
				<div style="text-align:right;">
                 <div class="col-lg-2 col-md-2 col-sm-6 per-page-row text-left">
					Per page Rows 
					<select ng-class="styledselect_pages" style="outline:none;"
						ng-model="shipViaVm.pageSize" 
						ng-options="size for size in shipViaVm.pageSizeList" ng-change="shipViaVm.setCurrentPageSize(shipViaVm.pageSize);" >
					</select>
			</div>
<div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 dashboard-content"> <a href="javascript:void(0);" onclick="ClearSearch('engineers');" class="btn btn-primary width-full">Clear Search</a> </div>
					<ul uib-pagination total-items="shipViaVm.totalItems" items-per-page = "shipViaVm.pageSize" ng-model="shipViaVm.currentPage" ng-change="shipViaVm.pageChanged()"></ul>
				</div>
  
				<!-- .row -->
				<div class="row" id="contents">
				 
				  <!-- .col -->
				  <div class="col-lg-12">
					<form id="users_view_form" class="table-container" action="" method="post">
					  <div class="table-container">
						<table border="1" width="100%" cellpadding="0" cellspacing="0" class="table-responsive theme-table">
						  <thead>
                          
                          <tr style="background:#69C;">
                      <td class="center">&nbsp;</td>
                      <td class="center"><input type="text" class="searchtxt form-control-2 form-control" name="takeoff_quoteid" value=""></td>
                      <td align="center"><input type="text" class="searchtxt form-control-2 form-control" name="takeoff_quoteid" value=""></td>
                      <td align="center"><input type="text" class="searchtxt form-control-2 form-control" name="takeoff_quoteid" value=""></td>
                      
                      <td align="center">&nbsp;</td>
                    </tr>
                    
							<tr style="background:#BFD9F3; color:#000;">
							  <td style="padding:5px;" align="center" width="5%">S. No.</td>
							  <td style="padding:5px;" align="center" width="55%">Item shipped</td>
							  <td style="padding:5px;" align="center" width="15%">UC</td>
							  <td style="padding:5px;" align="center" width="15%">UC2</td>
							  <td style="padding:5px;" filter="false" align="center"></td>
							</tr>
						  </thead>
						  <tbody>
							<tr id="user_90" height="25" ng-repeat="ship in shipViaVm.shippedVias track by $index">
							  <td align="center">{{$index + 1}}</td>
							  <td align="left">{{ship.shippedViaAddress}}</td>
							  <td align="center">{{ship.createdByUserCode}}</td>
							  <td align="center">{{ship.updatedByUserCode}}</td>
							  <td align="center">&nbsp; <a href ng-click = "shipViaVm.editShippedVia(ship.id, 'Edit Shipping Via Detail');"> <img src="images/file_edit.png" title="edit user" border="0"></a> &nbsp;&nbsp; <img src="images/file_delete.png" style="cursor:pointer;" title="delete shipping via detail" ng-click="shipViaVm.deleteShippedVia(ship.id);" border="0"> &nbsp;&nbsp; </td>
							</tr>							
						</table>
						</td>
						</tr>
						</tbody>
						</table>
					  </div>
					</form>
				  </div>
				</div>
			  </div>
			</div>
		</div>
</div>

<div ng-include="'templates/footer.html'" ></div>