<div ng-include="'templates/header.html'"></div>
<div ng-include="'templates/main-menu.html'"></div>
<div class="container-fluid" style="margin-top:-10px;">
	<div class="clearfix">
		<div class="panel panel-default shadow" ng-init="splInvVm.getSplInventories();">
			<div class="panel-heading form-heading panel-heading-top">
				<label>Manage SPL Inventories</label>				
				<span class="pull-right"><a href ui-sref="spl-add" >Add SPL Inventory</a></span>	
			</div>
			<div class="panel-body">
				<div style="text-align:right;">
				<div class="col-lg-2 col-md-2 col-sm-6 per-page-row text-left">
					Per page Rows 
					<select ng-class="styledselect_pages" style="outline:none;"
						ng-model="splInvVm.pageSize" 
						ng-options="size for size in splInvVm.pageSizeList" ng-change="splInvVm.setCurrentPageSize('SPL_INV', splInvVm.pageSize);" >
					</select>
			</div>
					<ul uib-pagination total-items="splInvVm.totalItems" items-per-page = "splInvVm.pageSize" ng-model="splInvVm.currentPage" ng-change="splInvVm.pageChanged()"></ul>
				</div>
  
				<!-- .row -->
				<div class="row" id="contents">
				   <!-- .col -->
				  <div class="col-lg-12">
				   
					<form id="users_view_form" class="table-container" action="" method="post">
					  <div class="table-container">
						<table border="1" width="100%" cellpadding="0" cellspacing="0" class="table-responsive theme-table">
						  <thead>
							<tr style="background:#ff9999;">
							  <td class="center">&nbsp;</td>
							  <td class="center"><input type="text" class="searchtxt form-control-2 form-control" name="takeoff_quoteid" value=""></td>
							  <td align="center"><input type="text" class="searchtxt form-control-2 form-control" name="takeoff_quoteid" value=""></td>
							  <td align="center"><input type="text" class="searchtxt form-control-2 form-control" name="takeoff_quoteid" value=""></td>
							  <td align="center"><input type="text" class="searchtxt form-control-2 form-control" name="takeoff_quoteid" value=""></td>
							  <td align="center"><input type="text" class="searchtxt form-control-2 form-control" name="takeoff_quoteid" value=""></td>
							  <td align="center"><input type="text" class="searchtxt form-control-2 form-control" name="takeoff_quoteid" value=""></td>
							  <td align="center"><input type="text" class="searchtxt form-control-2 form-control" name="takeoff_quoteid" value=""></td>
							  <td align="center"><input type="text" class="searchtxt form-control-2 form-control" name="takeoff_quoteid" value=""></td>
							  <td align="center"><input type="text" class="searchtxt form-control-2 form-control" name="takeoff_quoteid" value=""></td>
							  
							</tr>
                    
							<tr style="background:#ff9999; color:#000;">
							  <td style="padding:5px;" align="center">SR. No.</td>
							  <td style="padding:5px;" align="center">Item Description</td>
							  <td style="padding:5px;" align="center">Quantity in Stock</td>
							  <td style="padding:5px;" align="center">Re-order Quantity</td>
                              <td style="padding:5px;" align="center">Size</td>
                              <td style="padding:5px;" align="center">Unit Price</td>
                              <td style="padding:5px;" align="center">Billable Cost</td>
							  <td style="padding:5px;" align="center">Net Price</td>
							  <td style="padding:5px;" align="center">Minimum Stock Level</td>
							  <td style="padding:5px;" align="center">Order Number With Qty</td>
							  <td style="padding:5px;" align="center">UC</td>
							  <td style="padding:5px;" align="center">UC2</td>
							  <td style="padding:5px;" align="center">Image</td>
							  <td style="padding:5px;" filter="false" align="center">Actions</td>
							</tr>
						  </thead>
						  <tbody ng-repeat="splInv in splInvVm.splInventories track by $index" id="inv_row_{{splInv.id}}">
							<tr height="25">
							  <td align="center">{{$index + 1}}</td>
							  <td align="center">{{splInv.item}} <br /></td>
                              <td align="center">{{splInv.quantity}}</td>
							  <td align="center">{{splInv.reorderQuantity}}</td>
							  <td align="center">{{splInv.size}}</td>
							  <td align="center">{{splInv.unitPrice}}</td>
							  <td align="center">{{splInv.billableCost}}</td>
							  <td align="center">{{splInv.quantity * splInv.unitPrice}}</td>
							  <td align="center">{{splInv.minStockLevel}}</td>
							  <td align="center">{{splInv.orderNumberWithQty}}</td>
							  <td align="center">{{splInv.createdByUserCode}}</td>
							  <td align="center">{{splInv.updatedByUserCode}}</td>
							   <td align="center">
								<a href ng-click="splInvVm.showFileListingView('inv_spl_image_doc', splInv.id, 'SPL Inventory Images', 'large', '.png', 'list-view');">
									<span class="badge">{{splInv.imageCount}}</span>								
								</a>
								<a href ng-click="splInvVm.showFileListingView('inv_spl_image_doc', splInv.id, 'SPL Inventory Images', 'large', '.png', 'upload-view');">
									<img src="images/FileUploadIcon.png" alt="image" border="0" />									
								</a>
								<br>
								<img ng-hide="splInv.imageCount === 0" style ="cursor:pointer;" src="images/inv_image.png" alt="image" border="0" ng-click="splInvVm.toggleImageContainer(splInv.id);" />
							  </td>
							  <td align="center">&nbsp; 
								<a href ui-sref="spl-edit({id:splInv.id})"> 
									<img src="images/file_edit.png" title="edit splInv" border="0">
								</a> 
									&nbsp;&nbsp; 
									<img ng-hide="splInv.imageCount === 0" src="images/file_delete.png" style="cursor:pointer;" title="delete splInv" ng-click="splInvVm.deleteSplInventory(splInv.id);" border="0"> &nbsp;&nbsp; <a href="javascript:void(0);" onclick="ShowDetail(90)">
									
								</a>
							  </td>
							</tr>	
							<tr ng-show="splInv.openImageContainer">
								<td colspan="14">
									<div ng-repeat="image in splInvVm.documents" style="display:table-cell;max-width:150px;padding: 5px 5px 5px 5px;">
										<img ng-src="{{resourceReadPath}}{{image.createdName}}{{image.extension}}" />
									</div>
								</td>
							</tr>
							</tbody>
						</table>
					  </div>
					</form>
				  </div>
				 </div>
				  
				</div>
			  </div>
			</div>
		</div>
</div>

<div ng-include="'templates/footer.html'" ></div>