<div ng-include="'templates/header.html'"></div>
<div ng-include="'templates/main-menu.html'"></div>
<div class="container-fluid">
	<div class="clearfix">
		<div class="panel panel-default" ng-init="takeVm.initTakeoffMasterInputs()">
			<div class="panel-heading form-heading panel-heading-top">
				<label>Search Take Off</label>				
			</div>
			<div class="panel-body">
				<form ng-submit="takeVm.saveTakeoff();">
					<!-- .row -->
                    
                    <div class="row"> <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> &nbsp; </div><!-- .col --> <div class="col-lg-9 col-md-9 col-sm-8 pad_bot_30"> <div class="form-group"> <input value="Search" class="submit-btn btn btn-primary" type="submit"> &nbsp;&nbsp;&nbsp; <input value="Reset" class="reset-btn btn btn-info" onclick="this.form.reset();" type="reset"> </div> </div><!-- .col --> </div>
                    
                    
					<div class="row">
                    
                    
                    <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> 
							<span class="form-label">
								Date Entered
							</span>
							<span class="colon">:</span> 
						</div>
						  <!-- .col -->
						  <div class="col-lg-2 col-md-2 col-sm-9">
							<div class="form-group">
							  <input type="date" class="form-control" ng-model="takeVm.takeoff.drawingDate" ng-required="true" />
							</div>
						  </div>
                          
						  <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> 
							<span class="form-label">Usercode</span>
							<i class="star red">*</i>
							<span class="colon">:</span> 
						</div>
						  <!-- .col -->
						  <div class="col-lg-2 col-md-2 col-sm-9">
							<div class="form-group">
							 <select class="form-control"
								  ng-model="takeVm.takeoff.salesPerson" 
								  ng-options="user.id as user.customName for user in takeVm.users" ng-required = "true">
								  <option value="">--- Select ---</option>
								</select>
							</div>
						  </div>
                          
					  <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> 
							<span class="form-label">Salesman</span>
							<i class="star red">*</i>
							<span class="colon">:</span> 
						</div>
						  <!-- .col -->
						  <div class="col-lg-2 col-md-2 col-sm-9">
							<div class="form-group">
							 <select class="form-control"
								  ng-model="takeVm.takeoff.salesPerson" 
								  ng-options="user.id as user.customName for user in takeVm.users" ng-required = "true">
								  <option value="">--- Select ---</option>
								</select>
							</div>
						  </div>
                          
                          
                    
                    
                    
					 <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> 
							<span class="form-label">
								Job Name
							</span>
							<i class="star red">*</i>
							<span class="colon">:</span> 
						</div>
						  <!-- .col -->
						  <div class="col-lg-10 col-md-10 col-sm-9">
							<div class="form-group">
							  <input type="text" placeholder="Job Name" class="form-control" maxlength="80" oninvalid="this.setCustomValidity('Enter Job Name');" onkeypress="this.setCustomValidity('');" ng-model="takeVm.takeoff.jobName" ng-required="true" />
							</div>
						  </div>

						
						  <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> 
							<span class="form-label">
								Job Address
							</span>
							<i class="star red">*</i>
							<span class="colon">:</span> 
						</div>
						  <!-- .col -->
						  <div class="col-lg-10 col-md-10 col-sm-9">
							<div class="form-group">
							  <input type="text" placeholder="Job Address" class="form-control" maxlength="80" oninvalid="this.setCustomValidity('Enter Job Address');" onkeypress="this.setCustomValidity('');" ng-model="takeVm.takeoff.jobAddress" ng-required="true" />
							</div>
						  </div>
						   <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> 
							<span class="form-label">
								Specification
							</span>
							<i class="star red">*</i>
							<span class="colon">:</span> 
						</div>
						  <!-- .col -->
						  <div class="col-lg-10 col-md-10 col-sm-9">
							<div class="form-group">
								<div placeholder="Select Contractors" ng-dropdown-multiselect="" options="takeVm.specs" selected-model="takeVm.selectedSpecs" extra-settings="takeVm.specSettings"></div>
							</div>
						  </div>
						
						 <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> 
							<span class="form-label">Engineer</span>
							<span class="colon">:</span> 
						</div>
						  <!-- .col -->
						  <div class="col-lg-10 col-md-10 col-sm-9">
							<div class="form-group">
								<select class="form-control"
								  ng-model="takeVm.takeoff.engineerId" 
								  ng-options="engineer.id as engineer.name for engineer in takeVm.engineers" >
								  <option value="">--- Select ---</option>
								</select>
							</div>
						  </div>
						   <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right">
								<span class="form-label">Architecture</span>
								<span class="colon">:</span> 
							</div>
						  <!-- .col -->
						  <div class="col-lg-10 col-md-10 col-sm-9">
							<div class="form-group">
							 <select class="form-control" 
								  ng-model="takeVm.takeoff.architectureId" 
								  ng-options="architect.id as architect.name for architect in takeVm.architects" >
								  <option value="">--- Select ---</option>
								</select>
							</div>
						  </div>
						 
						
						  
						   
						   <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> 
							<span class="form-label">
								Project Number
							</span>
							<span class="colon">:</span> 
						</div>
						  <!-- .col -->
						  <div class="col-lg-10 col-md-10 col-sm-9">
							<div class="form-group">
							  <input type="text" placeholder="Project Number" class="form-control" maxlength="80" oninvalid="this.setCustomValidity('Enter Project Number');" onkeypress="this.setCustomValidity('');" ng-model="takeVm.takeoff.projectNumber"  />
							</div>
						  </div>
						  
						  <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> 
							<span class="form-label">
								Drawing Date
							</span>
							<span class="colon">:</span> 
						</div>
						  <!-- .col -->
						  <div class="col-lg-2 col-md-2 col-sm-9">
							<div class="form-group">
							  <input type="date" class="form-control" ng-model="takeVm.takeoff.drawingDate" ng-required="true" />
							</div>
						  </div>
						  <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> 
							<span class="form-label">
								Revised Date
							</span>
							<span class="colon">:</span> 
						</div>
						  <!-- .col -->
						  <div class="col-lg-2 col-md-2 col-sm-9">
							<div class="form-group">
							  <input type="date" class="form-control" ng-model="takeVm.takeoff.revisedDate" />
							</div>
						  </div>
					  <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> 
							<span class="form-label">
								Due Date
							</span>
							<span class="colon">:</span> 
						</div>
						  <!-- .col -->
						  <div class="col-lg-2 col-md-2 col-sm-9">
							<div class="form-group">
							  <input type="date" class="form-control" ng-model="takeVm.takeoff.dueDate" ng-required="true" />
							</div>
						  </div>
                          
						  <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right">
							  <span class="form-label">Dwgs Rcvd From</span>
							  <span class="colon">:</span> 
						 </div>
						  <!-- .col -->
						  <div class="col-lg-10 col-md-10 col-sm-9">
							<div class="form-group">
							  <input type="text" class="form-control" placeholder="Drawing Received From" maxlength="100" oninvalid="this.setCustomValidity('Drawing Received From');" onkeypress="this.setCustomValidity('');" ng-model="takeVm.takeoff.drawingReceivedFrom" />
							</div>
						  </div>
                          
                          <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right">
							  <span class="form-label">List of Bidders</span>
							  <span class="colon">:</span> 
						 </div>
						  <!-- .col -->
						  <div class="col-lg-10 col-md-10 col-sm-9">
							<div class="form-group">
							  <input type="text" class="form-control" placeholder="List of Bidders" maxlength="100" oninvalid="this.setCustomValidity('Drawing Received From');" onkeypress="this.setCustomValidity('');" ng-model="takeVm.takeoff.drawingReceivedFrom" />
							</div>
						  </div>
               
                  
					</div>
                    
                    <div class="row"> <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> &nbsp; </div><!-- .col --> <div class="col-lg-9 col-md-9 col-sm-8 pad_bot_30"> <div class="form-group"> <input value="Search" class="submit-btn btn btn-primary" type="submit"> &nbsp;&nbsp;&nbsp; <input value="Reset" class="reset-btn btn btn-info" onclick="this.form.reset();" type="reset"> </div> </div><!-- .col --> </div>
					<!-- .row -->
				   
				</form>
			</div>
		</div>
	</div>
</div>
<div style="clear:both;height:50px;"></div>
<div ng-include="'templates/footer.html'" ></div>


