<div ng-include="'templates/header.html'"></div>
<div ng-include="'templates/main-menu.html'"></div>
<div class="container-fluid">
  <div class="clearfix">
    <div class="panel panel-default" ng-init="takeVm.initTakeoffReportInputs();">
      <div class="panel-heading form-heading panel-heading-top">
        <label>Take Off Reports</label>
      </div>
      <div class="panel-body new-tk-bg">
        <form ng-submit="takeVm.rememberReportQueryParams();">
          <!-- .row -->
          <section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 pad_top_30 dashboard-content">
        <h1>Take Off Reports</h1>
      </div>
      <!-- .col -->
      <div style="font-size:14px;" class="col-lg-3 col-md-3 col-sm-3 text-center pad_top_30"> </div>
      <!-- .col -->
      <div class="col-lg-6 col-md-6 col-sm-6 text-right pad_bot_30"> <a id="form_display" class="btn btn-success" onclick="ShowHideForm('report_takeoff');" href="javascript:void(0);">Hide Report Form</a> </div>
    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
  <form style="display:block;" class="formular" action="" method="post" id="report_takeoff" name="report_takeoff">
    <div class="bg-d0e9f4 theme-form">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-3 visible-xs-padding-right"> <span class="new-take-off-title"><u>Between Two Dates</u></span> </div>
          <!-- .col -->
          <div class="col-lg-2 col-md-2 col-sm-2 visible-xs-padding-right"> <span class="new-take-off-title">From:</span> </div>
          <!-- .col -->
          <div class="col-lg-3 col-md-3 col-sm-2">
            <div class="form-group">
				<input type="text" class="form-control" placeholder="From Date" uib-datepicker-popup="{{dateFormat}}" ng-model="takeVm.takeoff.fromDate" is-open="takeVm.rptFromDate.opened" data-ng-click="takeVm.rptFromDatePicker()" datepicker-options="dateOptions" close-text="Close" close-on-date-selection="true" datepicker-append-to-body="true">	
            </div>
          </div>
          <!-- .col -->
          <div class="col-lg-2 col-md-2 col-sm-2 visible-xs-padding-right"> <span class="new-take-off-title">To:</span> </div>
          <!-- .col -->
          <div class="col-lg-3 col-md-3 col-sm-2">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="From Date" uib-datepicker-popup="{{dateFormat}}" ng-model="takeVm.takeoff.toDate" is-open="takeVm.rptToDate.opened" data-ng-click="takeVm.rptToDatePicker()" datepicker-options="dateOptions" close-text="Close" close-on-date-selection="true" datepicker-append-to-body="true">	
            </div>
          </div>
          <!-- .col -->
          <div class="col-lg-2 col-md-2 hidden-lg hidden-md col-sm-1 visible-xs-padding-right"> <span class="new-take-off-title">&nbsp;</span> </div>
          <!-- .col -->
          <div class="col-lg-2 hidden-md hidden-lg hidden-xs hidden-sm col-md-2 col-sm-3 visible-xs-padding-right"> <span class="new-take-off-title">&nbsp;</span> </div>
          <!-- .col -->
          <div class="col-lg-2 hidden-xs col-md-2 col-sm-3 visible-xs-padding-right"> <span class="new-take-off-title">&nbsp;</span> </div>
          <!-- .col -->
          <div class="col-lg-2 col-md-2 col-sm-2 visible-xs-padding-right"> <span class="new-take-off-title">Due Date From:</span> </div>
          <!-- .col -->
          <div class="col-lg-3 col-md-3 col-sm-2">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="From Date" uib-datepicker-popup="{{dateFormat}}" ng-model="takeVm.takeoff.fromDueDate" is-open="takeVm.rptDueDateFrom.opened" data-ng-click="takeVm.rptDueDateFromPicker()" datepicker-options="dateOptions" close-text="Close" close-on-date-selection="true" datepicker-append-to-body="true">	
            </div>
          </div>
          <!-- .col -->
          <div class="col-lg-2 col-md-2 col-sm-2 visible-xs-padding-right"> <span class="new-take-off-title">Due Date To:</span> </div>
          <!-- .col -->
          <div class="col-lg-3 col-md-3 col-sm-2">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="From Date" uib-datepicker-popup="{{dateFormat}}" ng-model="takeVm.takeoff.toDueDate" is-open="takeVm.rptDueDateTo.opened" data-ng-click="takeVm.rptDueDateToPicker()" datepicker-options="dateOptions" close-text="Close" close-on-date-selection="true" datepicker-append-to-body="true">	
            </div>
          </div>
          <!-- .col -->
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <hr>
          </div>
          <!-- .col -->
        </div>
        <!-- .row -->
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12"> <span class="new-take-off-title">Year:</span> </div>
          <!-- .col -->
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <div class="form-group">
				<select class="form-control" ng-model="takeVm.takeoff.year" 
				  ng-options="y.id as y.val for y in takeVm.rptYearRange" ng-required = "true">
				  <option value="">--- Select ---</option>
				</select>
            </div>
          </div>
          <!-- .col -->
          <div class="col-lg-2 col-md-2 col-sm-1 col-xs-12"> <span class="new-take-off-title">Salesman:</span> </div>
          <!-- .col -->
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <div class="form-group">
				<select class="form-control"
				  ng-model="takeVm.takeoff.salesPerson" 
				  ng-options="user.id as user.customName for user in takeVm.users">
				  <option value="">--- Select ---</option>
				</select>
            </div>
          </div>
          <!-- .col -->
          <div class="col-lg-2 col-md-2 col-sm-1 col-xs-12"> <span class="new-take-off-title">Usercode:</span> </div>
          <!-- .col -->
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <div class="form-group">
				<select class="form-control"
				  ng-model="takeVm.takeoff.userCode" 
				  ng-options="user.id as user.customName for user in takeVm.users">
				  <option value="">--- Select ---</option>
				</select>
            </div>
          </div>
          <!-- .col -->
        </div>
        <!-- .row -->
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12"> <span class="new-take-off-title">Engineer</span> </div>
          <!-- .col -->
          <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
            <div class="form-group">
				<select class="form-control"
				  ng-model="takeVm.takeoff.engineerId" 
				  ng-options="engineer.id as engineer.name for engineer in takeVm.engineers" >
				  <option value="">--- Select ---</option>
				</select>
            </div>
          </div>
          <!-- .col -->
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12"> <span class="new-take-off-title">Architect</span> </div>
          <!-- .col -->
          <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
            <div class="form-group">
				<select class="form-control" 
				  ng-model="takeVm.takeoff.architectureId" 
				  ng-options="architect.id as architect.name for architect in takeVm.architects" >
				  <option value="">--- Select ---</option>
				</select>
            </div>
          </div>
          <!-- .col -->
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12"> <span class="new-take-off-title">Specifications</span> </div>
          <!-- .col -->
          <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
            <div class="form-group">
              <select class="form-control"
			  ng-model="takeVm.takeoff.specId" 
			  ng-options="spec.id as spec.detail for spec in takeVm.specs">
			  <option value="">--- Select ---</option>
			</select>
            </div>
          </div>
          <!-- .col -->
        </div>
        <!-- .row -->
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <hr>
          </div>
          <!-- .col -->
          <div class="col-lg-12 col-md-12 col-sm-12 pad_top_301">
            <input type="submit" class="submit-btn btn btn-primary" value="Generate">
            &nbsp;&nbsp;&nbsp;
            <input type="reset" onclick="this.form.reset();" class="reset-btn btn btn-info" value="Reset">
          </div>
          <!-- .col -->
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <hr>
          </div>
          <!-- .col -->
        </div>
        <!-- .row -->
      </div>
      <!-- .container -->
    </div>
    <!-- .bg-d0e9f4 -->
  </form>
</section>
          <!-- .row -->
          <!-- .row -->
          <div class="row checkrow">
          </div>
          <!-- .row -->
        </form>
      </div>
    </div>
  </div>
</div>
<div style="clear:both;height:50px;"></div>
<div ng-include="'templates/footer.html'" ></div>
