<div ng-include="'templates/header.html'"></div>
<div ng-include="'templates/main-menu.html'"></div>
<div class="container-fluid" style="margin-top:-10px;">
  <div class="clearfix">
    <div class="panel panel-default shadow">
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <section>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-2 dashboard-content">
                    <h3>Trucker Claims</h3>
                  </div>
                  <!-- .col -->
                  <div class="col-lg-2 col-md-2 col-sm-2 text-center"> </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 text-center"> </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 text-center"> </div>
                  <!-- .col -->
                  <div class="col-lg-2 col-md-2 col-sm-2 text-center"> </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 text-right"> </div>
                  <!-- .col -->
                  <div style="margin-top:10px;" class="col-lg-12 col-md-12 col-sm-12"> </div>
                  <!-- .col --> </div>
                <!-- .row -->
                <div id="contents" class="row">
                  <div class="col-lg-12">
                    <table width="100%" cellspacing="0" cellpadding="0" border="1" class="table-responsive theme-table">
                      <thead>
					  <tr style="background:#F99;">
                          <td align="center"><strong>Date</strong></td>
                          <td align="center"><strong>PDF</strong></td>
                          <td align="center"><strong>Claim for<br>
                            Order</strong></td>
                          <td align="center"><strong>FSR#</strong></td>
                          <td align="center"><strong>ORBF</strong></td>
                          <td align="center"><strong>Contractor</strong></td>
                          <td align="center"><strong>Tracking#</strong></td>
                          <td align="center"><strong>Trucker</strong></td>
                          <td align="center"><strong>Claim<br>
                            Amount</strong></td>
                          <td align="center"><strong>Reason for<br>
                            Claim</strong></td>
                          <td align="center"><strong>SP</strong></td>
                          <td align="center"><strong>UC</strong></td>
                          <td align="center"></td>
                        </tr>
						</thead>
						<tbody>
					  <tr height="25" style="color:#009900">
						  <td style="padding-left:5px;"> {{fsrVm.claim.dateCreated | date:'shortDate'}}</td>
						  <td align="center" >
							<a href ng-click="fsrVm.showFileListingView('TC_PDF', fsrVm.claim.id, 'Trucker Claim FSR PDF', 'large', '.pdf', 'list-view');">
								<span class="badge">{{fsrVm.claim.pdfDocCount}}</span>
							</a>
							<a href ng-click="fsrVm.showFileListingView('TC_PDF', fsrVm.claim.id, 'Trucker Claim FSR PDF', 'large', '.pdf', 'upload-view');">						
								<img src="images/FileUploadIcon.png" alt="image" border="0" />
							</a>
						  </td>
						  <td align="center" style="padding-left:5px;"> {{fsrVm.claim.orderBookNumber}}</td>
						  <td align="center" style="padding-left:5px;">
							CT-0001							
						  </td>
						  <td align="center" style="padding-left:5px;"> {{fsrVm.claim.orbf}}</td>
						  <td style="padding-left:5px;"> {{fsrVm.claim.contractor.name}}</td>
						  <td align="center" style="padding-left:5px;"> {{fsrVm.claim.tracking}}</td>
						  <td style="padding-left:5px;"> {{fsrVm.claim.trucker.name}}</td>
						  <td align="center" style="padding-left:5px;"> {{fsrVm.claim.claimAmount | currency}}</td>
						  <td style="padding-left:5px;"> {{fsrVm.claim.reasonForClaim}}</td>
						  <td align="center" style="padding-left:5px;"> LP</td>
						  <td align="center" style="padding-left:5px;"> {{fsrVm.claim.userCode}}</td>
						  <td align="center" style="font-weight:bold;">{{fsrVm.claim.status}}</td>
						</tr>                        
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- .row -->
				<div class="row">
                  <div class="col-lg-12">
						<div class="table-container">
							<table width="100%" cellspacing="0" cellpadding="0" border="1" style="margin-top:15px;" class="table-responsive theme-table">
							  <thead>
								<tr style="background:#F99;">
								  <td align="center" style="width:200px; font-size:12px;"><strong>Followup Date</strong></td>
								  <td align="center" style="width:200px; font-size:12px;"><strong>UC</strong></td>
								  <td align="center" style="font-size:12px;"><strong>Follow up Details</strong></td>
								</tr>
							  </thead>
							  <tbody>
								<tr ng-repeat="fu in fsrVm.followups track by $index">
								  <td align="center">{{fu.dateCreated | date:'shortDate'}}</td>
								  <td align="center">{{fu.userCode}}</td>
								  <td valign="middle">
									{{fu.comment}}
								  </td>
								  </tr>							
							  </tbody>
							</table>
						</div>
					</div>
				</div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="table-container">
                      <form ng-submit="fsrVm.saveFollowup();">
                        <table width="100%" cellspacing="0" cellpadding="0" border="1" style="margin-top:15px;" class="table-responsive theme-table">
                          <tbody>
                            <tr style="background:#F99;">
                              <td align="center" style="width:200px; font-size:20px;"><strong>Date</strong></td>
                              <td align="center" style="font-size:20px;"><strong>New Follow up Details</strong></td>
                            </tr>
                          </tbody>
                          <tbody>
                            <tr>
                              <td align="center">{{fsrVm.currDate | date:'shortDate'}}</td>
                              <td valign="middle">
								<textarea rows="4" class="form-control" ng-model="fsrVm.followup.comment" ng-required="true"></textarea></td>
                            </tr>
                            <tr>
                              <td align="center" colspan="2"><div class="col-lg-5 col-md-5 col-sm-5">&nbsp;</div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                  <input type="submit" class="fu-add-action submit-btn btn btn-primary" value="Add Followup Claim" name="followup_button">                                 
								  <span id="fu-add-spinner" style="display:none;">
									<img src="images/loading.gif" />
								</span>
                                </div></td>
                            </tr>
                          </tbody>
                        </table>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- .row --> </div>
              <!-- .container-fluid --> </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div ng-include="'templates/footer.html'" ></div>
