<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie7 oldie"><![endif]-->
<!--[if IE 8 ]><html class="ie8 oldie"><![endif]-->
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> 
<html><!--<![endif]-->

	<head>
	
		<meta charset="UTF-8">
		<base href="/tutorial/">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">		
		<title>:: ALBERT WEISS AIR CONDITIONING PRODUCTS INC. ::</title>
	</head>
	<body>
		<div class="appLvl appLvlPlain pfv full clearfix">
			<fieldset>
				<div class="appHead clearfix">
					<div class="floatBegin"><img height="55" width="42" border="0" src="../images/pod_img_ups.gif" alt="UPS"></div>
					<h2>Proof of Delivery</h2>
				</div>	
				<div class="appBody clearfix">				
					<p>Dear Customer,</p>
					<p>This notice serves as proof of delivery for the shipment listed below.</p>
					<dl class="outHozFixed clearfix">
						<dt> <label>Tracking Number:</label> </dt>
						<dd>
                          1Z1536630359143967
						</dd>
						<dt><label>Service:</label></dt>
						<dd>UPS Ground</dd>
						<dt><label>Weight:</label></dt>
						<dd>10.00 lbs</dd>
						<dt><label>Shipped/Billed On:</label></dt>
						<dd>10/11/2017</dd>
						<dt><label>Delivered On:</label></dt>
						 <dd>
						  13/11/2017
						  10:25
						 </dd>
						<dt><label>Delivered To: </label></dt>
						<dd>
							MASPETH,						  
							NY,
							US
						</dd>				              
						<dt><label for="">Received By:</label></dt>									
						<dd>HERTIG</dd>        
						<dt><label>Left At:</label></dt>
						<dd>Receiver</dd>
					</dl>					
					<p>
				      Thank you for giving us this opportunity to serve you.
				    </p>
					<p>
					  Sincerely,
					</p>
				    <p>
				      UPS
				    </p>
									
					<p>Tracking results provided by UPS:
			      &nbsp;
			      13/11/2017 11:26
			      &nbsp;
			      ET</p>
				</div>
		
			</fieldset>
		</div>
	</body>
</html>