<div style="font-size:8px;font-weight:normal;line-height:12px;">
	<div class="panel-body">
		<ul ng-repeat="group in userVm.allPermissionsGroup" style="list-style-type: none;" class="col-md-6 col-sm-6 col-xs-12">
			<li class="col-xs-12">
				<label style="font-weight:bold;font-size:12pt;">{{group.groupName}}</label>
			</li>
			<li ng-repeat="permission in group.permissions" style="color:gray; font-size:10pt;" class="col-md-4 col-sm-4 col-xs-12">
				
				<label>
					 {{permission.description}}
				</label>
			</li>
		</ul>
	</div>
</div>
