<div style="font-size:8px;font-weight:normal;line-height:12px;">
	<table>
		<tbody>
			<tr>
			  <td valign="top"><br>
				&nbsp; <u><b>Take Off</b></u> <br>
				<br>
				&nbsp; View - Y<br>
				&nbsp; Add - Y<br>
				&nbsp; Edit - Y<br>
				&nbsp; Delete -Y<br>
				&nbsp; Search - Y<br>
				&nbsp; Reports -N<br>
				&nbsp; TakeOff Login Emails - Y<br>
				&nbsp; </td>
			  <td valign="top"><br>
				&nbsp; <u>Quote</u> <br>
				<br>
				&nbsp; View - Y<br>
				&nbsp; Add - Y<br>
				&nbsp; Edit - Y<br>
				&nbsp; Delete - Y<br>
				&nbsp; Followup - Y<br>
				&nbsp; Send Followup - Y<br>
				&nbsp; Make - Y<br>
				&nbsp; Search - Y<br>
				&nbsp; Reports - N<br>
				&nbsp; Quote CC to UC - Y<br>
				&nbsp; Quote CC to SP - Y<br>
				&nbsp; Quote Undead - N<br>
				&nbsp; Quote BCC - N<br>
				&nbsp; Quote Rev Email - N<br>
				&nbsp; </td>
			  <td valign="top"><br>
				&nbsp; <u>JobOrder</u> <br>
				<br>
				&nbsp; View - Y<br>
				&nbsp; Add - Y<br>
				&nbsp; Edit - Y<br>
				&nbsp; Delete - N<br>
				&nbsp; Search - Y<br>
				&nbsp; Invoice - Y<br>
				&nbsp; Reports - N<br>
				&nbsp; Monday Morning - N<br>
				&nbsp; Final Job Update - Y<br>
				&nbsp; Final Job Update Rollback - N<br>
				&nbsp; Delete Invoice EMail - N<br>
				&nbsp; Tax - N<br>
				&nbsp; </td>
			  <td valign="top"><br>
				&nbsp; <u>OrderBook</u> <br>
				<br>
				&nbsp; View - Y<br>
				&nbsp; Reg - Y<br>
				&nbsp; AW - Y<br>
				&nbsp; AWF - Y<br>
				&nbsp; SBC - Y<br>
				&nbsp; SPL - Y<br>
				&nbsp; Edit - Y<br>
				&nbsp; Delete - Y<br>
				&nbsp; ORBF - Y<br>
				&nbsp; Search - Y<br>
				&nbsp; Reports - N<br>
				&nbsp; ShipTo - Y<br>
				&nbsp; EST Date Reminder - Y<br>
				&nbsp; Change UC - N<br>
				&nbsp; </td>
			  <td valign="top"><br>
				&nbsp; <u>Inventory AW</u> <br>
				<br>
				&nbsp; View - Y<br>
				&nbsp; Add - Y<br>
				&nbsp; Edit - Y<br>
				&nbsp; Delete - Y<br>
				&nbsp; Admin - N<br>
				&nbsp; </td>
			  <td valign="top"><br>
				&nbsp; <u>Inventory AWF</u> <br>
				<br>
				&nbsp; View - Y<br>
				&nbsp; Add - Y<br>
				&nbsp; Edit - Y<br>
				&nbsp; Delete - Y<br>
				&nbsp; Admin - N<br>
				&nbsp; </td>
			</tr>
			<tr>
			  <td valign="top"><br>
				&nbsp; <u>Inventory SBC</u> <br>
				<br>
				&nbsp; View - Y<br>
				&nbsp; Add - Y<br>
				&nbsp; Edit - Y<br>
				&nbsp; Delete - Y<br>
				&nbsp; Admin - N<br>
				&nbsp; </td>
			  <td valign="top"><br>
				&nbsp; <u>Inventory SPL</u> <br>
				<br>
				&nbsp; View - Y<br>
				&nbsp; Add - Y<br>
				&nbsp; Edit - Y<br>
				&nbsp; Delete - Y<br>
				&nbsp; Admin - N<br>
				&nbsp; </td>
			  <td valign="top"><br>
				&nbsp; <u>Inventory J</u> <br>
				<br>
				&nbsp; View - Y<br>
				&nbsp; Add - Y<br>
				&nbsp; Edit - Y<br>
				&nbsp; Delete - Y<br>
				&nbsp; Admin - N<br>
				&nbsp; </td>
			  <td valign="top"><br>
				&nbsp; <u>BBT Access</u> - <br>
				<br>
				&nbsp; BBT - Y<br></td>
			  <td valign="top"><br>
				&nbsp; <u>Allow Marketing</u> - <br>
				<br>
				&nbsp; Marketing - Y<br>
				<br>
				&nbsp; Collection - Y<br>
				&nbsp; Claims - N<br></td>
			</tr>
		 </tbody>
	</table>
</div>
