<div ng-include="'templates/header.html'"></div>
<div ng-include="'templates/main-menu.html'"></div>
<div class="container-fluid" style="margin-top:-10px;">
	<div class="clearfix">
		<div class="panel panel-default shadow">
			<div class="panel-heading form-heading panel-heading-top">
				<label>Worksheet</label>				
			</div>
			<div class="panel-body">
				<form name="worksheetForm" ng-submit="wsVm.saveOrUpdateWorksheet();" >
				  <table class="table-responsive worksheet">
					<tr style="background-color:silver;">
						<th colspan="4" style="text-align:center;">
							OFFICE WORKSHEET
						</th>
					</tr>
					<tr>					
						<th>Project#</th>
						<td>{{wsVm.quote.projectNumber}}</td>
						<th>Date of Takeoff</th>
						<td>{{wsVm.quote.dateCreated | date:'shortDate'}}</td>
					</tr>
					<tr>
						<th>Address</th>
						<td>{{wsVm.quote.jobAddress}}</td>
						<th>Quote No</th>
						<td>{{wsVm.quote.quoteId}}</td>
					</tr>
					<tr>
						<th>Sales Person</th>
						<td>{{wsVm.quote.salesPersonName}}</td>
						<th>Quote Date</th>
						<td>{{wsVm.quote.quoteDate | date:'shortDate'}}</td>
					</tr>
					<tr>
						<th>Engineer</th>
						<td>{{wsVm.quote.engineerName}}</td>
						<th>User Code</th>
						<td>{{wsVm.quote.createdByUserCode}}</td>
					</tr>
					<tr>
						<th>Architecture</th>
						<td>{{wsVm.quote.architectureName}}</td>
						<th>Specification</th>
						<td>{{wsVm.quote.specName}}</td>
					</tr>
					<tr>
						<th>Bidders</th>
						<td colspan="3"></td>
					</tr>
				  </table>
				  <div>
					  <div style="width:100%;background-color:silver;margin-top:10px;border:1px solid red;text-align:center;">
						Manufacturer and product detail
						<span class="pull-right">
							<span class="actions" ng-click="wsVm.addWorksheetInfoBlock();" style="padding-right:10px;color:white;">Add [+] </span>
							|
							<span class="actions" ng-click="wsVm.removeWorksheetInfoBlock();" style="padding-left:10px;color:white;">Remove [-] </span>
						</span>
						
					</div>
					<div class="worksheet-info container" ng-repeat="manufacturerItem in wsVm.manufacturerItems track by $index">
						<div class="manufacture-row row">
							<div class="col-sm-2">
							  Select Manufacturer
							</div>
							<div class="col-sm-10">
								<select ng-required="true" 
								  ng-model="wsVm.worksheet.manufacturerItems[(manufacturerItem.id-1)].manufacturer.id" 
								  ng-options="manu.id as manu.productName for manu in wsVm.manufacturers" 
								  style="display:inline-block; height:40px; border-radius:5px; text-indent:5px; border:1px solid #ccc;">
								</select>
							</div>							
						</div>
						<div class="product-row-heading row">
							<div class="col-sm-2"> 
								Quantity 
							</div> 
							<div class="col-sm-5">
								Product
							</div> 
							<div class="col-sm-2"> 
								List Amount 
							</div> 
							<div class="col-sm-2">
								Net Amount
							</div>
						</div>
						<div class="product-row-input row" ng-repeat="productItem in wsVm.productItems track by $index" style="padding-bottom:5px;">
							<div class="col-sm-2"> 
								<input type="number" name="quantity" ng-model="wsVm.worksheet.manufacturerItems[(manufacturerItem.id-1)].productItems[$index].quantity" style="display:inline-block; height:40px; border-radius:5px; text-indent:5px; border:1px solid #ccc;" />
							</div> 
							<div class="col-sm-5">
								<select ng-required="true" 
								  ng-model="wsVm.worksheet.manufacturerItems[(manufacturerItem.id-1)].productItems[$index].id" 
								  ng-options="prod.id as prod.productName for prod in wsVm.products" 
								  style="display:inline-block; height:40px; border-radius:5px; text-indent:5px; border:1px solid #ccc;">
								</select>
							</div> 
							<div class="col-sm-2"> 
								<input  ng-change="wsVm.doCalculation(manufacturerItem.id-1);" ng-required="true" type="number" name="listAmount"  ng-model="wsVm.worksheet.manufacturerItems[(manufacturerItem.id-1)].productItems[$index].listAmount" style="display:inline-block; height:40px; border-radius:5px; text-indent:5px; border:1px solid #ccc;" />
							</div> 
							<div class="col-sm-2">
								<input  ng-change="wsVm.doCalculation(manufacturerItem.id-1);" type="number" name="netAmount"  ng-model="wsVm.worksheet.manufacturerItems[(manufacturerItem.id-1)].productItems[$index].netAmount" style="display:inline-block; height:40px; border-radius:5px; text-indent:5px; border:1px solid #ccc;" />
							</div>		
							<div class="col-sm-1">
								<span ng-show="$index == 0">
									<span class="actions" ng-click="wsVm.addNewProduct(wsVm.productItems.length, manufacturerItem.id-1);" style="padding-right:10px;">Add [+] </span>
								</span>
								<span ng-show="$index > 0" class="actions" ng-click="wsVm.removeNewProduct($index, manufacturerItem.id-1);" style="padding-right:10px;">Remove [-] </span>								
							</div>
						</div>
						<div class="productItem-row-total row">
							<div class="col-sm-7" style="text-align:right;">
								Total :
							</div> 
							<div class="col-sm-2"> 
								<input  ng-required="true" type="number" name="listTotal" id="listTotal-{{manufacturerItem.id-1}}"  ng-model="wsVm.worksheet.manufacturerItems[(manufacturerItem.id-1)].listTotal" style="display:inline-block; height:40px; border-radius:5px; text-indent:5px; border:1px solid #ccc;background-color:#eee;" ng-readonly="true" />
							</div> 
							<div class="col-sm-2">
								<input  type="number" name="netTotal"  id="netTotal-{{manufacturerItem.id-1}}" ng-model="wsVm.worksheet.manufacturerItems[(manufacturerItem.id-1)].netTotal" style="display:inline-block; height:40px; border-radius:5px; text-indent:5px; border:1px solid #ccc;background-color:#eee;" ng-readonly="true" />
							</div>
							<div class="col-sm-1">
								
							</div>
						</div>
						<div class="productItem-row-grand-total row">
							<div class="col-sm-2">
								<span ng-show="wsVm.specialCase">List total + {{wsVm.specialMultiplier}} %</span>
								<span ng-show="!wsVm.specialCase">Total list amount</span>
							</div> 
							<div class="col-sm-1">
							</div>
							<div class="col-sm-1">Multiplier</div> 
							<div class="col-sm-1">
							</div>
							<div class="col-sm-1"></div> 
							<div class="col-sm-1">
							</div>
							<div class="col-sm-1">Total Net</div>
							<div class="col-sm-1">
							</div>							
							<div class="col-sm-1">Freight</div> 
							<div class="col-sm-1">
							</div>
							<div class="col-sm-1">Total Price</div> 
						</div>
						<div class="productItem-row-grand-total row">
							<div class="col-sm-2">
								<input  type="number" name="percentAmount" id="percentAmount-{{manufacturerItem.id-1}}" ng-model="wsVm.worksheet.manufacturerItems[(manufacturerItem.id-1)].percentAmount" style="display:inline-block; height:40px; border-radius:5px; text-indent:5px; border:1px solid #ccc;background-color:#eee;" ng-readonly="true" />
							</div> 
							<div class="col-sm-1">
								<span> X </span>
							</div>
							<div class="col-sm-1">
								<select ng-required="true" 
								  ng-model="wsVm.worksheet.manufacturerItems[(manufacturerItem.id-1)].multiplier" 
								  ng-options="multiplier.multiplier as multiplier.multiplier for multiplier in wsVm.multipliers" 
								  style="display:inline-block; height:40px; border-radius:5px; text-indent:5px; border:1px solid #ccc;">
								</select>
							</div> 
							<div class="col-sm-1">
								<span> = </span>
							</div>
							<div class="col-sm-1">
								<input  ng-required="true" type="number" id="multPercentAmount-{{manufacturerItem.id-1}}" name="multPercentAmount" ng-model="wsVm.worksheet.manufacturerItems[(manufacturerItem.id-1)].multPercentAmount" style="display:inline-block; height:40px; border-radius:5px; text-indent:5px; border:1px solid #ccc;background-color:#eee;" ng-readonly="true" />
							</div> 
							<div class="col-sm-1">
								<span> + </span>
							</div>
							<div class="col-sm-1">
								<input  type="number" name="netTotal" id="netTotal2-{{manufacturerItem.id-1}}" ng-model="wsVm.worksheet.manufacturerItems[(manufacturerItem.id-1)].netTotal" style="display:inline-block; height:40px; border-radius:5px; text-indent:5px; border:1px solid #ccc;background-color:#eee;" ng-readonly="true" />
							</div> 
							<div class="col-sm-1">
								<span> + </span>
							</div>
							<div class="col-sm-1">
								<input  ng-change="wsVm.doCalculation(manufacturerItem.id-1);" type="text" name="freight" ng-model="wsVm.worksheet.manufacturerItems[(manufacturerItem.id-1)].freight" style="display:inline-block; height:40px; border-radius:5px; text-indent:5px; border:1px solid #ccc;" />
							</div> 
							<div class="col-sm-1">
								<span> = </span>
							</div>
							<div class="col-sm-1">
								<input  ng-required="true" type="number" name="totalPrice" id="totalPrice-{{manufacturerItem.id-1}}" ng-model="wsVm.worksheet.manufacturerItems[(manufacturerItem.id-1)].totalPrice" style="display:inline-block; height:40px; border-radius:5px; text-indent:5px; border:1px solid #ccc;background-color:#eee;" ng-readonly="true"  />
							</div> 
						</div>
						<div class="productItem-row-pdni row" style="padding-bottom:5px;padding-top:5px;" ng-repeat="pdni in wsVm.sPdnis track by $index">
							<div class="col-sm-1">P.D.N.I</div> 
							<div class="col-sm-10">
								<select  ng-required="true" 
								  ng-model="wsVm.worksheet.manufacturerItems[(manufacturerItem.id-1)].pdnis[$index].id" 
								  ng-options="pd.id as pd.pdniName for pd in wsVm.pdnis" 
								  style="display:inline-block; height:40px; border-radius:5px; text-indent:5px; border:1px solid #ccc;">
								</select>
							</div> 
							<div class="col-sm-1">
								<span ng-show="$index == 0">
									<span class="actions" ng-click="wsVm.addPdni();">Add [+] </span>
								</span>
								<span ng-show="$index > 0" class="actions" ng-click="wsVm.removePdni();">Remove [-] </span>
							</div>
						</div>
						<div class="productItem-row-comment row" style="padding-bottom:5px;padding-top:5px;">
							<div class="col-sm-1">Comment</div> 
							<div class="col-sm-11">
								<input  ng-required="true" type="text" name="comments" ng-model="wsVm.worksheet.manufacturerItems[(manufacturerItem.id-1)].comments" style="display:inline-block; height:40px; border-radius:5px; text-indent:5px; border:1px solid #ccc;" />
							</div> 
						</div>
					</div>
				  </div>
				  <table class="table-responsive worksheet">
					<tr style="background-color:silver;">
						<th colspan="4" style="text-align:center;">
							Worksheet Notes
							<span class="pull-right">
								<span class="actions" ng-click="wsVm.addWorksheetNote();" style="padding-right:10px;color:white;">Add [+] </span> |
								<span class="pull-right actions" ng-click="wsVm.removeWorksheetNote();" style="padding-left:10px;color:white;">Remove [-] </span>
							</span>
						</th>
					</tr>
					<tr ng-repeat="note in wsVm.sNotes track by $index">
						<td colspan="4">
							<select  ng-required="true" 
							  ng-model="wsVm.worksheet.notes[$index].id" 
							  ng-options="n.id as n.note for n in wsVm.quoteNotes" >
							</select>
						</td>
					</tr>
				  </table>
				    <table class="table-responsive worksheet-textarea">
						<tr style="background-color:silver;">
							<th colspan="4" style="text-align:center;">
								Special Notes
							</th>
						</tr>
						<tr>
							<td colspan="4">
								<textarea name="specialNotes" ng-model="worksheet.specialNotes" />
							</td>
						</tr>				
				  </table>
				  <div style="text-align:center; margin-top:10px;">
					<input ng-disabled="{{wsVm.disableAction}}" class="btn btn-primary" type="submit" value="{{wsVm.wsAction}}" />
				  </div>
				</form>
			</div>
		</div>
	</div>
</div>
<div ng-include="'templates/footer.html'" ></div>
