
/* custom-class */
.bottom-mar{margin-bottom:20px;}
.pop-up-alert-footer {
    border-top: 1px solid #e5e5e5;
    padding: 15px;
    text-align: center;
}
.pop-up-alert {
    background: #0b54a1 none repeat scroll 0 0;
    border-radius: 4px;
    color: white;
    height: 40px;
    text-align: center;
}
.pop-up-alert-title {
    line-height: 0.428571;
    margin: 0;
}
.dropdown-menu > li, dropdown-menu > li > a{margin:0px !important;}

.worksheet h1 {
    color: #4b4b4b;
    font-family: Tahoma;
    font-size: 2em;
    font-weight: normal;
    line-height: 1em;
}
.worksheet tr th{border:1px solid #999; width:10%; padding: 5px; font-weight:bold;}
.worksheet tr td {border:1px solid #999; width:40%; padding: 5px; text-transform:uppercase;}
.pad5 {
    padding: 5px;
}
/* end-custom-class */



.nav-tabs.nav-justified > li > a{background:#d4a3b1 !important; color:#000;font-weight:bold;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{color:#fff; font-weight:bold;}
.order-hed > div {
    border: 1px solid #d4a3b1;
    color: #666;
    font-weight: bold;
	padding:4px;
	text-align:center;
}
.order-hed > div span{font-size:16px; }
.order-hed-con > div{color:#000; min-height:70px; padding:6px; background:#FFFFCE;text-align:center; border: 1px solid #d4a3b1;}
.prob-hei{border: 1px solid #d4a3b1;}
.prob-hei > div{line-height:25px;}
.prob-bg-hed > div{
    background: #d4a3b1;
    color: #fff;
    font-weight: bold;
    padding: 15px 0;
	border-right:1px solid #fff;
	text-align:center;
}
.input-color input{background:#fff !important;}

.widget-clock.blue-light .clock-face {
  stroke: #153b6f;
  fill: #0e2434;
}
.widget-clock.blue-light .minor {
  stroke: #0089ff;
  stroke-width: 0.5;
}
.widget-clock.blue-light .major {
  stroke: rgba(119, 176, 242, 0.97);
  stroke-width: 0.5;
}
.widget-clock.blue-light .hour {
  stroke: rgba(119, 176, 242, 0.97);
  stroke-width: 1;
}
.widget-clock.blue-light .minute {
  stroke: #0089ff;
  stroke-width: 0.75;
}
.widget-clock.blue-light .second,
.widget-clock.blue-light .second-counterweight {
  stroke: rgb(234, 31, 54);
  stroke-width: 0.5;
}
.widget-clock.blue-light .second-counterweight {
  stroke-width: 1.5;
}
.modal-header-css{
text-align:center; background:#337ab7; color:white; height:50px; border-radius:4px;
}
.alert-zindex{z-index:99000 !important;}

/*takeoff-css*/

.theme-row {background: #42a6d3 none repeat scroll 0 0;}
.bg-dark-green {background: #02577d none repeat scroll 0 0;}
.datepicker::before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    left: 6px;
    position: absolute;
    top: -7px;
}
.datepicker::after {
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    left: 7px;
    position: absolute;
    top: -6px;
}
.bg-8DB3B3 {
    background: #8db3b3 none repeat scroll 0 0;
    color: #ffffff;
}
.bg-BD7589 {
    background: #bd7589 none repeat scroll 0 0;
    padding: 5px;
}
tr.bg-dark-green td {
    color: white;
}
.table-container table td {
    padding: 4px;
}
.theme-table td {
    font-size: 12px;
	text-transform:uppercase;
}
.bg-4D7373 {
    background: #4d7373 none repeat scroll 0 0;
    color: #fff;
}
.bg-7D3549 {
    background: #7D3549;
    color: #FFF;
}
.theme-table input {
    font-size: 1.2em;
    line-height: 1.5em;
    width: 100% !important;
}
.star.red {
    color: #ff0000;
}
.pad-none{padding-left:0; padding-right:0;}
.panel-heading-top{font-family:sans-serif;}
.new-tk-bg{background-color:#d0e9f4 !important;}

.panel-heading-top > label {
    font-size: 15px;
	font-weight:bold;
}
.form-group{margin-bottom:5px;}

.colon {
    float: right;
    font-weight: bold;
}
.form-group{padding:0;}
.form-label {
    font-size: 13px;
    font-weight: bold;
}
.form-control{height:30px;}
.pagination{margin:0;}
.color-red {
    color: red;
    font-size: 12px;
}
.color-green {
    color: green;
    font-size: 12px;
}
.color-blue {
    color: blue;
    font-size: 12px;
}
.per-page-row{font-size:12px;}
.per-page-row select{padding:5px;}
.btn-two{width:100%;}

.popover {
	max-height:800px;
    max-width: 1000px; /* optional max width */
    width: intrinsic; /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content; /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
}

.custom-list {
  height: 300px;
  border: solid 1pt darkblue;
  border-radius: 15px;
}

.custom-list .bidder {
  border-bottom: dashed 1pt darkblue;
  padding: 5px 5px; 
}

.takeoff-red{
	color:red;
}
.takeoff-green{
	color:green;
}
.takeoff-blue{
	color:blue;
}

.angucomplete-dropdown {
    overflow-y: auto;
    max-height: 200px; // your preference
}
.worksheet{ 
	width:100%;margin-top:5px;border:1px solid #000;padding:10px;
}
.actions{cursor:pointer;}
.worksheet select{width:100%; display:inline-block; height:40px; border:2px solid #ccc; text-indent:10px;}
.worksheet-textarea{ 
	width:100%;margin-top:5px;
}
.worksheet-info{
	width:100%;margin-bottom:25px;border:1px solid #999;padding:10px; font-weight:bold;
}
.worksheet-info select{width:100%; display:inline-block; height:40px; border:2px solid #ccc; text-indent:10px; font-weight:normal; font-size:14px; text-transform:uppercase;}
.worksheet-info input{width:100%; display:inline-block; height:40px; border:2px solid #ccc; text-indent:10px; font-weight:normal; font-size:14px; text-transform:uppercase;}

.worksheet-textarea textarea{width:100%; display:inline-block; height:75px; border:1px solid #999; text-indent:10px; font-weight:normal;}
.product-row{display:inline-block; padding:8px 0px; margin:0px 0px 8px 0px;}
.product-row label{display:block; font:normal 15px ralewayregular;}
.product-row input[type="text"]{display:inline-block; height:40px; border-radius:5px; text-indent:5px; border:1px solid #ccc; font-weight:normal;}
.product-row select{display:inline-block; height:40px; border-radius:5px; border:1px solid #ccc;}
.product-row-heading{border-top:1px solid #ccc; padding:10px 0; display:block; margin:15px 0 10px;background:#f6f6f6;}
.productItem-row-grand-total-u{border-top:1px solid #ccc;display:block; margin:10px 0; padding:10px 0; background:#f6f6f6;}
.productItem-row-grand-total{margin:10px 0;}
.productItem-row-grand-total span{float:right;}
.add-product-row{display:inline-block; width:100%; padding:8px 0px; margin:0px 0px 8px 0px;}
.add-product-row label{display:block; font:normal 15px ralewayregular;}
.add-product-row input[type="text"]{width:100%; display:inline-block; height:40px; border-radius:5px; text-indent:5px; border:1px solid #ccc;}
.add-product-row select{width:100%; display:inline-block; height:40px; border-radius:5px; border:1px solid #ccc;}
.add-product-row textarea{width:100%; display:inline-block; height:150px; border-radius:5px; padding:5px;}
.add-product-row ul{margin:0; padding:0; list-style:none;}
.add-product-row ul li{position:relative; display:block; float:left; width:25%; margin:8px 0px 0px 0px;}
.add-product-row ul li input[type="checkbox"]{margin:0px 10px 0px 0px;}
.add-product-row input[type="submit"]{display:inline-block; padding:6px 12px; border-radius:5px; text-indent:5px; border:1px solid #ccc; font-size:18px; background:#333; color:#fff;}
.add-product-row th{display:inline-block; height:40px; border-radius:5px; text-indent:5px; border:1px solid #ccc;}